<!-- form-user-reg -->
<div class="container">
<form method="POST" action="/account/new" class="userform">
<table class="wide">
<tr>
<td>Email:</td>
<td><input type="text" name="email" value="{#email}" class="input width-200"></td>
</tr>
<tr>
<td>Пароль:</td>
<td><input type="text" name="password" class="input width-200" id="pwd"> <label class="iblock middle"><input type="checkbox" id="pass_toggle" checked> Показать</label></td>
</tr>
<td colspan="2" class="center">
<div class="hidden"><input type="text" name="robot" value=""></div>
<input type="submit" value="Регистрация">
</td>
</tr>
</table>
{#reg-error}
</form>
</div>
<script>
$('#pass_toggle').click(function() {
	if($(this).is(':checked')) {
		$('#pwd').attr('type', 'text');
	}
	else {
		$('#pwd').attr('type', 'password');
	}
});
</script>
<!-- form-user-reg -->

<!-- form-user-login -->
<div class="container">
<form method="POST" action="/account/login" class="userform">
<table class="wide">
<tr>
<td>Email:</td>
<td><input type="email" name="email" value="{#email}" class="input width-200" required></td>
</tr>
<tr>
<td>Пароль:</td>
<td><input type="password" name="password" class="input width-200" required></td>
</tr>
<tr>
<td colspan="2" class="center">
	<input type="submit" value="Войти">
	<div class="hidden"><input type="text" name="robot" value=""></div>
</td>
</tr>
<tr>
<td colspan="2" class="center small">
	<a href="/account/new" class="yandex-goal" data-goal="USER_REGISTER">Регистрация</a> |
	<a href="/account/restore">Забыли пароль?</a>
</td>
</tr>
</table>
{#auth-error}
</form>
</div>
<!-- form-user-login -->

<!-- form-user-restore -->
<form method="POST" action="/account/restore" class="userform">
<table class="wide">
<tr>
<td>Email:</td>
<td>
	<input type="email" name="email" value="{#email}" class="input width-200">
</td>
</tr>
<td></td>
<td>
	<input type="submit" value="Восстановить пароль">
	<div class="hidden"><input type="text" name="robot" value=""></div>
</td>
</tr>
</table>
{#error}
</form>
<!-- form-user-restore -->

<!-- reg-success -->
<div class="container">
	<div class="reg-form alert notice">
	<p>На Ваш электронный ящик отправлено сообщение с кодом подтверждения.</p>
	Для продолжения регистрации просим проверить Вашу почту и пройти по указанной ссылке.
	</div>
</div>
<!-- reg-success -->

<!-- restore-success -->
<div class="container">
	<div class="alert notice">
	<p>На Ваш электронный ящик отправлено сообщение с инструкциями по восстановлению пароля.</p>
	Если Вы не получили сообщение, попробуйте повторить операцию.
	</div>
</div>
<!-- restore-success -->

<!-- restore-transfer-success -->
<div class="container">
	<div class="alert notice">
	<p>Приветствуем вас на обновленном сайте Yamibox.Ru!</p>
	<p>Мы перенесли вашу учетную запись со старого сайта. Чтобы войти на сайт, восстановите ваш пароль.</p>
	<p>На Ваш электронный ящик {#email} отправлено сообщение с инструкциями по восстановлению пароля.</p>
	Если Вы не получили сообщение, попробуйте повторить операцию.
	</div>
</div>
<!-- restore-transfer-success -->

<!-- restoration-success -->
<div class="container">
	<div class="alert notice">
	<p>Новый пароль Вашей учетной записи: {#user-new-password}</p>
	<p>Не забудьте <a href="/account">установить новый пароль</a> в личном кабинете.</p>
	<p><a href="/account">Личный кабинет</a></p>
	</div>
</div>
<!-- restoration-success -->

<!-- registration-success -->
<div class="container">
	<div class="alert notice">
	<p>Ваша учетная запись активирована.</p>
	<a href="/account">Личный кабинет</a>
	</div>
</div>
<!-- registration-success -->

<!-- activation-error -->
<div class="container">
	<div class="alert error">
	{#error}
	</div>
</div>
<script>
dataLayer.push({'event':'GAevent', 'eventCategory':'reg_auth', 'eventAction':'email_valid', 'eventLabel':'done'});
</script>
<!-- activation-error -->


<!-- account-menu -->
<ul class="account-menu">
<li class="title">Личный кабинет</li>
<li><a href="/account">Личные данные</a></li>
<li><a href="/account/yamibonus">Мои ямибонусы</a></li>
<li><a href="/account/coupons">Мои купоны</a></li>
<li><a href="/account/wishlist">Мой Wishlist</a></li>
<br>
<li class="title">Заказы</li>
<li><a href="/account/orders">История заказов</a></li>
<br>
<li class="title">Обратная связь</li>
<li><a href="/account/feedback">Связаться с нами</a></li>
<li><a href="/account/reviews">Мои отзывы</a></li>
</ul>
<!-- account-menu -->

<!-- account-info -->
<div class="elastic">
<form method="post" action="/account" class="fleft">
<h3>Личные данные</h3>
<table class="table-2 mb20">
<tr>
<td class="right width-150">Имя</td>
<td><input type="text" name="firstname" value="{#firstname}" class="input width-200"></td>
</tr>
<tr>
<td class="right">фамилия</td>
<td><input type="text" name="lastname" value="{#lastname}" class="input width-200"></td>
</tr>
<tr>
<td class="right">Телефон</td>
<td><input type="text" name="phone" value="{#phone}" class="input width-200" placeholder="+71234567890"></td>
</tr>
<tr>
<td class="right">День рождения</td>
<td><input type="date" name="bdate" value="{#bdate}" class="input width-200" placeholder="гггг-мм-дд"></td>
</tr>
<tr>
<td class="right">Новый пароль</td>
<td><input type="password" name="password" class="input width-200"></td>
</tr>
<tr>
<td class="right">Подтверждение пароля</td>
<td><input type="password" name="password_confirm" class="input width-200"></td>
</tr>
</table>
<h3>Адрес доставки</h3>
<table class="table-2 mb20">
<tr>
<td class="right width-150">Регион</td>
<td><input type="text" name="region" value="{#region}" class="input width-200"></td>
</tr>
<tr>
<td class="right width-150">Город</td>
<td><input type="text" name="city" value="{#city}" class="input width-200"></td>
</tr>
<tr>
<td class="right">Индекс</td>
<td><input type="text" name="zipcode" value="{#zipcode}" class="input width-200"></td>
</tr>
<tr>
<td class="right">Улица</td>
<td><input type="text" name="street" value="{#street}" class="input width-200"></td>
</tr>
<tr>
<td class="right">Дом</td>
<td><input type="text" name="building" value="{#building}" class="input width-100"></td>
</tr>
<tr>
<td class="right">Корпус/строение</td>
<td><input type="text" name="building-add" value="{#building-add}" class="input width-100"></td>
</tr>
<tr>
<td class="right">Квартира/офис</td>
<td><input type="text" name="apt" value="{#apt}" class="input width-100"></td>
</tr>
</table>
<div class="center">
<input type="submit" value="Сохранить">
</div>
</form>
<div class="fleft" style="padding-left:50px">
<h3>Мои ями-бонусы</h3>
<div class="bonus-circle">{#bonus}</div>
<h3>Накопленная скидка - {#cumulative}%</h3>
</div>
</div>
<!-- gtm-account-confirmed --><script>
dataLayer.push({'event':'GAevent', 'eventCategory':'reg_auth', 'eventAction':'email_valid', 'eventLabel':'done'});
</script><!-- gtm-account-confirmed -->
<!-- account-info -->

<!-- account-orders -->
<h3>История заказов</h3>
<table class="table-2 account-orders">
<tr>
<td class="bold">Номер заказа</td>
<td class="bold width-100">Дата</td>
<td class="bold width-100">Статус</td>
<td class="bold width-125">Оплата</td>
<td class="bold">Идентификатор отправления</td>
<td class="bold width-100 right">Сумма</td>
</tr>
<!-- account-order -->
<tr>
<td class="center"><a href="/order-info/{#uid}">{#id}</a></td>
<td>{#cdate}</td>
<td>{#status-text}</td>
<td><!-- order-paid --><span class="iblock center green bold paid">Оплачен</span><!-- order-paid -->
<!-- order-not-paid --><span class="iblock center red bold not-paid">Не оплачен</span><!-- order-not-paid -->
{#robox-payment-link}
</td>
<td>{#tracking_id}</td>
<td class="right">{#order-sum} р.</td>
</tr>
<!-- account-order -->
</table>
<!-- account-orders -->

<!-- account-orders-empty -->
<h3>История заказов</h3>
<div class="center">Пока ни одного заказа</div>
<!-- account-orders-empty -->

<!-- account-feedback -->
<script type="text/javascript" src="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.js"></script>
<style type="text/css" media="screen, projection">
	@import url(https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.css); 
</style> 
<iframe class="freshwidget-embedded-form" id="freshwidget-embedded-form" src="https://yamibox.freshdesk.com/widgets/feedback_widget/new?&widgetType=embedded&submitThanks=%D0%A1%D0%BF%D0%B0%D1%81%D0%B8%D0%B1%D0%BE!+%D0%92%D0%B0%D1%88%D0%B5+%D1%81%D0%BE%D0%BE%D0%B1%D1%89%D0%B5%D0%BD%D0%B8%D0%B5+%D0%BE%D1%82%D0%BF%D1%80%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%BE.&screenshot=no&attachFile=no&searchArea=no" scrolling="no" height="550px" width="100%" frameborder="0" >
</iframe>
<!-- account-feedback -->

<!-- account-reviews -->
<h3>Мои отзывы</h3>
<table class="table-2 account-reviews">
<tr>
<td class="bold">Дата</td>
<td class="bold center" colspan="2">Товар</td>
<td class="bold">Оценка</td>
<td class="bold">Текст</td>
</tr>
<!-- account-review -->
<tr>
<td>{#cdate}</td>
<td><a href="{#product-href}"><img src="{#product-img}" alt="{#product_name}" width="60" height="60"></a></td>
<td class="width-175"><a href="{#product-href}">{#product_name}</a></td>
<td>{#rating}</td>
<td>{#content}</td>
</tr>
<!-- account-review -->
</table>
<!-- account-reviews -->

<!-- account-reviews-empty -->
<h3>Мои отзывы</h3>
<div class="center">Вы не написали ни одного отзыва</div>
<!-- account-reviews-empty -->

<!-- account-yamibonus -->
<h3>Мои ямибонусы</h3>
<div class="elastic">
<div class="fleft width-450">
<p class="bold">Каждому посетителю сайта — Ямибонусы</p>
<p>Что такое Ямибонусы? Так мы называем баллы, которыми поощряем Вас за каждое активное действие на нашем сайте или страничке в соцсетях.</p>
<p>Ямибонус — это денежный бонус (балл), который можно использовать в следующей покупке.</p>

<h3 class="center">1 ямибонус = 1 рубль</h3>
<p class="bold">Как получить Ямибонусы?</p>
<p>Это совсем не сложно, достаточно совершить любое из перечисленных ниже действий.</p>

<p>
Ямибонусы начисляются за:<br>
40 ямибонусов - регистрацию на сайте;<br>
20 ямибонусов - подписка на e-mail рассылку магазина;<br>
10 ямибонусов - написание отзыва о купленной продукции на сайте;<br>
20 ямибонусов - написание отзыва о купленной продукции с фотографиями в соцсетях (в официальной группе магазина).
</p>
</div>
<div class="fleft" style="padding-left:50px">
<div class="bonus-circle">{#bonus}</div>
<h3>Накопленная скидка - {#cumulative}%</h3>
</div>
</div>
<!-- account-yamibonus -->

<!-- account-page -->
<div class="elastic account-page">
{#left-column}
{#right-column}
</div>
<!-- account-page -->

<!-- add2wishlist-success -->
<div class="center nowrap" style="padding:20px 30px;font-size:16px">
Товар добавлен в Ваш<br>
<a href="/account/wishlist" style="text-decoration:underline">Wishlist</a>
</div>
<!-- add2wishlist-success -->

<!-- add2wishlist-auth -->
<div class="center" style="padding:20px 30px;font-size:16px">
Чтобы добавлять товары в свой Wishlist<br>
Вы должны <a href="/account/login" class="yandex-goal" data-goal="USER_LOGIN">войти</a> или<br>
<a href="/account/new" class="yandex-goal" data-goal="USER_REGISTER">зарегистрироваться</a>
</div>
<!-- add2wishlist-auth -->

<!-- account-wishlist -->
<h3>Мой Wishlist</h3>
<!-- account-wishlist-items -->
<table class="table-4 wide wishlist">
<!-- account-wishlist-item -->
<tr>
<td class="middle width-50"><a href="/wishlist-remove/{#id}{#option-id}" class="delete">X</a></td>
<td width="80">
<div class="imagebox">
<a href="/product/{#url_name}"><img src="{#product-img}" alt="{#name}" width="60" height="60"></a>
</div>
</td>
<td class="middle"><p><a href="/product/{#url_name}{#product-option-id}">{#name}{#option-name}</a></p>
<p class="short-description">{#short_text}</p></td>
<td>{#price-old}
<div class="price">{#price}&nbsp;р.</div></td>
<td class="center">{#delivery-icon}<br>{#stock-text}</td>
</tr>
<!-- account-wishlist-item -->
</table>

<script>
$('.delete').click(function(e) {
	e.preventDefault();
	var $tr = $(this).parent().parent();
	$.get($(this).attr('href'), function(response) {
		if(response == 'ok') $tr.hide();
		else alert(response);
	});
});
</script>
<!-- account-wishlist-items -->
<!-- account-wishlist-empty -->
Список пуст
<!-- account-wishlist-empty -->
<!-- account-wishlist -->


<!-- account-coupons -->
<h3>Мои купоны</h3>
<table class="table-4 coupons">
<tr>
<td class="bold width-100">Код купона</td>
<td class="bold right width-100">Скидка</td>
<td class="bold right width-100">Создан</td>
<td class="bold right width-100">Истекает</td>
</tr>
<!-- account-coupon -->
<tr>
<td>{#code}</td>
<td class="right">{#discount-text}</td>
<td class="right">{#cdate}</td>
<td class="right">{#edate}</td>
</tr>
<!-- account-coupon -->
</table>
<!-- account-coupons -->


<!-- account-coupons-empty -->
<h3>Мои купоны</h3>
<div class="center">У вас пока нет купонов</div>
<!-- account-coupons-empty -->



