<div class="mb20 bold debt sum_debt_total">Итого: {#sum_debt_total}</div>
<div class="table" id="admin-bills">
	<!-- admin-bills-supplier -->
	<div class="cell">
		<table class="atable supplier-bills">
		<tr class="bold">
		<td>{#supplier_name}</td>
		<td>поставка</td>
		<td>оплачено</td>
		</tr>
		<tr>
		<td class="bold debt">{#sum_debt}</td>
		<td>{#sum_bill}</td>
		<td class="red">{#sum_debit}</td>
		</tr>
		<tr>
		<td class="bold deferred">{#sum_defer}</td>
		<td></td>
		<td></td>
		</tr>
		<tr>
		<td colspan="3"></td>
		</tr>
		<tr class="bold">
		<td>начало</td>
		<td>{#sum_bill_start}</td>
		<td></td>
		</tr>
		<tr>
		<td colspan="3"></td>
		</tr>
		<tr>
		<td>отсрочка</td>
		<td><input type="text" name="defer_days" value="{#defer_days}" class="width-25 defer_days" data-sid="{#supplier_id}"></td>
		<td></td>
		</tr>
		<tr>
		<td class="bold">сумма</td>
		<td><input type="text" name="sum" value="" class="width-75 bill_input" data-sid="{#supplier_id}"></td>
		<td></td>
		</tr>
		<tr>
		<td colspan="3"></td>
		</tr>
		<tr class="bold">
		<td>дата</td>
		<td>сумма</td>
		<td></td>
		</tr>
		<!-- supplier-bill --><tr>
		<td>{#bill_date}</td>
		<td class="{#bill_class}">{#bill_sum}</td>
		<td>{#debit}</td>
		</tr><!-- supplier-bill -->
		</table>
	</div>
	<!-- admin-bills-supplier -->
</div>
<script>
$('.defer_days').change(function() {
	var $el = $(this);
	var data = $el.data();
	data.action = 'update-defer-days';
	data.defer_days = $el.val();
	$.post('/admin/bills', data, function(response) {
		if(response == 'ok') {
			$el.blink();
			location.reload();
		}
		else alert(response);
	});
});
$('.bill_input').keyup(function(e) {
	if(e.keyCode == 13) {
		var $el = $(this);
		var data = $el.data();
		data.action = 'bill-insert';
		data.sum = $el.val();
		$.post('/admin/bills', data, function(response) {
			if(response == 'ok') {
				$el.blink();
				location.reload();
			}
			else alert(response);
		});
	}
});
</script>