<!-- admin-pnl-restricted-1 -->
<p>Для вывода актуальных данных обновите таблицу</p>
<table class="table-5 mb20">
<tr>
<td>
<form method="post" action="/admin/pnl" enctype="multipart/form-data" id="form-pnl-excerpt">
<p>Загрузить выписку по счету из банка</p>
<input type="file" name="excerpt">
<input type="hidden" name="action" value="import_excerpt">
<input type="submit" value="Загрузить">
</form>
</td>
<td>
<form method="post" action="/admin/pnl" id="form-pnl-update">
<p>Обновить данные таблицы</p>
<input type="hidden" name="action" value="update_pnl_data">
<input type="submit" value="Обновить"> {#loadgif}
</form>
</td>
</tr>
</table>
<!-- admin-pnl-restricted-1 -->
<form method="get" action="/admin/pnl" class="mb20" id="form-pnl-year">
<select name="year" onchange="$('#form-pnl-year').submit()">
{#year-option}
</select>
</form>

<table class="atable" id="admin-pnl">
<tr>
<td></td>
<!-- col-month-name --><td class="bold width-75">{#month-name}</td><!-- col-month-name -->
<td class="bold">{#year}</td>
</tr>
<tr>
<td>Посетители</td>
<!-- col-visitors --><td><div class="update visitors" contenteditable data-action="update-visitors" data-year="{#data-year}" data-month="{#data-month}">{#visitors}</div></td><!-- col-visitors -->
<td class="bold">{#year_visitors}</td>
</tr>
<tr>
<td>Покупатели</td>
<!-- col-buyers --><td>{#buyers}</td><!-- col-buyers -->
<td class="bold">{#year_buyers}</td>
</tr>
<tr>
<td class="bold">Конверсия</td>
<!-- col-conversion --><td class="bold">{#conversion}%</td><!-- col-conversion -->
<td class="bold">{#year_conversion}</td>
</tr>
<tr class="pnl-orders-tr">
<td colspan="14" class="bold center">Заказы</td>
</tr>
<tr>
<td>Поступило</td>
<!-- col-orders --><td>{#orders}</td><!-- col-orders -->
<td class="bold">{#year_orders}</td>
</tr>
<tr>
<td>Отменено</td>
<!-- col-orders_cancel --><td>{#orders_cancel}</td><!-- col-orders_cancel -->
<td class="bold">{#year_orders_cancel}</td>
</tr>
<tr>
<td>В обработке</td>
<!-- col-orders_confirmed --><td>{#orders_confirmed}</td><!-- col-orders_confirmed -->
<td class="bold">{#year_orders_confirmed}</td>
</tr>
<tr>
<td>Всего отгружено</td>
<!-- col-orders_shipping --><td>{#orders_shipping}</td><!-- col-orders_shipping -->
<td class="bold">{#year_orders_shipping}</td>
</tr>
<tr>
<td>-- в пути</td>
<!-- col-orders_status_3 --><td>{#orders_status_3}</td><!-- col-orders_status_3 -->
<td class="bold">{#year_orders_status_3}</td>
</tr>
<tr>
<td>-- прибыл в ПВЗ</td>
<!-- col-orders_status_8 --><td>{#orders_status_8}</td><!-- col-orders_status_8 -->
<td class="bold">{#year_orders_status_8}</td>
</tr>
<tr>
<td>-- доставлен</td>
<!-- col-orders_status_4 --><td>{#orders_status_4}</td><!-- col-orders_status_4 -->
<td class="bold">{#year_orders_status_4}</td>
</tr>
<tr>
<td>Возвратов</td>
<!-- col-orders_return --><td>{#orders_return}</td><!-- col-orders_return -->
<td class="bold">{#year_orders_return}</td>
</tr>
<tr>
<td>-- возврат</td>
<!-- col-orders_status_9 --><td>{#orders_status_9}</td><!-- col-orders_status_9 -->
<td class="bold">{#year_orders_status_9}</td>
</tr>
<tr>
<td>-- вернулся</td>
<!-- col-orders_status_10 --><td>{#orders_status_10}</td><!-- col-orders_status_10 -->
<td class="bold">{#year_orders_status_10}</td>
</tr>
<tr>
<td class="bold">Процент возвратов</td>
<!-- col-orders_return_pc --><td class="bold">{#orders_return_pc}%</td><!-- col-orders_return_pc -->
<td class="bold">{#year_orders_return_pc}</td>
</tr>
<tr>
<td colspan="14"></td>
</tr>
<tr class="pnl-income-tr">
<td colspan="14" class="bold center">PnL</td>
</tr>
<tr>
<td class="bold">Поступило</td>
<!-- col-sum_orders --><td class="bold">{#sum_orders}</td><!-- col-sum_orders -->
<td class="bold">{#year_sum_orders}</td>
</tr>
<tr>
<td>-- отменено</td>
<!-- col-sum_orders_cancel --><td>{#sum_orders_cancel}</td><!-- col-sum_orders_cancel -->
<td class="bold">{#year_sum_orders_cancel}</td>
</tr>
<tr>
<td>-- в обработке</td>
<!-- col-sum_orders_confirmed --><td>{#sum_orders_confirmed}</td><!-- col-sum_orders_confirmed -->
<td class="bold">{#year_sum_orders_confirmed}</td>
</tr>
<tr>
<td class="bold">Всего отгружено</td>
<!-- col-sum_orders_shipping --><td class="bold">{#sum_orders_shipping}</td><!-- col-sum_orders_shipping -->
<td class="bold">{#year_sum_orders_shipping}</td>
</tr>
<tr>
<td>-- -- в пути</td>
<!-- col-sum_orders_status_3 --><td>{#sum_orders_status_3}</td><!-- col-sum_orders_status_3 -->
<td class="bold">{#year_sum_orders_status_3}</td>
</tr>
<tr>
<td>-- -- прибыл в ПВЗ</td>
<!-- col-sum_orders_status_8 --><td>{#sum_orders_status_8}</td><!-- col-sum_orders_status_8 -->
<td class="bold">{#year_sum_orders_status_8}</td>
</tr>
<tr>
<td>-- -- доставлен</td>
<!-- col-sum_orders_status_4 --><td>{#sum_orders_status_4}</td><!-- col-sum_orders_status_4 -->
<td class="bold">{#year_sum_orders_status_4}</td>
</tr>
<tr>
<td class="bold">-- возвратов</td>
<!-- col-sum_orders_return --><td class="bold">{#sum_orders_return}</td><!-- col-sum_orders_return -->
<td class="bold">{#year_sum_orders_return}</td>
</tr>
<tr>
<td>-- -- возврат</td>
<!-- col-sum_orders_status_9 --><td>{#sum_orders_status_9}</td><!-- col-sum_orders_status_9 -->
<td class="bold">{#year_sum_orders_status_9}</td>
</tr>
<tr>
<td>-- -- вернулся</td>
<!-- col-sum_orders_status_10 --><td>{#sum_orders_status_10}</td><!-- col-sum_orders_status_10 -->
<td class="bold">{#year_sum_orders_status_10}</td>
</tr>
<tr>
<td class="bold">-- доставка с покупателей</td>
<!-- col-sum_delivery_price --><td class="bold">{#sum_delivery_price}</td><!-- col-sum_delivery_price -->
<td class="bold">{#year_sum_delivery_price}</td>
</tr>
<tr>
<td class="bold">-- себестоимость товаров</td>
<!-- col-sum_orders_buyin --><td class="bold">{#sum_orders_buyin}</td><!-- col-sum_orders_buyin -->
<td class="bold">{#year_sum_orders_buyin}</td>
</tr>
<tr>
<td>-- -- в пути</td>
<!-- col-sum_orders_buyin_status_3 --><td>{#sum_orders_buyin_status_3}</td><!-- col-sum_orders_buyin_status_3 -->
<td class="bold">{#year_sum_orders_buyin_status_3}</td>
</tr>
<tr>
<td>-- -- прибыл в ПВЗ</td>
<!-- col-sum_orders_buyin_status_8 --><td>{#sum_orders_buyin_status_8}</td><!-- col-sum_orders_buyin_status_8 -->
<td class="bold">{#year_sum_orders_buyin_status_8}</td>
</tr>
<tr>
<td>-- -- доставлен</td>
<!-- col-sum_orders_buyin_status_4 --><td>{#sum_orders_buyin_status_4}</td><!-- col-sum_orders_buyin_status_4 -->
<td class="bold">{#year_sum_orders_buyin_status_4}</td>
</tr>
<tr>
<td>-- -- возврат</td>
<!-- col-sum_orders_buyin_status_9 --><td>{#sum_orders_buyin_status_9}</td><!-- col-sum_orders_buyin_status_9 -->
<td class="bold">{#year_sum_orders_buyin_status_9}</td>
</tr>
<tr>
<td>-- -- вернулся</td>
<!-- col-sum_orders_buyin_status_10 --><td>{#sum_orders_buyin_status_10}</td><!-- col-sum_orders_buyin_status_10 -->
<td class="bold">{#year_sum_orders_buyin_status_10}</td>
</tr>
<tr class="bold">
<td colspan="14" class="bold center">Постоянные расходы</td>
</tr>
<tr class="bold">
<td colspan="14" class="bold center">Переменные расходы</td>
</tr>
<tr>
<td>Доставка с магазина</td>
<!-- col-sum_delivery_price_real --><td>{#sum_delivery_price_real}</td><!-- col-sum_delivery_price_real -->
<td class="bold">{#year_sum_delivery_price_real}</td>
</tr>
<tr>
<td>Комиссия РК</td>
<!-- col-sum_rk_fee --><td>{#sum_rk_fee}</td><!-- col-sum_rk_fee -->
<td class="bold">{#year_sum_rk_fee}</td>
</tr>
<tr>
<td>Сумма отправленных заявок</td>
<!-- col-sum_buyin --><td>{#sum_buyin}</td><!-- col-sum_buyin -->
<td class="bold">{#year_sum_buyin}</td>
</tr>
<tr>
<td>-- в процентах</td>
<!-- col-sum_buyin_pc --><td>{#sum_buyin_pc}%</td><!-- col-sum_buyin_pc -->
<td class="bold">{#year_sum_buyin_pc}</td>
</tr>
<tr>
<td class="bold">Процент выкупа</td>
<!-- col-orders_success_pc --><td class="bold">{#orders_success_pc}%</td><!-- col-orders_success_pc -->
<td class="bold">{#year_orders_success_pc}</td>
</tr>
<tr>
<td class="bold">Средний чек</td>
<!-- col-order_sum_avg --><td class="bold">{#order_sum_avg}</td><!-- col-order_sum_avg -->
<td class="bold">{#year_order_sum_avg}</td>
</tr>
<tr>
<td colspan="14"></td>
</tr>
<tr>
<td class="bold">Итого доходы</td>
<!-- col-income_total --><td class="bold">{#income_total}</td><!-- col-income_total -->
<td class="bold">{#year_income_total}</td>
</tr>
<tr>
<td class="bold">Валовая прибыль</td>
<!-- col-sum_gross_profit --><td class="bold">{#sum_gross_profit}</td><!-- col-sum_gross_profit -->
<td class="bold">{#year_sum_gross_profit}</td>
</tr>
<tr>
<td colspan="14"></td>
</tr>
<tr class="pnl-expense-tr">
<td colspan="14" class="bold center">CashFlow</td>
</tr>
<tr>
<td colspan="14" class="bold center">Доходы-факт</td>
</tr>
<!-- row-credit -->
<tr>
<td title="{#account}"><div class="update company_name" contenteditable data-action="update-company_name" data-account="{#account}">{#company_name}</div></td>
<!-- col-credit --><td>{#credit}</td><!-- col-credit -->
<td class="bold">{#year_credit}</td>
</tr>
<!-- row-credit -->
<tr>
<td class="bold">Доходы-факт</td>
<!-- col-income_fact --><td class="bold">{#income_fact}</td><!-- col-income_fact -->
<td class="bold">{#year_income_fact}</td>
</tr>
<tr>
<td colspan="14"></td>
</tr>
<tr>
<td colspan="14" class="bold center">Расходы-факт</td>
</tr>
<!-- row-debit-supplier -->
<tr>
<td title="{#account}"><div class="update company_name" contenteditable data-action="update-company_name" data-account="{#account}">{#company_name}</div></td>
<!-- col-debit-supplier --><td>{#debit}</td><!-- col-debit-supplier -->
<td class="bold">{#year_debit}</td>
</tr>
<!-- row-debit-supplier -->

<!-- <div class="redblock"><p>
<tr>
<td class="bold">Расхождение с заявками</td>
<!-- col-sum_buyin_diff --><td class="bold">{#sum_buyin_diff}</td><!-- col-sum_buyin_diff -->
<td class="bold">{#year_sum_buyin_diff}</td>
</tr>
</p></div> -->

<tr>
<td colspan="14"></td>
</tr>
<!-- row-debit -->
<tr>
<td title="{#account}"><div class="update company_name" contenteditable data-action="update-company_name" data-account="{#account}">{#company_name}</div></td>
<!-- col-debit --><td>{#debit}</td><!-- col-debit -->
<td class="bold">{#year_debit}</td>
</tr>
<!-- row-debit -->
<!-- row-debit-tax -->
<tr>
<td colspan="14"></td>
</tr>
<tr>
<td title="{#account}"><div class="update company_name" contenteditable data-action="update-company_name" data-account="{#account}">{#company_name}</div></td>
<!-- col-debit-tax --><td>{#debit}</td><!-- col-debit-tax -->
<td class="bold">{#year_debit}</td>
</tr>
<!-- row-debit-tax -->
<!-- row-debit-fee -->
<tr>
<td title="{#account}"><div class="update company_name" contenteditable data-action="update-company_name" data-account="{#account}">{#company_name}</div></td>
<!-- col-debit-fee --><td>{#debit}</td><!-- col-debit-fee -->
<td class="bold">{#year_debit}</td>
</tr>
<!-- row-debit-fee -->
<tr>
<td class="bold">Итого расходы</td>
<!-- col-expence_total --><td class="bold">{#expense_total}</td><!-- col-expence_total -->
<td class="bold">{#year_expense_total}</td>
</tr>
<tr>
<td colspan="14"></td>
</tr>
<tr class="pnl-expected-tr">
<td class="bold">Ожидания</td>
<!-- col-balance_expected --><td class="bold">{#balance_expected}</td><!-- col-balance_expected -->
<td class="bold">{#year_balance_expected}</td>
</tr>
<tr class="pnl-real-tr">
<td class="bold">Реальность</td>
<!-- col-balance_fact --><td class="bold">{#balance_fact}</td><!-- col-balance_fact -->
<td class="bold">{#year_balance_fact}</td>
</tr>
</table>
<!-- admin-pnl-restricted-2 -->
<script>
var $form_excerpt = $('#form-pnl-excerpt');
$form_excerpt.ajaxForm({
	success: function(response) {
		if(is_numeric(response)) {
			alert('Файл успешно обработан, добавлено ' + response + ' записей.\nОбновите данные таблицы.');
			location.reload();
		}
		else {
			alert(response);
		}
	}
});
var $form_update = $('#form-pnl-update');
$form_update.ajaxForm({
	beforeSubmit: function() {
		$form_update.find('.loadgif').show();
	},
	success: function(response) {
		$form_update.find('.loadgif').hide();
		alert(response);
		if(response == 'ok') location.reload();
	}
});
$('#admin-pnl .update').on('focus', function() {
	var current_val = $(this).text();
	$(this).data('current_val', current_val);
});
$('#admin-pnl .update').on('blur', function() {
	var $el = $(this);
	var data = $el.data();
	data.value = $el.text();
	if(data.value == data.current_val) return;
	$.post('/admin/pnl', data, function(response) {
		if(response == 'ok') {
			$el.blink();
			setTimeout(function() {
				location.reload();
			}, 1200);
		}
		else alert(response);
	});
});
</script>
<!-- admin-pnl-restricted-2 -->