<!-- blog-list -->
<div class="blog-list">
<!-- blog-item -->
<article class="elastic">
<a href="/yamiblog/{#title_url}" class="imagebox fleft">
<img src="/files/blog/{#image}" alt="{#title}">
</a>
<div class="preview fleft">
<h3><a href="/yamiblog/{#title_url}">{#title}</a></h3>
{#preview}
</div>
</article>
<!-- blog-item -->
</div>
{#paginator}
<!-- blog-list -->


<!-- blog-item-detailed -->
<div class="blog-item-detailed">
<article class="elastic">
<!-- blog-item-image --><a href="/files/blog/{#image}" class="imagebox fleft top">
<img src="/files/blog/{#image}" alt="{#title}">
</a><!-- blog-item-image -->
<h2>{#title}</h2>
{#content}
</article>
</div>
<!-- blog-item-detailed -->


<!-- page-oplata -->
<table class="table-4">
<tr>
<td colspan="4"><div class="page-title"><h1>Условия оплаты</h3></div></td>
</tr>
<tr>
<td>&nbsp;</td>
<td class="center bold">Москва</td>
<td class="center bold">Россия</td>
</tr>
<tr>
<td>Оплата в офисе самовывоза</td>
<td class="center">да</td>
<td class="center">нет</td>
</tr>
<tr>
<td>Оплата курьеру в Москве</td>
<td class="center">да</td>
<td class="center">нет</td>
</tr>
<tr>
<td>Наложенный платеж (при получении - в постамате или ПВЗ)</td>
<td class="center">да</td>
<td class="center">да</td>
</tr>
<tr>
<td>Банковская карта (Visa, MasterCard)</td>
<td class="center">да</td>
<td class="center">да</td>
</tr>
<tr>
<td>Webmoney</td>
<td class="center">да</td>
<td class="center">да</td>
</tr>
<tr>
<td>Яндекс.Деньги</td>
<td class="center">да</td>
<td class="center">да</td>
</tr>
<tr>
<td>QIWI Кошелек</td>
<td class="center">да</td>
<td class="center">да</td>
</tr>
<tr>
<td>Связной и Евросеть</td>
<td class="center">да</td>
<td class="center">да</td>
</tr>
<tr>
<td>SMS-платеж</td>
<td class="center">да</td>
<td class="center">да</td>
</tr>
</table>
<!-- page-oplata -->

<!-- page-dostavka -->
<table class="table-4 mb20">
<tr>
<td colspan="4"><div class="page-title"><h1>Условия доставки</h3></div></td>
</tr>
<tr>
<td>&nbsp;</td>
<td class="bold">Москва</td>
<td class="bold">Россия</td>
</tr>
<tr>
<td class="top">Самовывоз из магазина</td>
<td>Бесплатно, все в наличии<br><a href="http://maps.yandex.ru/?ol=biz&oid=1167076956" style="text-decoration:underline" target="_blank">посмотреть на Яндекс.Картах</a></td>
<td class="top">---</td>
</tr>
<tr>
<td class="top">Курьером до двери</td>
<td>250 руб.<br>срок - 0-1 день<br><span class="pink">бесплатно от 4000 руб.</span></td>
<td class="top">от 230 руб.<br>срок - от 2 дней<br><span class="pink">бесплатно от 5000 руб.</span></td>
</tr>
<tr>
<td class="top">Доставка в ПВЗ или постамат</td>
<td>от 80 руб.<br>срок - 2 дня<br><span class="pink">бесплатно от 4000 руб.</span></td>
<td>от 90 руб.<br>срок - от 2 дней<br><span class="pink">бесплатно от 5000 руб.</span></td>
</tr>
<tr>
<td class="top">Почта России</td>
<td class="top">---</td>
<td>от 150 руб.<br>срок - от 5 дней<br><span class="pink">бесплатно от 5000 руб.</span></td>
</tr>
<tr>
<td colspan="4" class="center"><br>При любом варианте доставки вы будете получать СМС о текущем состоянии отправления</td>
</tr>
</table>
<!-- page-dostavka -->

<!-- delivery-map -->
<table class="mb20a table-4">
<tr>
<td>Регион</td>
<td><select name="region" class="input" id="region">
{#region-option}
</select></td>
<td>Город</td>
<td><select name="city" class="input" id="city">
{#city-option}
</select></td>
</tr>
</table>

<div class="mb20">
	<div id="yamimap" style="display:block"></div>
</div>

<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script>
var $region = $('#region'), $city = $('#city');
ymaps.ready(function() {
	var cityname = $city.val() || 'Москва';
	var center = [55.76, 37.64];
	ymaps.geocode(cityname, {
		results: 1
	}).then(function (res) {
		center = res.geoObjects.get(0).geometry.getCoordinates();
	});
	yamimap = new ymaps.Map("yamimap", {
		center : center,
		zoom : 11,
		controls: ['zoomControl']
	});
	go_to_location(cityname);
});
$city.change(function() {
	var cityname = $city.val().trim();
	if(!cityname) {
		return false;
	}
	$.cookie('city_to', cityname);
	go_to_location(cityname);
});

$region.change(function() {
	var region = $region.val();
	$.cookie('region_to', region);
	$city.html('<option value="">Населенный пункт</option>');
	$.get('/delivery/list/locations', {'region':region}, function(list) {
		for(c in list) {
			var $option = $('<option value="'+list[c].name+'">'+list[c].name+'</option>');
			$option.appendTo($city);
		}
	}, 'json');
});
function go_to_location(cityname) {
	ymaps.geocode(cityname, {
		results: 1
	}).then(function (res) {
		var firstGeoObject = res.geoObjects.get(0),
			coords = firstGeoObject.geometry.getCoordinates(),
			bounds = firstGeoObject.properties.get('boundedBy');
		var location_name = firstGeoObject.properties.get('name');
		show_map_points(cityname);
		yamimap.setBounds(bounds, {
			checkZoomRange: true
		});
	}, {
		autoFitToViewport: 'always'
	});
}

function show_map_points(cityname) {
	yamimap.geoObjects.removeAll();
	$.get('/delivery/list/sl_points', {'city':cityname}, function(points) {
		if(points.list.length) {
			for(i in points.list) {
				var point = points.list[i];
				var html = '<span class="pink bold">'+point.delivery_name+'</span>';
				html += '<br>' + point.name + '<br>' + point.address;
				if(point.phone) html += '<br>Тел: ' + point.phone;
				if(point.worktime) html += '<br>' + point.worktime;
				if(point.metro) html += '<br>Метро: ' + point.metro;
				if(point.dservice != 10) {
					html += '<br>' + '<span class="bold">Доставка: ' + point.delivery_price + ' р.';
					if(point.days) html += ', ' + point.days + ' р. дн.';
					html += '</span>';
				}
				var customCircle = ymaps.templateLayoutFactory.createClass('<div class="yamimap-placemark" id="point-'+i+'"><span class="yamimap-delivery-icon delivery-'+point.dservice+'"></span></div>');
				var z = 650;
				if(point.dservice == 10) z = 651;
				if(point.dservice == 5) z = 648;
				if(point.dservice == 6) z = 649;
				var placemark = new ymaps.Placemark([point.latitude, point.longitude], {
					balloonContent : html,
				}, {
					iconLayout: customCircle,
					iconShape: {
						type: 'Circle',
						coordinates: [0, 0],
						radius: 12
					},
					zIndex: z
				});
				placemark.events.add(['click'], function(e) {
					//var placemarkPixelCoordinates = placemark.geometry.getPixelGeometry().getCoordinates();
					//yamimap.setGlobalPixelCenter([placemarkPixelCoordinates[0], placemarkPixelCoordinates[1]],
					//yamimap.getZoom(), {duration: 250});
				});
				yamimap.geoObjects.add(placemark);
			}
		}
	}, 'json');
}
</script>
<!-- delivery-map -->

<!-- brands-page -->
<div id="brands">
{#intro-brand}
</div>
<!-- brands-page -->

