<!-- cart-list -->
<form method="post" action="/cart" class="cart-list">
<table class="wide mb20">
<thead>
<tr>
<td>&nbsp;</td>
<td class="center width-100">Продукт</td>
<td>&nbsp;</td>
<td class="right">Цена</td>
<td>Количество</td>
<td class="right">Стоимость</td>
</tr>
</thead>
<tbody>
<!-- cart-item -->
<tr>
<td><a href="{#remove-href}" class="remove" title="Убрать этот товар из корзины">X</a></td>
<td class="center middle">
	<a href="{#product-href}" class="imagebox"><img src="{#product-img}" alt="{#name}"></a>
</td>
<td><p><a href="{#product-href}" class="name">{#name}</a></p>
<p class="short-description">{#short_text}</p>
<!-- option-label --><span class="bold pink">{#option-name}</span><!-- option-label -->
</td>
<td class="right">{#price-old}<div class="price">{#price} р.</div></td>
<td class="center"><input type="number" name="{#number-input-name}" value="{#product-count}" class="number-input width-50" max="{#quantity}" min="1" title="В наличии {#quantity} шт."></td>
<td class="right"><div class="price right">{#product-sum} р.</div></td>
</tr>
<!-- cart-item -->
<!-- cart-gift -->
<tr>
<td>&nbsp;</td>
<td class="center middle">
	<a href="/files/product/{#img}" class="imagebox colorbox"><img src="/files/product/thumbs/{#img}" alt="*"></a>
</td>
<td><p>{#name}</p>
<p class="short-description">{#short_text}</p>
</td>
<td class="right"><div class="price">{#price} р.</div></td>
<td class="center"><div class="price">{#quantity}</div></td>
<td class="right"><div class="price right">{#price} р.</div></td>
</tr>
<!-- cart-gift -->
</tbody>
<tfoot>
<tr>
<td colspan="6" class="right totals">
<label class="iblock width-300 right">Общая стоимость товаров:</label> <span class="iblock width-100 right">{#cart-sum} р.</span>
</td>
</tr>
<tr>
<td>&nbsp;</td>
<td colspan="2" class="middle">
<!-- bonus-input --><p>У вас есть {#bonus} бонусов. Сколько хотите потратить? Максимум - {#max-bonus}</p>
<input type="text" name="bonus" value="{#bonus-spend}" class="input-promo" placeholder="Введите количество бонусов">
<input type="submit" value="" class="button apply-bonus"><!-- bonus-input -->
<br><br>
<p>Если у вас есть промокод, введите его здесь:</p>
<input type="text" name="code" value="{#coupon}" class="input-promo" placeholder="Введите промокод">
<input type="submit" value="" class="button apply-promocode"></td>
<td colspan="3" class="right totals">
	<img src="/ui/img/loadgif.gif" alt="loadgif" class="loadgif" style="display:none">
	<input type="submit" value="Пересчитать заказ"><br><br>
	<label class="iblock width-220 right">Накопленная скидка ({#cumulative}%):</label> <span class="iblock width-100 right">-{#cumulative-discount} р.</span>
	<br>
	<label class="iblock width-100 right">Бонусы:</label> <span class="iblock width-100 right">-{#bonus-discount} р.</span>
	<br>
	<label class="iblock width-100 right">Купон:</label> <span class="iblock width-100 right">-{#coupon-discount} р.</span>
	<br>
	<label class="iblock width-100 right">Итого:</label> <span class="iblock width-100 right">{#total-sum} р.</span>
	<br><br>
	<p class="iblock width-245 left" style="font-size:12px">
	Бесплатная доставка рассчитывается автоматически при оформлении заказа.<br>
	</p><br>
	<div class="iblock center">
	<a href="/cart/order" class="button order">&nbsp;</a>
	<br>или<br>
	<input type="button" value="" class="button oneclick yandex-goal" data-goal="QUICK_ORDER">
	</div>
</td>
</tr>
</tfoot>
</table>
{#cart-alert}
</form>

<!-- oneclick-form -->
<form method="post" action="/cart/order" id="oneclick-form">
<div class="bg"></div>
<table class="wrapper"><tr><td class="center middle">
	<table class="modal m0a">
	<thead>
	<tr>
	<td class="left middle">Быстрый заказ</td>
	<td class="right middle"><span class="close">X</span></td>
	</tr>
	</thead>
	<tbody>
	<tr>
	<td>&nbsp;</td>
	<td class="left grey"><br>Заполните форму, и наши<br>
	менеджеры свяжутся с вами<br>
	в течение часа или утром,<br>
	если сейчас ночь</td>
	</tr>
	<tr>
	<td class="right">Ваше имя<span class="red">*</span></td>
	<td class="left"><input type="text" name="firstname" value="{#firstname}" class="input width-150" required></td>
	</tr>
	<tr>
	<td class="right">Моб. телефон<span class="red">*</span></td>
	<td class="left middle"><input type="text" name="phone" value="{#phone}" class="input width-150" required></td>
	</tr>
	<tr>
	<td class="right">Эл. почта</td>
	<td class="left"><input type="email" name="email" value="{#email}" class="input width-150"></td>
	</tr>
	<tr>
	<td class="top right">Комментарий</td>
	<td class="left"><textarea name="comment" class="input width-175" rows="4"></textarea></td>
	</tr>
	<tr>
	<td><img alt="" src="/ui/captcha.php" class="pointer" id="captcha" style="border:solid 1px #ccc"></td>
	<td class="left middle">Защитный код <input type="text" name="captcha" class="input width-100" required></td>
	</tr>
	<tr>
	<td colspan="2"><input type="hidden" name="form" value="oneclick">
	<input type="hidden" name="robot" value="">
	<input type="submit" value="" class="button oneclick-confirm yandex-goal" data-goal="QUICK_ORDER_SUBMIT"> {#loadgif}
	<br><br>
	<p id="oneclick-form-success" class="green" style="display:none">Ваш заказ принят. Мы свяжемся с вами в течение часа.</p>
	<p id="oneclick-form-fail" class="red" style="display:none">Ошибка</p></td>
	</tr>
	</tbody>
	</table>
</td></tr></table>
</form>
<script>
$('#captcha').click(function() {
	$(this).attr('src', '/ui/captcha.php?' + new Date().getTime());
});
$('.button.oneclick').click(function() {
	$('#oneclick-form').fadeIn('fast');
});
$('#oneclick-form .close').click(function() {
	$('#oneclick-form').fadeOut('fast');
	$('#oneclick-form-fail, #oneclick-form-success').hide();
});
$('#oneclick-form').ajaxForm({
	dataType: 'json',
	beforeSubmit: function() {
		$('#oneclick-form .loadgif').show();
	},
	success: function(response) {
		$('#oneclick-form .loadgif, #oneclick-form-fail, #oneclick-form-success').hide();
		if(response.status == 'ok') {
			$('#oneclick-form-success').show();
			setTimeout(function() {
				redirect('{#site-url}/order-info/' + response.order_uid);
			}, 2000);
		}
		else {
			$('#oneclick-form-fail').text(response.message).show();
		}
		dataLayer.push({'event':'GAevent', 'eventCategory':'order', 'eventAction':'order_1click_form', 'eventLabel':'send'});
	}
});
</script>
<!-- oneclick-form -->

<script>
$('.cart-list').ajaxForm({
	beforeSubmit: function() {
		$('[type="submit"]').disable();
		$('.cart-list .loadgif').show();
	},
	success: function(response) {
		if(response !== 'ok') alert(response);
		location.reload();
	}
});
$('.remove').click(function(e) {
	e.preventDefault();
	$.get($(this).attr('href'), function(response) {
		location.reload();
	});
});
</script>
<!-- cart-list -->

<!-- cart-notice -->
<div class="cart-modal center">
<!-- cart-error -->
<div class="alert error">{#cart-msg}</div>
<!-- cart-error -->
<!-- cart-success -->
<p class="text nowrap">{#cart-msg}</p>
<p><a href="{#site-url}/cart" rel="no-follow" class="cart-link">Перейти в корзину</a></p>
<p><a href="{#site-url}/cart/order" rel="no-follow" class="cart-link">Оформить заказ</a></p>
<!-- yandex-goal-add2cart --><script>
yaCounter22486162.reachGoal('ADD_PRODUCT_TO_CART');
</script><!-- yandex-goal-add2cart -->
<script>
if(typeof(_tx) == 'object') {
	_tx.sendEvent("547f155dec1e2b5240965e88", " hybridaddbasket ");
}
var cart_text = '{#cart-text}';
$('#cart-text').html(cart_text);
load_cart_widget(function() {
	$('.cart-widget-max').slideToggle();
});
</script>
<!-- cart-success -->
</div>
<!-- cart-notice -->


<!-- cart-empty -->
<h3 class="center">Корзина пуста</h3>
<br>
<div class="mb20 center">
<a href="{#site-url}" class="iblock">На главную</a>
<a href="{#site-url}/catalog" class="iblock m2">Каталог</a>
</div>
<br>
<div class="elastic m0a" style="width:900px">
{#product}
</div>
<!-- cart-empty -->


<!-- cart-offer -->
<table class="wide mb20 cart-list cart-offer">
<thead>
<tr>
<td colspan="6">
<label><input type="checkbox" class="offer-all"> <span class="offer-title">Также вам может понравиться</span></label>
<input type="button" class="fright offer-add" value="" style="display:none;">
</td>
</tr>
</thead>
<tbody>
<!-- cart-offer-item -->
<tr>
<td width="45"><input type="checkbox" class="offer-check" data-pid="{#product-id}"></td>
<td class="center middle width-100">
	<a href="{#product-href}" class="imagebox"><img src="{#product-img}" alt="{#name}"></a>
</td>
<td><p><a href="{#product-href}" class="name">{#name}</a></p>
<p class="short-description">{#short_text}</p>
</td>
<td class="right">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="right">{#price-old}<div class="price">{#price} р.</div></td>
</tr>
<!-- cart-offer-item -->
</tbody>
</table>

<script>
var $offer_all = $('.offer-all');

$('.cart-offer tbody tr').click(function(e) {
	if($(e.target).is('a') || $(e.target).is('[type="checkbox"]')) return;
	$(this).find('[type="checkbox"]').click();
});

$offer_all.click(function() {
	var checked = $offer_all.is(':checked');
	if(checked) {
		$('.offer-check').check();
		$offer_all.parents('thead').addClass('checked');
	}
	else {
		$('.offer-check').uncheck();
		$offer_all.parents('thead').removeClass('checked');
	}
	var color = checked ? '#f1edda' : '';
	$('.offer-check').each(function() {
		$(this).parents('tr').css('background-color', color);
	});
	switch_button();
});
$('.offer-check').click(function() {
	var checked = $(this).is(':checked');
	$(this).parents('tr').css('background-color', checked ? '#f1edda' : '');
	var checked_count = $('.offer-check:checked').length;
	if(checked_count > 0) {
		$offer_all.parents('thead').addClass('checked');
		if(checked_count == $('.offer-check').length) {
			$offer_all.check();
		}
		else {
			$offer_all.uncheck();
		}
	}
	else {
		$offer_all.parents('thead').removeClass('checked');
	}
	switch_button();
});

function switch_button() {
	var $button = $('.offer-add');
	var checked_count = $('.offer-check:checked').length;
	if(checked_count > 0) {
		$button.val('Добавить '+checked_count+' в корзину').show();
	}
	else {
		$button.hide();
	}
}

$('.offer-add').click(function() {
	var offer_select = {'ids':[]};
	$('.offer-check:checked').each(function() {
		var pid = $(this).data('pid');
		offer_select.ids.push(pid);
	});
	// console.log(offer_select);
	$.post('/addrel', offer_select, function(response) {
		location.reload();
	});
});
</script>
<!-- cart-offer -->

<!-- cart-widget -->
<div class="cart-widget" data-qty="{#cart-count}" data-sum="{#cart-sum}">
<div class="cart-widget-min">
	<div class="cart-widget-title">{#cart-text}</div>
	<div class="cart-widget-close"></div>
</div>
<div class="cart-widget-max" style="display:none;">
	<div class="cart-widget-list">
	<!-- cart-widget-item -->
	<div class="cart-widget-item">
		<a href="{#product-href}" class="imagebox"><img src="{#product-img}" alt="{#name}"></a>
		<div class="text">
			<a href="{#product-href}" class="name sm1">{#manufacturer} {#name}</a><br>
			<span class="short-description">{#short_text}</span><br>
			{#option-label}
		</div>
		<span class="price">{#price}&nbsp;р.</span>
		<span class="bold pink remove" title="Удалить" data-pid="{#pid}" data-oid="{#oid}" data-price="{#price}" data-qty="{#qty}">x</span>
	</div>
	<!-- cart-widget-item -->
	</div>
	<div class="cart-widget-footer">
		<a href="/cart" class="button">Перейти в корзину</a>
		<a href="/cart/order" class="button">Оформить заказ</a>
	</div>
</div>
<script>
$('.cart-widget-min').click(function() {
	if($('.cart-widget-item').length < 1) {
		if($('.cart-widget-max').is(':visible')) {
			$('.cart-widget-max').slideToggle();
		}
		else {
			return false;
		}
	}
	$('.cart-widget-max').slideToggle(function() {
		if($('.cart-widget-max').is(':visible')) {
			$('.cart-widget-close').show();
		}
		else $('.cart-widget-close').hide();
	});
});
$('.cart-widget-item .remove').click(function() {
	var $item = $(this).parent(), data = $(this).data();
	var url = '/remove/' + data.pid;
	if(data.oid > 0) url += '/' + data.oid;
	$.get(url, function(cart) {
		if(typeof(cart) == 'object') {
			var w_data = $('.cart-widget').data();
			w_data.qty -= data.qty;
			w_data.sum -= data.price;
			$('.cart-widget').data(w_data);
			$('.cart-widget-title').text(cart.widget_text);
			$('#cart-text').html(cart.cart_text);
			$item.slideUp(400, function() {
				if($('.cart-widget-item:visible').length < 1) {
					load_cart_widget();
				}
			});
		}
		else alert(cart);
	}, 'json');
});
$(document).keyup(function(e) {
	if(e.keyCode === 27 && $('.cart-widget-max').is(':visible')) {
		$('.cart-widget-max').slideUp();
	}
});
</script>
</div>
<!-- cart-widget -->

<!-- cart-rr-widget -->
<div class="rr-widget"
    data-rr-widget-type="cart"
    data-rr-widget-products-id="{#rr-products-id}"
    data-rr-widget-id="53a6baec1e994424a0765d42"
    data-rr-widget-width="100%"></div>
<!-- cart-rr-widget -->
