<div id="cashbox">

<form method="get" id="cashbox-search-form">
<div class="right">
<span class="iblock middle s2">Период:</span>
<input type="date" name="date_start" value="{#date_start}" class="input">
<input type="date" name="date_end" value="{#date_end}" class="input">
<input type="submit" value="Показать">
</div>
</form>
<!-- cashbox-day -->
<div class="cashbox-day">
<p>{#date}<br>
<span class="bold">остаток на начало дня: {#sum-last-day}</span></p>

<table class="day">
<tr><td>
<table class="records width-200">
<tr>
<td>приход-доставка</td>
<td class="right">{#sum-debit-1}</td>
</tr>
{#cashbox-record-1}
</table>
</td>
<td>
<table class="records width-200">
<tr>
<td>приход-самовывоз</td>
<td class="right">{#sum-debit-2}</td>
</tr>
{#cashbox-record-2}
</table>
</td>
<td>
<table class="records width-250">
<tr>
<td>приход-разное</td>
<td class="right">{#sum-debit-3}</td>
</tr>
{#cashbox-record-4}
</table>
</td><td>
<table class="records width-250">
<tr>
<td>расход</td>
<td class="right">{#sum-credit}</td>
</tr>
{#cashbox-record-3}
</table>
</td>
<td>
<table class="records width-150">
<tr>
<td>начало дня</td>
<td class="right">{#sum-last-day}</td>
</tr>
<tr>
<td>приход</td>
<td class="right">{#sum-debit}</td>
</tr>
<tr>
<td>расход</td>
<td class="right">{#sum-credit}</td>
</tr>
<tr>
<td class="bold">конец дня</td>
<td class="right bold">{#sum-day}</td>
</tr>
</table>
</td></tr>
</table>
<div class="hr"></div>
</div>
<!-- cashbox-day -->
</div>

<script>
var $input1 = $('tr#input-1');
var $input2 = $('tr#input-2');

$input1.find('input[name="note"]').change(function() {
	var $el = $(this);
	console.log($el);
	var order_id = $el.val();
	$.get('/admin/cashbox/order_sum?order_id='+order_id, function(response) {
		if(response == 'no') {
			alert('Заказ '+order_id+' не найден!');
		}
		else {
			$input1.find('[name="cash"]').val(response);
		}
	});
});
$input2.find('input[name="note"]').change(function() {
	var $el = $(this);
	var order_id = $el.val();
	$.get('/admin/cashbox/order_sum?order_id='+order_id, function(response) {
		if(response == 'no') {
			alert('Заказ '+order_id+' не найден!');
		}
		else {
			$input2.find('[name="cash"]').val(response);
		}
	});
});
$('.input-apply').click(function() {
	var data = $(this).data();
	data.note = $('#input-'+data.type).find('[name="note"]').val();
	data.cash = $('#input-'+data.type).find('[name="cash"]').val();
	console.log(data);
	$.post('/admin/cashbox/input', data, function(response) {
		if(response == 'ok') location.reload();
		else alert(response);
	});
});
</script>

<!-- cashbox-record -->
<tr>
<td>{#note}</td>
<td class="right">{#cash}</td>
</tr>
<!-- cashbox-record -->

<!-- cashbox-record-input -->
<tr id="input-{#type}">
<td><input type="text" name="note" value="" class="input width-{#width}" placeholder="{#placeholder}" required></td>
<td class="right"><input type="text" name="cash" value="" class="left input width-50" placeholder="сумма" required></td>
</tr>
<tr>
<td><input type="button" value="Добавить" class="input-apply" data-type="{#type}"></td>
<td>&nbsp;</td>
</tr>
<!-- cashbox-record-input -->

