<!-- page-title -->
<div class="page-title"><h1>{#document-title}</h1></div>
<!-- title-hr --><div class="title-hr"></div><!-- title-hr -->
<!-- page-title -->

<!-- paginator -->
<div class="{#paginator-class}">
<!-- pspan --><span class="{#class}">{#pnum}</span><!-- pspan -->
<!-- plink --><a href="{#phref}">{#pnum}</a><!-- plink -->
</div>
<!-- paginator -->

<!-- alert -->
<p class="alert {#alert-class}">{#alert-msg}</p>
<!-- alert -->


<!-- ul -->
<ul class="{#ul-class}">
<!-- li --><li class="{#li-class}">{#li-content}</li><!-- li -->
</ul>
<!-- ul -->

<!-- a --><a href="{#a-href}" class="{#a-class}" title="{#a-title}"{#a-attr}>{#a-content}</a><!-- a -->

<!-- span --><span class="{#span-class}">{#span-content}</span><!-- span -->

<!-- select -->
<select name="{#select-name}" class="{#select-class}">
<!-- option -->
<option value="{#option-value}"{#option-selected}>{#option-text}</option>
<!-- option -->
</select>
<!-- select -->

<!-- checkbox-fieldset -->
<fieldset class="{#checkbox-fieldset-class}">
<!-- checkbox -->
<label title="{#checkbox-text-title}"><input type="checkbox" class="{#checkbox-class}" name="{#checkbox-name}" value="{#checkbox-value}"{#checkbox-checked}{#checkbox-disabled}> {#checkbox-text}</label>
<!-- checkbox -->
</fieldset>
<!-- checkbox-fieldset -->

<!-- radio-fieldset -->
<fieldset class="{#radio-fieldset-class}">
<!-- radio -->
<label title="{#radio-text-title}"><input type="radio" name="{#radio-name}" value="{#radio-value}"{#radio-checked}{#radio-disabled}{#radio-required}> {#radio-text}</label>
<!-- radio -->
</fieldset>
<!-- radio-fieldset -->

<!-- left-column -->
<div class="left-column">
{#left-column-content}
</div><!-- .left-column -->
<!-- left-column -->

<!--right-column -->
<div class="right-column">
{#right-column-content}
</div><!-- .right-column -->
<!--right-column -->

<!-- yashare -->
<script src="/ui/js/yashare.js" async="true"></script>
<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="icon" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir"></div>
<!-- yashare -->

<!-- vk-like -->
<div id="vk_like"></div>
<script type="text/javascript">
VK.Widgets.Like("vk_like", {type: "button"});
</script>
<!-- vk-like -->

<!-- icon-confirm -->
<span class="button confirm"></span>
<!-- icon-confirm -->

<!-- icon-cancel -->
<span class="button cancel"></span>
<!-- icon-cancel -->

<!-- table -->
<table class="{#table-class}">
<!-- tr -->
<tr{#tr-attr}>
<!-- th --><th class="{#th-class}"{#th-attr}>{#th-content}</th><!-- th -->
<!-- td --><td class="{#td-class}"{#td-attr}>{#td-content}</td><!-- td -->
</tr>
<!-- tr -->
</table>
<!-- table -->

<!-- loadgif --><img src="/ui/img/loadgif.gif" alt="*" class="loadgif" style="display:none;margin:0 10px;vertical-align:middle"><!-- loadgif -->