<!-- google-analytics --><script>
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-45067311-1']);
_gaq.push(['_setDomainName', 'yamibox.ru']);
_gaq.push(['_trackPageview']);
<!-- ga-track-order -->
_gaq.push(['_set', 'currencyCode', 'RUB']);
_gaq.push(['_addTrans',
	'{#order-id}', // ID транзакции.
	'', // Не заполняется.
	'{#total_sum}', // Общая сумма к оплате.
	'{#tax}', // Налог. Общая сумма из пукнта выше умноженная на 0,18.
	'{#delivery_price}', // Стоимость доставки
	'{#city}', // Город доставки
	'', // Не заполняется.
	'' // Не заполняется.
]);
<!-- ga-track-item -->
_gaq.push(['_addItem',
	'{#order-id}', // ID транзакции. Должен совпадать с ID выше.
	'{#id}', // Артикул товара/ID товара. Берётся из БД.
	"{#name}", // Название товара. Берётся из БД.
	'{#category}', // Категория товара. Берётся из БД.
	'{#price}', // Цена за 1 штуку.
	'{#quantity}' // Количество штук.
]);<!-- ga-track-item -->
_gaq.push(['_trackTrans']);
<!-- ga-track-order -->
(function () {
	var ga = document.createElement('script');
	ga.type = 'text/javascript';
	ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0];
	s.parentNode.insertBefore(ga, s);
	var analytics = document.createElement('script');
	analytics.type = 'text/javascript';
	analytics.async = true;
	analytics.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/analytics.js';
	s.parentNode.insertBefore(analytics, s);
})();
</script><!-- google-analytics -->

<!-- google-tag-manager --><!-- gtm-transaction -->
<script>
dataLayer = [{
    'transactionId': '{#order-id}',
    'transactionAffiliation': 'Yamibox',
    'transactionTotal': {#order-sum},
    'transactionTax': 0,
    'transactionShipping': {#delivery_price},
    'transactionProducts': {#gtm-products},
	'dlv transaction id': '{#order-id}',
	'tr_status': '{#tr_status}'
}];
</script>
<!-- gtm-transaction --><!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KW7SZG"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KW7SZG');</script>
<!-- End Google Tag Manager --><!-- google-tag-manager -->

<!-- yandex-metrika --><script>
var yaParams = {/*Здесь параметры визита*/};
(function (d, w, c) {
	(w[c] = w[c] || []).push(function () {
		try {
			w.yaCounter22486162 = new Ya.Metrika({
					id : 22486162,
					webvisor : false,
					clickmap : true,
					trackLinks : true,
					accurateTrackBounce : true,
					params : window.yaParams || {}
				});
		} catch (e) {}
	});
	var n = d.getElementsByTagName("script")[0],
	s = d.createElement("script"),
	f = function () {
		n.parentNode.insertBefore(s, n);
	};
	s.type = "text/javascript";
	s.async = true;
	s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
	if (w.opera == "[object Opera]") {
		d.addEventListener("DOMContentLoaded", f, false);
	} else {
		f();
	}
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/22486162" alt="" /></div></noscript><!-- yandex-metrika -->

<!-- openstat -->
<span id="openstat2357446"></span>
<script type="text/javascript">
var openstat = { counter: 2357446, next: openstat, track_links: "all" };
(function(d, t, p) {
var j = d.createElement(t); j.async = true; j.type = "text/javascript";
j.src = ("https:" == p ? "https:" : "http:") + "//openstat.net/cnt.js";
var s = d.getElementsByTagName(t)[0]; s.parentNode.insertBefore(j, s);
})(document, "script", document.location.protocol);
</script>
<!-- openstat -->

<!-- redhelper -->
<script id="rhlpscrtg" type="text/javascript" charset="utf-8" src="https://web.redhelper.ru/service/main.js?c=kallamish"></script>
<!--redhelper -->

<!-- freshdesk -->
<script type="text/javascript" src="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.js"></script>
<script type="text/javascript">
$(document).ready(function() {	
	FreshWidget.init("", {"queryString": "&widgetType=popup&submitThanks=%D0%A1%D0%BF%D0%B0%D1%81%D0%B8%D0%B1%D0%BE!+%D0%9C%D1%8B+%D1%81%D0%B2%D1%8F%D0%B6%D0%B5%D0%BC%D1%81%D1%8F+%D1%81+%D0%92%D0%B0%D0%BC%D0%B8+%D0%B2+%D0%B1%D0%BB%D0%B8%D0%B6%D0%B0%D0%B9%D1%88%D0%B5%D0%B5+%D0%B2%D1%80%D0%B5%D0%BC%D1%8F.&attachFile=no&searchArea=no", "widgetType": "popup", "buttonType": "text", "buttonText": "Есть вопрос?", "buttonColor": "white", "buttonBg": "#ec5384", "alignment": "2", "offset": "60%", "submitThanks": "Спасибо! Мы свяжемся с Вами в ближайшее время.", "formHeight": "500px", "url": "https://yamibox.freshdesk.com"} );
});
</script>
<!-- freshdesk -->

<!-- facebook-conversion-script -->
<script>
$(document).ready(function() {
	(function() {
	  var _fbq = window._fbq || (window._fbq = []);
	  if (!_fbq.loaded) {
		var fbds = document.createElement('script');
		fbds.async = true;
		fbds.src = '//connect.facebook.net/en_US/fbds.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(fbds, s);
		_fbq.loaded = true;
	  }
	})();
	window._fbq = window._fbq || [];
	window._fbq.push(['track', '6021872941445', {'value':'0.00','currency':'RUB'}]);
	<!-- Facebook Conversion Code for Оформление заказа -->
	(function() {
	  var _fbq = window._fbq || (window._fbq = []);
	  if (!_fbq.loaded) {
		var fbds = document.createElement('script');
		fbds.async = true;
		fbds.src = '//connect.facebook.net/en_US/fbds.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(fbds, s);
		_fbq.loaded = true;
	  }
	})();
	window._fbq = window._fbq || [];
	window._fbq.push(['track', '6021872937045', {'value':'0.00','currency':'RUB'}]);
	<!-- Facebook Conversion Code for Добавление в корзину -->
	(function() {
	  var _fbq = window._fbq || (window._fbq = []);
	  if (!_fbq.loaded) {
		var fbds = document.createElement('script');
		fbds.async = true;
		fbds.src = '//connect.facebook.net/en_US/fbds.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(fbds, s);
		_fbq.loaded = true;
	  }
	})();
	window._fbq = window._fbq || [];
	window._fbq.push(['track', '6021872944245', {'value':'0.00','currency':'RUB'}]);
});
</script>
<!-- facebook-conversion-script -->

<!-- retail-rocket-main -->
<script>
var rrPartnerId = "53a6baec1e994424a0765d40";
var rrApi = {}; 
var rrApiOnReady = rrApiOnReady || [];
rrApi.addToBasket = rrApi.order = rrApi.categoryView = rrApi.view = 
rrApi.recomMouseDown = rrApi.recomAddToCart = function() {};
(function(d) {
	var ref = d.getElementsByTagName('script')[0];
	var apiJs, apiJsId = 'rrApi-jssdk';
	if (d.getElementById(apiJsId)) return;
	apiJs = d.createElement('script');
	apiJs.id = apiJsId;
	apiJs.async = true;
	apiJs.src = "//cdn.retailrocket.ru/content/javascript/api.js";
	ref.parentNode.insertBefore(apiJs, ref);
}(document));
</script>
<!-- retail-rocket-main -->


<!-- rambler-top100 -->
<script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?3104446"></script>
<noscript>
<a href="http://top100.rambler.ru/navi/3104446/"> <img src="http://counter.rambler.ru/top100.cnt?3104446" alt="Rambler's Top100" border="0" /></a>
</noscript>
<!-- rambler-top100 -->

<!-- action-teaser -->
<!-- ActionTeaser.ru, Analyzer - START -->
<script language="Javascript">
var ref = escape(document.referrer);
var server = 'an.actionteaser.ru';
document.write('<scr'+'ipt type="text/jav'+'ascript" src="http://'+server+'/analyze.php?ref='+ref+'"></scr'+'ipt>');
</script>
<!-- ActionTeaser.ru, END -->
<!-- action-teaser -->

<!-- begun-counter -->
<script type="text/javascript">
(function(w, p) {
	var a, s;
	(w[p] = w[p] || []).push({
		counter_id: 413449398
	});
	a = document.createElement('script'); a.type = 'text/javascript'; a.async = true;
	a.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'autocontext.begun.ru/analytics.js';
	s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(a, s);
})(window, 'begun_analytics_params');
</script>
<!-- begun-counter -->

<!-- rees46-main -->
<script type="text/javascript">
(function () {
	var user_info = {#rees46-user_info};
	function initREES46 () {
		REES46.init('993372f7149d1ef003ca7ab71a2625', user_info, function() {
			
		});
	}
	var script = document.createElement('script');
	script.src = '//cdn.rees46.com/rees46_script2.js';
	script.async = true;
	script.onload = function() {
		initREES46();
	};
	document.getElementsByTagName('head')[0].appendChild(script);
})();
</script>
<!-- rees46-main -->

<!-- getresponse-form -->
<script type="text/javascript" src="https://app.getresponse.com/view_webform_v2.js?u=BQWta&webforms_id=42406"></script>
<!-- getresponse-form -->
