<!-- delivery-info-common -->
<div class="center">
<h1>Доставка</h1>
</div>
<div class="m0a" style="width:610px;margin-bottom:30px">
Интернет-магазин корейской косметики Yamibox.Ru доставляет по всей России.<br>
<br>
Вы можете узнать стоимость доставки в ваш населенный пункт <a href="#spisok" class="dashed scrollTo">в нижеприведенной таблице</a> или воспользовавшись <a href="#calculator" class="scrollTo dashed">калькулятором расчета доставки</a>. Просто начните в нем писать название вашего населенного пункта и в выпадающем списке выберите нужный.<br>
<br>
Среди доступных вариантов доставки вы всегда можете найти тот, который будет для вас бесплатным.<br>
<br>
Во время транспортировки вашего заказа вы будете получать SMS-сообщения с самой актуальной информацией о заказе. Услуга абсолютно бесплатна!<br>
<br>
О ходе выполнения заказа вы можете узнать на странице вашего заказа. Ссылку вы получите в уведомительном письме. Так же в личном кабинете есть <a href="/account/orders" target="_blank">список ваших заказов</a>, где так же содержится вся необходимая информация.<br>
<br>
Выяснить местонахождение посылки в процессе доставки вы можете на официальном сайте той службы доставки, коорый вы выбрали. При каждой отправке мы сообщаем вам идентификатор отправления.<br>
<br>
Скоро будет добавлена возможность доставки в Казахстан и Белоруссию.<br>
</div>

<div class="mb20">
<div class="center">
<h3><strong>Доставка по Москве</strong></h3>
<p>Курьерская доставка и пункты выдачи заказов в Москве</p>
</div>
{#deliveries-moscow}
</div>

<div class="mb20">
<div class="center">
<h3><strong>Доставка в Санкт-Петербург</strong></h3>
<p>Вы можете оформить курьерскую доставку или доставку в пункты выдачи заказов в Санкт-Петербурге</p>
</div>
{#deliveries-spb}
</div>

<div class="center mb20" id="spisok">
<h3><strong>Основные населенные пункты, в которые мы доставляем корейскую косметику</strong></h3>
Кликните на название города
</div>

<!-- cities-letter-section -->
<div class="center"><h3>{#letter}</h3></div>
<table class="delivery-city-list">
<tr>
<td>{#col-1}</td>
<td>{#col-2}</td>
<td>{#col-3}</td>
<td>{#col-4}</td>
<td>{#col-5}</td>
</tr>
</table>
<!-- cities-letter-section -->

<form method="get" action="/delivery_calculator" class="center m20a" id="delivery-calculator">
<h3 id="calculator"><strong>Калькулятор доставки</strong></h3>
<p>Введите название населенного пункта</p>
<p><input type="text" name="city" value="" class="input width-500" id="city-input" placeholder="Начните вводить название..."></p>
<input type="submit" value="" class="button delivery-calc">
</form>

<div id="search-result"></div>

<script>
$('#delivery-calculator').ajaxForm({
	beforeSubmit: function () {
		var city = $('#city-input').val().trim();
		if(!city) {
			$('#search-result').html('');
			$('#city-input').val('').focus();
			return false;
		}
		$('#search-result').html('<div class="center bold italic">Загрузка...</div>');
	},
	success: function(response) {
		$('#search-result').html(response);
	}
});
</script>
<!-- delivery-info-common -->


<!-- delivery-info-city -->
<div class="center">
<h1>Доставка в {#city-name}</h1>
<p>Выберите наиболее подходящий Вам вариант доставки в {#city-name}.<br>
Среди доступных вариантов доставки вы всегда можете найти тот, который будет для вас бесплатным.</p>
</div>
<script>$.cookie('city_to', '{#city-name}');</script>
<script src="https://multiship.ru/widget/widgetJsLoader?dataTagID=e6b1bac81200ca7706c7fdfc2" charset="utf-8"></script>
<msw id="aeb33ee8b5d164f4d776e7ab26c973b9" class="ms-widget-container"></msw>
{#deliveries-city}
<!-- delivery-info-city -->

<!-- deliveries-table -->
<table class="deliveries">
<tr>
<td class="column">
<div class="delivery-title"><span class="icon icon-todoor"></span> Доставка курьером до двери</div>
{#delivery-todoor}
<div class="delivery-title"><span class="icon icon-pr"></span> Доставка Почтой России</div>
{#delivery-pr}
</td>
<td class="column">
<div class="delivery-title"><span class="icon icon-pickup"></span> Пункты выдачи заказов</div>
{#delivery-pickup}
</td>
</tr>
</table>
<!-- deliveries-table -->

<!-- delivery-row -->
<div class="delivery-row">
<span class="iblock width-200">{#delivery_name}</span>
<span class="iblock width-50">{#days} дн.</span>
<span class="iblock right" style="width:70px">{#cost}</span>
<!-- delivery-row-rule --><span class="iblock pink">{#rule_min_cost}</span><!-- delivery-row-rule -->
</div>
<!-- delivery-row -->


<!-- это блок виджета с картой на страницу доставки. не используется, но может понадобиться -->
<meta name="msWidgetData" id="d25997c592b3b141e89421359cb33184" content="" data-sender_id="637" data-weight="1.5" data-cost="{#cart-sum-with-discounts}" data-height="10" data-length="10" data-width="15" data-city_from="Москва" data-css_name="1390903774" data-tpl_name="1390903774" data-container_tag_id="f0dcf65831244616d42647459007f0b" data-resource_id="1066" data-resource_key="f275a5a1f3a96a54220785a7d72943db" data-method_key="221c83b42170a3ca894fa45cc6ad8090"></meta><!-- виджеты на страницах о доставке -->
