<!-- email-order -->
<h1>Спасибо за Ваш заказ!</h1>

{#firstname}, благодарим Вас за заказ № <a href="{#site-url}/order-info/{#uid}">{#id}</a>, который Вы сделали в интернет-магазине корейской косметики Yamibox.Ru. Сообщаем Вам, что заказ принят, и мы с удовольствием начинаем его обработку!<br>
Ожидайте звонка менеджера или, если сейчас ночь, мы позвоним завтра.<br>
<br>
Информацию о статусе Вашего заказа Вы можете получить в любой момент!<br>
Для этого нужно просто нажать на эту <a href="{#site-url}/order-info/{#uid}">ссылку</a>.<br>
Кроме того, мы будем автоматически оповещать Вас об изменениях статуса заказа с помощью бесплатных SMS-уведомлений.<br>
<br>
<p><strong>Параметры вашего заказа:</strong></p>
<label style="display:inline-block;width:150px;">Способ оплаты:</label> {#ptype}
<div style="display:inline-block;vertical-align:middle;margin-left:1em">{#robox-payment-link}</div><br>
<br>
<label style="display:inline-block;width:150px;">Способ доставки:</label> {#delivery_info}<br>
<br>
<label style="display:inline-block;width:150px;">Адрес доставки:</label> {#address}<br>
<br>
Дополнительная информация:<br>
Получатель: {#firstname} {#lastname}<br>
Телефон: {#phone}<br>
<!-- email-order-comment -->Комментарий: {#comment}<br><!-- email-order-comment -->
<br>
<p><strong>Состав заказа:</strong></p>
<table border="0" width="100%" cellpadding="5" cellspacing="0">
{#order-form-cart-item}
<tr>
<td colspan="4" align="right">
	<label style="width:100px;display:inline-block">Итого:</label> <span style="width:100px;display:inline-block">{#cart-sum} р.</span><br>
	<label style="width:200px;display:inline-block">Скидка ({#cumulative-percent}%):</label> <span style="width:100px;display:inline-block">-{#cumulative} р.</span><br>
	<label style="width:100px;display:inline-block">Бонусы:</label> <span style="width:100px;display:inline-block">-{#bonus} р.</span><br>
	<label style="width:100px;display:inline-block">Купон:</label> <span style="width:100px;display:inline-block">-{#coupon} р.</span><br>
	<label style="width:100px;display:inline-block">Доставка:</label> <span style="width:100px;display:inline-block">{#delivery_price} р.</span><br>
	<label style="width:100px;display:inline-block;font-weight:bold">К оплате:</label> <span style="width:100px;display:inline-block;font-weight:bold">{#order-sum} р.</span>
</td>
</tr>
</table>
<p>При получении заказа его стоимость оплачивается наличными</p>
<!-- email-order -->

<!-- email-order-admin -->
<div style="margin:10px auto;max-width:600px">
<h2 style="color:#ec5384">Заказ №{#id}</h2>
<p><a href="{#site-url}/order-info/{#uid}">посмотреть заказ на сайте</a> или <a href="{#site-url}/admin/orders/{#id}">в админке</a></p>
<table border="1" width="100%" cellpadding="5" cellspacing="0">
<tr>
<td>Сумма заказа</td>
<td>{#cart-sum} р.</td>
</tr>
<tr>
<td>Накопленная скидка ({#cumulative-percent}%)</td>
<td>-{#cumulative} р.</td>
</tr>
<tr>
<td>Использовано бонусов</td>
<td>-{#bonus} р.</td>
</tr>
<tr>
<td>Купон</td>
<td>-{#coupon} р.</td>
</tr>
<tr>
<td>Способ доставки</td>
<td>{#delivery_info}</td>
</tr>
<tr>
<td>Адрес доставки</td>
<td>{#address}&nbsp;</td>
</tr>
<tr>
<td>Стоимость доставки</td>
<td>{#delivery_price} р.</td>
</tr>
<tr>
<tr>
<td>Способ оплаты</td>
<td>{#ptype}</td>
</tr>
</table>
<h3 style="color:#ec5384">Покупатель:</h3>
<table border="1" borderColor="#ccc" width="100%" cellpadding="5" cellspacing="0">
<tr>
<td>Имя</td>
<td>{#firstname} {#lastname}</td>
</tr>
<tr>
<td>Email</td>
<td>{#email}</td>
</tr>
<tr>
<td>Телефон</td>
<td>{#phone}</td>
</tr>
</table>
<br>
<table border="1" borderColor="#ccc" width="100%" cellpadding="15" cellspacing="0">
<tr>
<td colspan="2" valign="top"><h3 style="color:#ec5384">Комментарий к заказу:</h3>
<p>{#comment}</p></td>
</tr>
</table>

<h3 style="color:#ec5384">Товары:</h3>
<table border="1" borderColor="#ccc" width="100%" cellpadding="5" cellspacing="0">
{#order-form-cart-item}
<tr>
<td colspan="4" align="right">
	<label style="width:100px;display:inline-block">Итого:</label> <span style="width:100px;display:inline-block">{#cart-sum} р.</span><br>
	<label style="width:200px;display:inline-block">Скидка ({#cumulative-percent}%):</label> <span style="width:100px;display:inline-block">-{#cumulative} р.</span><br>
	<label style="width:100px;display:inline-block">Бонусы:</label> <span style="width:100px;display:inline-block">-{#bonus} р.</span><br>
	<label style="width:100px;display:inline-block">Купон:</label> <span style="width:100px;display:inline-block">-{#coupon} р.</span><br>
	<label style="width:100px;display:inline-block">Доставка:</label> <span style="width:100px;display:inline-block">{#delivery_price} р.</span><br>
	<label style="width:100px;display:inline-block;font-weight:bold">К оплате:</label> <span style="width:100px;display:inline-block;font-weight:bold">{#order-sum} р.</span>
</td>
</tr>
</table>
</div>
<!-- email-order-admin -->

<!-- email-order-delivered -->
<h1>Уважаемая {#firstname}!</h1>
Благодарим Вас за покупку в интернет-магазине Yamibox.Ru!<br>
<br>
Недавно Вы получили заказ № <a href="{#site-url}/order-info/{#uid}">{#id}</a>.<br>
<br>
Просим Вас дать оценку качества выполнения заказа и оставить отзыв о работе нашего магазина. Это поможет нам объективно оценить нашу работу и сделать для Вас покупки в Yamibox.Ru максимально комфортными и удобными.<br>
<br>
Отзыв Вы можете оставить на <a href="http://market.yandex.ru/shop/190730/reviews/add">Яндекс.Маркете</a>.<br>
Яндекс.Маркет — это крупнейший в России сервис для выбора товаров и места их покупки.<br>
Все отзывы проходят многоуровневую систему защиты, которая позволяет выявить недостоверные оценки или накрутку рейтинга магазином.<br>
Нам очень важно Ваше мнение!<br>
<br>
<a href="http://market.yandex.ru/shop/190730/reviews/add">Написать отзыв о магазине Yamibox.Ru</a><br>
<br>
Благодарим Вас за участие!<br>
<br>
С уважением,<br>
команда <a href="{#site-url}">Yamibox.Ru</a>
<!-- email-order-delivered -->

<!-- email-order-transit -->
<h1>Здравствуйте, {#firstname}!</h1>
Мы рады сообщить Вам, что Yamibox.Ru закончил обработку вашего заказа № <a href="{#site-url}/order-info/{#uid}">{#id}</a> и передал его в службу доставки.<br>
<br>
Способ доставки: {#delivery_info}<br>
<br>
<!-- email-order-transit-pr -->
Вы можете <a href="http://russianpostcalc.ru/tracking/">отследить посылку</a> на сайте Почты России:<br>
Идентификатор отправления: <strong>{#tracking_id}</strong><br>
<br>
<!-- email-order-transit-pr -->
Всю необходимую информацию по заказу Вы можете найти на странице заказа:<br>
<a href="{#site-url}/order-info/{#uid}">отследить на странице заказа</a>
<br>
Если у Вас доставка в Пункт выдачи заказов или постамат, Вы получите SMS-сообщение.<br>
<br>
Если у Вас доставка до двери, с Вами свяжется представитель курьерской службы для того, чтобы согласовать время доставки.<br>
<br>
Заказ будет доставлен по адресу:<br>
{#address}<br>
<br>
<strong>Вам доставят следующие товары:</strong><br>
<br>
<table border="0" width="100%" cellpadding="5" cellspacing="0">
{#order-form-cart-item}
<tr>
<td colspan="4" align="right">
	<label style="width:100px;display:inline-block">Итого:</label> <span style="width:100px;display:inline-block">{#cart-sum} р.</span><br>
	<label style="width:200px;display:inline-block">Скидка ({#cumulative-percent}%):</label> <span style="width:100px;display:inline-block">-{#cumulative} р.</span><br>
	<label style="width:100px;display:inline-block">Бонусы:</label> <span style="width:100px;display:inline-block">-{#bonus} р.</span><br>
	<label style="width:100px;display:inline-block">Купон:</label> <span style="width:100px;display:inline-block">-{#coupon} р.</span><br>
	<label style="width:100px;display:inline-block">Доставка:</label> <span style="width:100px;display:inline-block">{#delivery_price} р.</span><br>
	<label style="width:100px;display:inline-block;font-weight:bold">К оплате:</label> <span style="width:100px;display:inline-block;font-weight:bold">{#order-sum} р.</span>
</td>
</tr>
</table>
<br>
Обратите внимание! Если Вы уже оплатили заказ, то для его получения покажите любой, удостоверяющий личность Получателя, документ.<br>
<br>
Желаем всегда приятных покупок!<br>
Ваш <a href="{#site-url}">Yamibox.Ru</a>
<!-- email-order-transit -->

<!-- email-order-pickpoint -->
<h1>Здравствуйте, {#firstname}!</h1>
Сообщаем, что Ваш заказ № <a href="{#site-url}/order-info/{#uid}">{#id}</a> прибыл в Пункт выдачи заказов или постамат!<br>
<br>
Пункт выдачи заказов находится по адресу:<br>
{#delivery_info}<br>
<br>
<strong>Ваc ждут следующие товары:</strong><br>
<br>
<table border="0" width="100%" cellpadding="5" cellspacing="0">
{#order-form-cart-item}
<tr>
<td colspan="4" align="right">
	<label style="width:100px;display:inline-block">Итого:</label> <span style="width:100px;display:inline-block">{#cart-sum} р.</span><br>
	<label style="width:200px;display:inline-block">Скидка ({#cumulative-percent}%):</label> <span style="width:100px;display:inline-block">-{#cumulative} р.</span><br>
	<label style="width:100px;display:inline-block">Бонусы:</label> <span style="width:100px;display:inline-block">-{#bonus} р.</span><br>
	<label style="width:100px;display:inline-block">Купон:</label> <span style="width:100px;display:inline-block">-{#coupon} р.</span><br>
	<label style="width:100px;display:inline-block">Доставка:</label> <span style="width:100px;display:inline-block">{#delivery_price} р.</span><br>
	<label style="width:100px;display:inline-block;font-weight:bold">К оплате:</label> <span style="width:100px;display:inline-block;font-weight:bold">{#order-sum} р.</span>
</td>
</tr>
</table>
<br>
Обратите внимание! Если Вы уже оплатили заказ, то для его получения покажите любой, удостоверяющий личность Получателя, документ.<br>
<br>
Желаем всегда приятных покупок!<br>
Ваш <a href="{#site-url}">Yamibox.Ru</a>
<!-- email-order-pickpoint -->

<!-- email-order-payment -->
<h2 style="color:#ec5384">Заказ №{#order-id}</h2>
<p>Принят платеж через ROBOKASSA на сумму {#order-sum} р.</p>
<p><a href="{#site-url}/order-info/{#order-id}">посмотреть заказ на сайте</a></p>
<p><a href="{#site-url}/admin/orders/{#order-id}">посмотреть заказ в админке</a></p>
<!-- email-order-payment -->

<!-- email-order-review -->
<h1>Здравствуйте, {#firstname}!</h1>
Благодарим Вас за покупку на Yamibox.Ru!<br>
<br>
Ваш опыт интернет-покупок будет весьма интересен и полезен многим людям. Мы будем рады, если Вы оставите отзыв на все или часть заказанных Вами товаров на нашем сайте. Это поможет нашим покупателям в дальнейшем сделать правильный выбор и приобретать только лучшие товары на Yamibox.Ru<br><br>
<table>
<!-- email-order-review-product -->
<tr>
<td width="60" valign="top" align="center" style="padding:10px;"><img src="{#site-url}{#product-img}" alt="{#name}" width="60" height="60"></td>
<td style="padding:15px;font-size:12px">{#name}<br><br>
<a href="{#site-url}/product/{#url_name}">написать отзыв &gt;&gt;&gt;</a></td>
</tr>
<!-- email-order-review-product -->
</table><br>
За каждый отзыв Вы можете получить до 10 бонусов, которые Вы можете использовать для будущих покупок<br>
<br>
Приятного шоппинга!<br>
Команда <a href="{#site-url}">Yamibox.Ru</a>
<!-- email-order-review -->


<!-- email-review-notice -->
<p>Автор: <a href="{#site-url}/admin/clients/{#user_id}">{#author}</a></p>
<p>Email: {#email}</p>
<p>Товар: <a href="{#site-url}/admin/products/{#product_id}">админка</a></p>
<p>Оценка: {#rating}</p>
Текст:<br>
<blockquote style="font-style:italic">{#content}</blockquote>
<p><a href="{#site-url}/admin/reviews">перейти к отзывам (админка)</a></p>
<!-- email-review-notice -->


<!-- email-feedback -->
<p>Автор: <a href="{#site-url}/admin/clients/{#id}">{#firstname} {#lastname}</a></p>
<p>Email: {#email}</p>
Текст сообщения:<br>
<blockquote style="font-style:italic">{#feedback-text}</blockquote>
<!-- email-feedback -->


<!-- email-restore -->
<p align="right"><img src="http://yamibox.ru/ui/img/logo-main.png" alt="Yamibox.ru"></p>
<h2 style="color:#ec5384">Здравствуйте!</h2>
<p>Был получен запрос на восстановление пароля от Вашей учетной записи на сайте <a href="{#site-url}/">yamibox.ru</a>.</p>
<p>Для восстановления пароля пройдите по ссылке: <a href="{#site-url}/account/restore?email={#user-email}&key={#user-key}">восстановить пароль</a>.</p>
<p>Если Вы не запрашивали восстановление пароля, просто игнорируйте это сообщение.</p>
<!-- email-restore -->


<!-- email-registration -->
<p align="right"><img src="http://yamibox.ru/ui/img/logo-main.png" alt="Yamibox.ru"></p>
<h2 style="color:#ec5384">Здравствуйте!</h2>
<p>Вы зарегистрировались на сайте <a href="{#site-url}/">{#site-url}/</a></p>
<p>Для подтверждения регистрации пройдите по ссылке: <a href="{#site-url}/account/activate?email={#user-email}&key={#user-key}">подтвердить регистрацию</a></p>
<!-- email-registration -->


<!-- email-oneclick-order -->
<p align="right"><img src="http://yamibox.ru/ui/img/logo-main.png" alt="Yamibox.ru"></p>

<h2 style="color:#ec5384">Заказ в один клик</h2>

<table border="1" borderColor="#ccc" width="100%" cellpadding="5" cellspacing="0">
{#order-form-cart-item}
<tr>
<td colspan="4" align="right">
	<label style="width:100px;display:inline-block">Итого:</label> <span style="width:100px;display:inline-block">{#cart-sum} р.</span><br>
	<label style="width:200px;display:inline-block">Скидка ({#cumulative-percent}%):</label> <span style="width:100px;display:inline-block">-{#cumulative} р.</span><br>
	<label style="width:100px;display:inline-block">Бонусы:</label> <span style="width:100px;display:inline-block">-{#bonus} р.</span><br>
	<label style="width:100px;display:inline-block">Купон:</label> <span style="width:100px;display:inline-block">-{#coupon} р.</span><br>
	<label style="width:200px;display:inline-block;font-weight:bold">Предварительный итог:</label> <span style="width:100px;display:inline-block;font-weight:bold">{#order-sum} р.</span>
</td>
</tr>
</table>

<h3 style="color:#ec5384">Комментарий к заказу:</h3>
<p>{#comment}</p><br><br>
<p>
Всю необходимую информацию по заказу Вы можете найти на странице заказа:<br>
<a href="{#site-url}/order-info/{#uid}">отследить на странице заказа</a>
</p>
<!-- email-oneclick-order -->

<!-- email-oneclick-order-admin -->
<p align="right"><img src="http://yamibox.ru/ui/img/logo-main.png" alt="Yamibox.ru"></p>
<h2 style="color:#ec5384">Заказ в один клик</h2>
<table border="1" borderColor="#ccc" width="100%" cellpadding="5" cellspacing="0">
<tr>
<td>Сумма заказа</td>
<td>{#cart-sum} р.</td>
</tr>
<tr>
<td>Накопленная скидка ({#cumulative-percent}%)</td>
<td>-{#cumulative} р.</td>
</tr>
<tr>
<td>Использовано бонусов</td>
<td>-{#bonus} р.</td>
</tr>
<tr>
<td>Купон</td>
<td>-{#coupon} р.</td>
</tr>
</table>

<h3 style="color:#ec5384">Покупатель:</h3>
<table border="1" borderColor="#ccc" width="100%" cellpadding="5" cellspacing="0">
<tr>
<td>Имя</td>
<td>{#firstname}</td>
</tr>
<tr>
<td>Email</td>
<td>{#email}</td>
</tr>
<tr>
<td>Телефон</td>
<td>{#phone}</td>
</tr>
</table>

<h3 style="color:#ec5384">Товары:</h3>

<table border="1" borderColor="#ccc" width="100%" cellpadding="5" cellspacing="0">
{#order-form-cart-item}
<tr>
<td colspan="4" align="right">
	<label style="width:100px;display:inline-block">Итого:</label> <span style="width:100px;display:inline-block">{#cart-sum} р.</span><br>
	<label style="width:200px;display:inline-block">Скидка ({#cumulative-percent}%):</label> <span style="width:100px;display:inline-block">-{#cumulative} р.</span><br>
	<label style="width:100px;display:inline-block">Бонусы:</label> <span style="width:100px;display:inline-block">-{#bonus} р.</span><br>
	<label style="width:100px;display:inline-block">Купон:</label> <span style="width:100px;display:inline-block">-{#coupon} р.</span><br>
	<label style="width:200px;display:inline-block;font-weight:bold">Предварительный итог:</label> <span style="width:100px;display:inline-block;font-weight:bold">{#order-sum} р.</span>
</td>
</tr>
</table>

<h3 style="color:#ec5384">Комментарий к заказу:</h3>
<p>{#comment}</p><br><br>
<!-- email-oneclick-order-admin -->


<!-- email-wishlist-notice -->
<p align="right"><img src="http://yamibox.ru/ui/img/logo-main.png" alt="Yamibox.ru"></p>

<h2 style="color:#ec5384">Добрый день!</h2>

<p>Товары из вашего wish-листа появились в наличии.<br>
Посмотреть ваш wish-лист можно <a href="{#site-url}/account/wishlist">здесь</a>.
</p>
<!-- email-wishlist-notice -->


<!-- email-call-request -->
<br><br>
Здравствуйте, {#firstname}!<br><br>
Менеджеры Yamibox.Ru не смогли до Вас дозвониться :(<br>
Очень просим связаться с нами по телефону +7 495 662-49-90<br>
или указать в ответном письме удобное время для принятия звонка менеджера.<br><br>
Всю необходимую информацию по заказу Вы можете найти на странице заказа:<br>
<a href="{#site-url}/order-info/{#uid}">отследить на странице заказа</a>
<br><br>
К сожалению, без личного согласования с получателем заказ будет автоматически отменен через трое суток.<br>
 <br>
Спасибо, что выбрали нас! :)<br>
<!-- email-call-request -->


