<!-- intro-slider -->
<div class="container" id="intro-slider-wrapper">
<div id="intro-slider">
	<div class="cycle-slideshow" data-cycle-slides="> a" data-cycle-fx="scrollHorz" data-cycle-timeout="10000" data-cycle-prev="#intro-slider .prev" data-cycle-next="#intro-slider .next" data-cycle-pager=".cycle-pager" data-cycle-pager-template="<a href=#></a>" data-cycle-log="false">
		<!-- intro-slide --><a href="{#href}"><img src="/files/promo/780x310/{#filename}" width="780" height="310" alt=""></a><!-- intro-slide -->
	</div>
	<div class="controls">
		<div class="prev"></div>
		<div class="cycle-pager"></div>
		<div class="next"></div>
	</div>
</div>
<div class="promo-slider-right fleft">
<a href="{#site-url}/yamiblog/krasota-po-koreyski-ili-vse-o-stupenchatoy-sisteme-uhoda"><img src="/files/promo/rbanner01.jpg" alt=""></a>
<a href="{#site-url}/yamiblog/bb-krem-i-s-chem-ego-edyat"><img src="/files/promo/rbanner06.jpg" alt=""></a>
</div>
</div>
<!-- intro-slider -->

<!-- intro-catalog -->
<div id="intro-catalog">
<div id="tabs" class="tabs">
	<a href="#tab-bestsellers" class="active">Хиты</a>
	<a href="#tab-new-arrivals">Новинки</a>
	<a href="#tab-promoted">Подарки</a>
	<a href="#tab-discounts">Скидки</a>
</div>
<br>
<div class="tab-content active" id="tab-bestsellers">
	<div class="fleft slider-arrow-left"></div>
	<div class="cycle-slideshow elastic" data-cycle-slides=".bestsellers-slide" data-cycle-fx="fade" data-cycle-timeout="0" data-cycle-prev="#tab-bestsellers .slider-arrow-left" data-cycle-next="#tab-bestsellers .slider-arrow-right" data-cycle-log="false">
		<!-- bestsellers-slide -->
		<div class="slide bestsellers-slide">
		{#bestsellers}
		</div>
		<!-- bestsellers-slide -->
	</div>
	<div class="fright slider-arrow-right"></div>
	<div class="clear right"><a href="/catalog?sort=5">Посмотреть все</a></div>
</div>
<div class="tab-content" id="tab-new-arrivals">
	<div class="fleft slider-arrow-left"></div>
	<div class="cycle-slideshow elastic" data-cycle-slides=".new-arrivals-slide" data-cycle-fx="fade" data-cycle-timeout="0" data-cycle-prev="#tab-new-arrivals .slider-arrow-left" data-cycle-next="#tab-new-arrivals .slider-arrow-right" data-cycle-log="false">
		<!-- new-arrivals-slide -->
		<div class="slide new-arrivals-slide">
		{#new-arrivals}
		</div>
		<!-- new-arrivals-slide -->
	</div>
	<div class="fright slider-arrow-right"></div>
	<div class="clear right"><a href="/catalog">Посмотреть все</a></div>
</div>
<div class="tab-content" id="tab-promoted">
	<div class="fleft slider-arrow-left"></div>
	<div class="cycle-slideshow elastic" data-cycle-slides=".promoted-slide" data-cycle-fx="fade" data-cycle-timeout="0" data-cycle-prev="#tab-promoted .slider-arrow-left" data-cycle-next="#tab-promoted .slider-arrow-right" data-cycle-log="false">
		<!-- promoted-slide -->
		<div class="slide promoted-slide">
		{#promoted}
		</div>
		<!-- promoted-slide -->
	</div>
	<div class="fright slider-arrow-right"></div>
	<div class="clear right"><a href="/catalog/podarki">Посмотреть все</a></div>
</div>
<div class="tab-content" id="tab-discounts">
	<div class="fleft slider-arrow-left"></div>
	<div class="cycle-slideshow elastic" data-cycle-slides=".discounts-slide" data-cycle-fx="fade" data-cycle-timeout="0" data-cycle-prev="#tab-discounts .slider-arrow-left" data-cycle-next="#tab-discounts .slider-arrow-right" data-cycle-log="false">
		<!-- discounts-slide -->
		<div class="slide discounts-slide">
		{#discounts}
		</div>
		<!-- discounts-slide -->
	</div>
	<div class="fright slider-arrow-right"></div>
	<div class="clear right"><a href="/catalog?filter=41">Посмотреть все</a></div>
</div>
</div>
<!-- intro-catalog -->

<!-- banner-brand -->
<div class="m20a">
<a href="{#brand-href}"><img src="/files/promo/brands/{#brand-banner}" width="980" height="100" alt="{#brand-name}"></a>
</div>
<!-- banner-brand -->

<!-- intro-posts -->
<div class="columns-3 elastic">
	<!-- intro-post -->
	<div class="column">
	<div class="info-tile">
	<div class="imagebox">
		<a href="/yamiblog/{#title_url}"><img src="/files/blog/{#image}" alt="" width="60" height="60"></a>
	</div>
	<div class="summary">
	<div class="date small">{#cdate}</div>
	<div class="title"><a href="/yamiblog/{#title_url}">{#title}</a></div>
	<div class="content">{#preview}</div>
	</div>
	</div>
	</div>
	<!-- intro-post -->
</div>
<!-- intro-posts -->

<!-- intro-features-1 -->
<div class="center features">
<a href="/yamiblog/dostavka" class="iblock">40000 пунктов выдачи заказов</a>
<a href="/page/oplata" class="iblock m3">Бесплатная доставка по России, оплата при получении</a>
</div>
<!-- intro-features-1 -->

<!-- intro-features-2 -->
<div class="center features">
<a href="/yamiblog/probniki-sashetki-i-surorizy-dlya-pokupatelnic" class="iblock">Подарки в каждом заказе</a>
<a href="/yamiblog/dostavka-i-oplata" class="iblock m3">Бесплатная доставка по Москве</a>
<a href="/yamiblog/sistema-ballov-yamibonusy" class="iblock m3">Дополнительная скидка всем</a>
</div>
<!-- intro-features-2 -->

<!-- intro-seo -->
<div class="divider"></div>
<div style="width:900px;margin:20px auto 0;">
<div class="center"><h1>Корейская косметика – гарант Вашей безупречной красоты</h1></div>

<p>Замечательный вид волос, кожи, ногтей – признак здорового, сбалансированного образа жизни, который достигается не только правильной диетой, физическими упражнениями, но и подпиткой минералами, витаминами, полезными ферментами. Именно поэтому на сегодняшний день так популярна корейская косметика.</p>

<p class="bold">Традиционная корейская косметика</p>

<p>Почему корейская, а не израильская, либо французская косметика? Весь секрет кроется в традициях и составе, ведь для производства разных косметических средств для ухода за внешней красотой человека, корейские изготовители практически не применяют консервантов и химических ингредиентов. Придерживаясь восточных традиций, они совмещают классические натуральные компоненты с новейшими технологиями. Благодаря этому лучшие бренды корейской косметики гарантируютгипоаллергенность своей продукции, которая заботиться о здоровом состоянии кожи человека. Только здоровая кожа обладает естественной упругостью, и таким приятным оттенком, чего нельзя достичь посредством декоративной косметики.</p>

<p>Наш интернет-магазин корейской косметики предоставляет Вам целый ряд разных косметических средств, которые помогут восстановить и поддерживать естественную красоту кожи и волос. У нас можно заказать с доставкой любой из представленных видов качественной корейской косметики. Мы постарались максимально детально описать каждый тип продукции, чтобы любой из клиентов смог самостоятельно подобрать необходимый ему товар. Однако в случае возникновения любых сомнений, смело обращайтесь за помощью к нашим специалистам-консультантам. Они ответят на интересующие Вас вопросы, прояснят ситуацию и помогут осуществить покупку требуемого Вам косметического средства, будь то антивозрастные кремы для лица, либо эссенция по уходу за губами.</p>

<p>
<span class="bold">Преимущества корейской косметики, предлагаемой нашим интернет-магазином:</span><br>
- данную косметику используют как профессиональные косметологи в элитных салонах, так и дома;<br>
- мы предлагаем продукцию только проверенных, известных корейских производителей;<br>
- бесплатная доставка по России от 5000 рублей;<br>
- в предлагаемом ассортименте Вы найдете лечебную и декоративную косметику;<br>
- официальные поставщики гарантируют отсутствие парабенов, различных минеральных масел, и прочих нефтепродуктов, которые негативно влияют на комплексное состояние здоровья человека;<br>
- при необходимости, мы предлагаем нашим клиентам бесплатные пробники интересующих косметических средств.</p>

<p>Если Вы желаете купить в Москве действительно качественную и натуральную корейскую косметику, то обязательно полистайте наш онлайн каталог полезных средств по уходу. Здесь Вы найдете не только традиционную косметику, но и самые последние новинки, которые имеют в своем составе выжимку экстракта разнообразных по свойствам азиатских трав, помогающим побороть преждевременное старение кожи.</p>

<p>Желаем Вам полезных покупок и будем очень признательны за честные отзывы о представленной корейской косметике. Помните, Ваш совет поможет посетителям сделать правильный выбор!</p>
</div>
<!-- intro-seo -->

<!-- intro-brands -->
<div class="container promo-brands">
<!-- intro-brand -->
<a href="{#site-url}{#brand-href}"><img src="{#brand-logo-src}" alt="{#brand-name}" class="brand-logo"></a>
<!-- intro-brand -->
<a href="{#site-url}/brands" class="all">Все бренды &rsaquo;</a>
</div>
<!-- intro-brands -->

<!-- rr-widget-intro -->
<div class="rr-widget"
     data-rr-widget-type="main-page"
     data-rr-widget-category-id="0"
     data-rr-widget-id="53bad1ef6636b127ec9ed487"
     data-rr-widget-width="100%"></div>
<!-- rr-widget-intro -->
