<link rel="stylesheet" href="../ui/css/mobile.css">

<!-- mobile-admin-orders -->
<div class="orders">
<div class="header">
<select name="status" class="filter">
{#option-status}
</select>
<select name="cstatus" class="filter">
{#option-cstatus}
</select>
</div>
<!-- mobile-admin-order -->
<div class="order" data-id="{#id}">
<div>
<span class="iblock bold id">{#id}</span>
<span class="iblock status status-{#status}">{#status-text}</span>
<span class="iblock status cstatus-{#cstatus} nowrap">{#cstatus-text}</span>
<span class="iblock bold fright sum">{#order-sum}&nbsp;р.</span>
</div>
<div>
<span class="iblock firstname">{#firstname}</span>
<span class="iblock fright cdate">{#cdate}</span>
</div>
</div>
<!-- mobile-admin-order -->
</div>

<script>
var go_to_order = function() {
	var id = $(this).data('id');
	document.location = '{#site-url}/admin/orders/' + id;
};
$('.order').click(go_to_order);
$('.filter').change(function() {
	document.location = $(this).val();
});

var $loadgif = $('<div id="loadgif" />');
var current_page = 1;
var locked = false;

$(window).scroll(function() {
	var $orders = $('.orders');
	if($(window).scrollTop() + $(window).height() > $(document).height() - 10 && !locked) {
		locked = true;
		$loadgif.appendTo($orders).show();
		$.get(document.location.href, {'p':current_page+1}, function(response) {
			current_page++;
			$loadgif.hide();
			$orders.append(response);
			$('.order').click(go_to_order);
			locked = false;
		});
	}
});
</script>
<!-- mobile-admin-orders -->

<!-- mobile-admin-order-details -->
<div id="order">
<div class="header">
<select name="status" class="update">
{#option-status}
</select>
<select name="cstatus" class="update">
{#option-cstatus}
</select>
</div>
<p class="bold container">{#ctime}</p>
<h3>Товары:</h3>
<div class="container products">
<table class="wide order-product">
<!-- mobile-admin-order-product -->
<tr>
<td>{#n}</td>
<td>{#stock-sign}</td>
<td class="bold">{#name}{#option-name}</td>
<td class="right">{#quantity}&nbsp;шт.</td>
<td class="bold right">{#product-sum}&nbsp;р.</td>
</tr>
<!-- mobile-admin-order-product -->
</table>
</div>
<br>
<p class="container"><a href="/admin/orders/{#order-id}?action=create-ms" class="iblock pointer ms-create">Отправить заказ в Мультишип</a></p>

<div class="container client">
<h3>Покупатель</h3>
<table class="client">
<tr>
<td>Фамилия Имя</td>
<td><input type="text" name="lastname" value="{#lastname}" class="input w125 update" placeholder="Фамилия"> <input type="text" name="firstname" value="{#firstname}" class="input w125 update" placeholder="Имя"></td>
</tr>
<tr>
<td>Телефон</td>
<td><a href="tel:{#phone}">{#phone}</a></td>
</tr>
<tr>
<td>Email</td>
<td><a href="mailto:{#email}">{#email}</a></td>
</tr>
<tr>
<td>День рождения</td>
<td>{#bdate}</td>
</tr>
<tr>
<td>Последний визит</td>
<td>{#ltime}</td>
</tr>
</table>
</div>

<div class="container delivery">
<h3>Доставка</h3>
<p>
<strong>Способ доставки:</strong><br>
<select name="dtype" class="input update w300">
<option value="0">-- Не выбрано --</option>
{#option-dtype}
</select><br>
<strong>Описание доставки:</strong><br>
<input type="text" name="delivery_info" value="{#delivery_info}" class="input w300 update" placeholder="Название службы, самовывоз/до двери, стоимость, срок">
</p>
<p><strong>Стоимость доставки:</strong><br>
<input type="number" name="delivery_price" class="input right w100 update" value="{#delivery_price}"> р.</p>
<strong>Адрес доставки:</strong>
<table class="table-2 mb20">
<tr>
<td class="right w150">Регион</td>
<td><input type="text" name="region" value="{#region}" class="input w200 update address"></td>
</tr>
<tr>
<td class="right w150">Город</td>
<td><input type="text" name="city" value="{#city}" class="input w200 update address"></td>
</tr>
<tr>
<td class="right">Индекс</td>
<td><input type="text" name="zipcode" value="{#zipcode}" class="input w200 update address"></td>
</tr>
<tr>
<td class="right">Улица</td>
<td><input type="text" name="street" value="{#street}" class="input w200 update address"></td>
</tr>
<tr>
<td class="right">Дом</td>
<td><input type="text" name="building" value="{#building}" class="input w100 update address"></td>
</tr>
<tr>
<td class="right">Корпус/строение</td>
<td><input type="text" name="building-add" value="{#building-add}" class="input w100 update address"></td>
</tr>
<tr>
<td class="right">Квартира/офис</td>
<td><input type="text" name="apt" value="{#apt}" class="input w100 update address"></td>
</tr>
</table>
</div>

<div class="container comment">
<h3>Комментарий</h3>
<textarea name="comment" class="input w300 italic update" rows="6">{#comment}</textarea>
</div>

<script>
$('.update').change(function() {
	var $el = $(this);
	var data = {};
	data.column = $el.attr('name');
	data.value = $el.val();
	$.post('/admin/orders/{#order-id}', data, function(response) {
		if(response == 'ok') {
			$el.blink();
		}
		else alert(response);
	});
});
$('.ms-create').click(function(e) {
	e.preventDefault();
	var $el = $(this);
	$.get($el.attr('href'), function(response) {
		alert(response);
	});
});
</script>
</div>
<!-- mobile-admin-order-details -->

