<!-- admin-monitoring -->
<h3>Сравнение цен конкурентов</h3>
<form method="get" action="{#path}" class="mb20">
<table class="table-2">
<tr>
<td class="top">{#monitoring-checkbox}</td>
<td class="top">{#monitoring-radio}</td>
<td class="top"><select name="brand">
<option value="">--- Все ---</option>
{#brand-option}
</select></td>
<td class="bottom"><input type="submit" value="Применить" class="m2"></td>
</table>
</form>
<table class="atable wide mb20" id="monitoring-attachment-list">
<tr>
<td>Наименование</td>
<td>Цена</td>
<td>ASIACREAM</td>
<td>BBCREAM</td>
<td>LUNIFERA</td>
</tr>
<!-- monitoring-product -->
<tr>
<td class="top"><a href="/admin/products/{#id}" target="_blank">{#name}</a></td>
<td class="top right">{#price}</td>
<td class="top">
{#match-asiacream}
</td>
<td class="top">
{#match-bbcream}
</td>
<td class="top">
{#match-lunifera}
</td>
</tr>
<!-- monitoring-product -->
</table>
{#paginator}
<!-- admin-monitoring -->

<!-- monitoring-product-match -->
<div class="sm1">
{#m-name}
<span class="bold{#m-price-class}">{#m-price}</span>
<span class="bold">{#m-price_old}</span>
</div>
<!-- monitoring-product-match -->

