<div id="order-form">
<form method="post" action="/cart/order2" class="mb20">
<div class="left-column">
<h3>1. Введите ваши данные</h3>
<table class="personal">
<tr>
<td class="middle width-75">Имя<span class="red">*</span></td>
<td><input type="text" name="firstname" value="{#firstname}" class="input" required></td>
<td>&nbsp;</td>
</tr>
<tr>
<td class="middle">Фамилия</td>
<td><input type="text" name="lastname" value="{#lastname}" class="input"></td>
<td>&nbsp;</td>
</tr>
<tr>
<td class="middle">Телефон<span class="red">*</span></td>
<td><input type="text" name="phone" value="{#phone}" class="input" placeholder="Без восьмёрки" required></td>
<td>&nbsp;</td>
</tr>
<tr>
<td class="middle">Email</td>
<td><input type="email" name="email" value="{#email}" class="input"></td>
<td>&nbsp;</td>
</tr>
<tr>
<td class="middle">Регион<span class="red">*</span></td>
<td class="middle"><select name="region" class="input region" required>
{#region-option}
</select>
<input type="text" name="region_m" class="input region kladr" style="display:none" required disabled>
</td>
<td class="middle" rowspan="2"><a href="#" class="input-toggle">Не нашли свой населенный пункт в списке?<br>Нет доставки Почтой России?<br>Попробуйте текстовый ввод</a></td>
</tr>
<tr>
<td class="middle">Город<span class="red">*</span></td>
<td class="middle"><select name="city" class="input city" required>
{#city-option}
</select>
<input type="text" name="city_m" class="input city kladr" style="display:none" required disabled>
<input type="button" value="Рассчитать" class="input-apply" style="display:none">
</td>
</tr>
</table>

<!-- order-form-delivery -->
<div style="margin-bottom:40px;">
<h3>2. Выберите способ доставки</h3>

<div class="delivery-variant" id="delivery-variant-pickup" style="display:none" data-type="1">
<span class="pointer dashed pink opener">Самовывоз из пункта выдачи заказов</span>
<div class="fright" title="Стоимость товаров в корзине с учетом всех скидок">Бесплатная доставка от <span id="free1"></span> р.</div>
<div class="content">
	<select name="delivery_pickup" id="delivery-pickup-select"></select>
	<input type="button" value="Подтверждаю" class="select-change">
	<br><br>
	<p><img src="/ui/img/icon_info_black.png"></a> Выберите пункт выдачи заказов, и нажмите «Подтверждаю»</p>	
	<p><a href="#" class="dashed" id="yamimap-toggle">Показать пункты выдачи заказов на карте</a></p>
	<div id="yamimap"></div>
</div>
</div>

<div class="delivery-variant" id="delivery-variant-courier" style="display:none" data-type="2">
<span class="pointer dashed pink opener">Доставка курьером</span>
<div class="fright" title="Стоимость товаров в корзине с учетом всех скидок">Бесплатная доставка от <span id="free2"></span> р.</div>
<div class="content">
	<select name="delivery_courier" id="delivery-courier-select"></select>
	<input type="button" value="Подтверждаю" class="select-change">
	<br><br>
	<p><img src="/ui/img/icon_info_black.png"></a> Выберите курьерскую службу, и нажмите «Подтверждаю»</p>	
</div>
</div>

<div class="delivery-variant" id="delivery-variant-pr" style="display:none" data-type="3">
<span class="pointer dashed pink opener">Почта России</span>
<div class="fright" title="Стоимость товаров в корзине с учетом всех скидок">Бесплатная доставка от <span id="free3"></span> р.</div>
<div class="content">
	<p>Для расчета доставки укажите индекс<span class="red">*</span> <input type="text" name="zipcode" value="{#zipcode}" class="input width-100"> {#loadgif} <a href="http://indexp.ru/" target="_blank">узнайте свой индекс <img src="/ui/img/icon_target_blank.png"></a></p>
	<select name="delivery_pr" id="delivery-pr-select" disabled></select>
	<input type="button" value="Подтверждаю" class="select-change" disabled>
	<br><br>
	<p><img src="/ui/img/icon_info_black.png"></a> Выберите почтовую доставку, и нажмите «Подтверждаю»</p>	
</div>
</div>

<div id="delivery-variant-info">Способ доставки: не выбрано</div>
<p id="loadgif" style="display:none">Загружаются варианты доставки... {#loadgif}</p>

</div>

<div id="delivery-input">
<input type="hidden" name="delivery_info" value="" id="delivery_info">
<input type="hidden" name="delivery_price" value="" id="delivery_price">
<input type="hidden" name="delivery_price_real" value="" id="delivery_price_real">
<input type="hidden" name="pickuppoint" value="" id="pickuppoint">
<input type="hidden" name="dservice" value="" id="dservice">
<input type="hidden" name="dtype" value="0" id="dtype">
<input type="hidden" name="manual_input" value="{#manual-input}" id="manual-input">
</div>

<div id="delivery-address-form" style="display:none;margin-top:10px">
<table>
<tr>
<td>&nbsp;</td>
<td class="s2">Адрес доставки:</td>
</tr>
<tr>
<td>Улица<span class="red">*</span></td>
<td><input type="text" name="street" value="{#street}" class="input" required disabled></td>
</tr>
<tr>
<td>Дом<span class="red">*</span></td>
<td><input type="text" name="building" value="{#building}" class="input" required disabled></td>
</tr>
<tr>
<td>Корпус/<br>строение</td>
<td><input type="text" name="building-add" value="{#building-add}" class="input" disabled></td>
</tr>
<tr>
<td>Квартира/<br>Офис</td>
<td><input type="text" name="apt" value="{#apt}" class="input" disabled></td>
</tr>
<tr>
<td>Метро</td>
<td><select name="metro" id="metro-select">
<option value="">Станция метро</option>
</select></td>
</tr>
</table>
</div>
<!-- order-form-delivery -->

<h3>3. Выберите способ оплаты</h3>
<ul class="ptype-select">
<!-- ptype-option --><li><label><img src="{#img}" alt="{#text}"> <input type="radio" name="ptype" value="{#value}" required{#ptype-checked}> {#text}</label></li>
<!-- ptype-option -->
</ul>

<div>
<h3>4. Комментарий к заказу:</h3>
<textarea name="comment" class="input width-500" rows="5">{#comment}</textarea>
</div>
<br>
<div class="center middle">
<input type="submit" value="" class="button order-confirm yandex-goal" data-goal="ORDER_FORM_SUBMIT"> {#loadgif}
</div>

</div><!-- .left-column -->

<div class="right-column">
<div id="oneclick-form-container"><p class="clear">Возникли трудности с оформлением заказа?</p>
Нажмите эту кнопку <input type="button" value="" class="button oneclick"></div>

<h3>Корзина <a href="/cart" class="fright">Редактировать заказ</a></h3>
<table class="wide">
<!-- order-form-cart-item -->
<tr>
<td class="center middle">
	<div class="imagebox"><img src="{#site-url}{#product-img}" alt="{#name}" width="60" height="60"></div>
</td>
<td><span class="small">{#name}</span>
<!-- order-form-cart-item-option-name --><br><span class="small pink bold">{#option-name}</span><!-- order-form-cart-item-option-name --></td>
<td class="right">x&nbsp;{#product-count}<!-- order-form-cart-item-stock-sign -->&nbsp;<strong>С</strong><!-- order-form-cart-item-stock-sign --></td>
<td class="right"><div class="price">{#product-sum}&nbsp;р.</div></td>
</tr>
<!-- order-form-cart-item -->
<!-- order-form-cart-gift -->
<tr>
<td class="center middle">
	<div class="imagebox"><img src="{#site-url}/files/product/thumbs/{#img}" alt="*" width="60" height="60"></div>
</td>
<td><span class="small">{#name}</span><br><span class="small pink bold">{#short_text}</span></td>
<td class="right">x&nbsp;{#quantity}</td>
<td class="right"><div class="price">0&nbsp;р.</div></td>
</tr>
<!-- order-form-cart-gift -->
<tr>
<td colspan="4" class="right totals">
	<label class="iblock width-200 right">Итого:</label> <span class="iblock width-100 right">{#cart-sum} р.</span><br>
	<label class="iblock width-200 right">Накопленная скидка ({#cumulative}%):</label> <span class="iblock width-100 right">-{#cumulative-discount} р.</span><br>
	<label class="iblock width-200 right">Использовано бонусов:</label> <span class="iblock width-100 right">-{#bonus-spend} р.</span><br>
	<label class="iblock width-200 right">Скидка по купону:</label> <span class="iblock width-100 right">-{#coupon-discount} р.</span><br>
	<label class="iblock width-200 right">Доставка:</label> <span class="iblock width-100 right" id="delivery-price">0 р.</span><br>
	<label class="iblock width-200 right bold">К оплате:</label> <span class="iblock width-100 right pink bold" id="total-sum">{#total-sum} р.</span>
</td>
</tr>
</table>
</div>
</form>

<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="/ui/js/jquery.kladr.min.js" type="text/javascript"></script>
<script>
window.cart = {
	quantity: 1, // товар всегда один - косметика (запаковано)
	weight: 1.5,
	cost: {#total-sum}
};
</script>
<script src="/ui/js/orderform2.js?{#orderform-script-mtime}"></script>
{#oneclick-form}
</div>