<div class="m20">
<h2>Подбиратор</h2>

<table class="table-4 m0a mb20 search-params">
<tr>
<td>День рождения</td>
<td><input type="date" name="bdate" value="{#bdate}" class="input width-150" placeholder="ГГГГ-ММ-ДД"></td>
<td>&nbsp;</td>
</tr>
<tr>
<td class="top">Тип кожи</td>
<td>
<label><input type="checkbox" name="skin-type" value="11" class="podbirator-cb"> Сухая</label><br>
<label><input type="checkbox" name="skin-type" value="13" class="podbirator-cb"> Жирная</label>
</td>
<td>
<label><input type="checkbox" name="skin-type" value="12" class="podbirator-cb"> Нормальная</label><br>
<label><input type="checkbox" name="skin-type" value="14" class="podbirator-cb"> Комбинированная</label>
</td>
</tr>
<tr>
<td class="top">Состояние кожи</td>
<td>
<label><input type="checkbox" name="skin-state" value="61" class="podbirator-cb"> Обезвоженная</label><br>
<label><input type="checkbox" name="skin-state" value="63" class="podbirator-cb"> Проблемная</label>
</td>
<td>
<label><input type="checkbox" name="skin-state" value="62" class="podbirator-cb"> Чувствительная</label><br>
<label><input type="checkbox" name="skin-state" value="64" class="podbirator-cb"> Увядающая</label>
</td>
</tr>
<tr>
<td class="top">Место проживания</td>
<td>
<label><input type="checkbox" name="environment" value="1" class="podbirator-cb"> Сельская местность</label><br>
<label><input type="checkbox" name="environment" value="3" class="podbirator-cb"> Крупный город</label>
</td>
<td>
<label><input type="checkbox" name="environment" value="2" class="podbirator-cb"> Маленький город</label><br>
<label><input type="checkbox" name="environment" value="4" class="podbirator-cb"> Мегаполис</label>
</td>
</tr>
</table>

<div class="mb20 center"><input type="button" value="Подобрать уход" class="podbirator-submit"></div>

<div id="podbirator-result">

</div>

<!-- podbirator-result -->
<div class="center"><h3>Утро</h3></div>
<div class="podbirator">
{#morning}
</div>

<div class="center"><h3>Вечер</h3></div>
<div class="podbirator">
{#evening}
</div>
<!-- podbirator-result -->

<!-- podbirator-product -->
	<div class="podbirator-product">
		<p><img src="{#img-src}" alt="{#name}"></p>
		<p class="center sm1 label">{#label}</p>
	</div>
<!-- podbirator-product -->

</div>
<script>
var $submit = $('.podbirator-submit');
var $table = $('table.search-params');

$('.podbirator-cb').click(function(e) {
	var $el = $(this), name = $el.attr('name');
	$('.podbirator-cb').filter('[name="'+name+'"]:checked').uncheck();
	$el.check();
});

$submit.click(function() {
	var data = {};
	data.bdate = $table.find('[name="bdate"]').val();
	data.stype = $table.find('[name="skin-type"]:checked').val();
	data.sstate = $table.find('[name="skin-state"]:checked').val();
	data.environment = $table.find('[name="environment"]:checked').val();
	var error = '';
	for(i in data) {
		var value = data[i];
		if(!value) {
			switch(i) {
				case 'bdate':
					error = 'bdate';
					break;
				case 'stype':
					error = 'stype';
					break;
				case 'sstate':
					error = 'sstate';
					break;
				case 'environment':
					error = 'environment';
			}
			if(error) break;
		}
	}
	if(error) {
		alert(error);
		return false;
	}
	$.post('/podbirator', data, function(response) {
		$('#podbirator-result').html(response);
	});
});
</script>