<div class="product-info" itemscope itemtype="http://data-vocabulary.org/Product">
<meta itemprop="name" content="{#short_text} {#name}">
<meta itemprop="brand" content="{#manufacturer}" />
<div class="left-column">
	<div class="imagebox"><img src="{#image-big-src}" alt="{#name}" id="big_img" itemprop="image"></div>
	<div class="image-additional">
	<!-- image-add -->
	<a href="#" class="thumb{#image-add-class}" id="{#image-add-id}"><img src="{#image-add-src}" alt="{#name}"></a>
	<!-- image-add -->
	</div>
	<div class="mb20">
		<!-- product-video --><div class="center youtube-title">Видеообзор {#product-name}</div>
		<iframe width="552" height="345" src="https://www.youtube.com/embed/{#video-id}" frameborder="0" allowfullscreen></iframe><!-- product-video -->
	</div>
	<p><a href="{#catalog_url}" class="bold iblock middle"><span class="iblock bottom">&larr;</span> Назад к каталогу</a></p>
	<!-- product-admin-section -->
	<p class="clear"><a href="#" id="admin-section-toggle">Админ. панель</a></p>
	<div id="admin-section" class="mb20" style="display:none">
	<hr>
	<p>PRODUCT ID: {#id}</p>
	<p>Макс. бонусов (%): <input type="text" name="max_bonus[{#id}]" value="{#max_bonus}" title="MAX BONUS" class="input width-50 max-bonus"></p>
	<div class="update skin-types"><span class="iblock top width-75">Тип кожи:</span>
		<div class="iblock top">
		<label><input type="checkbox" name="skin_type" value="Для всех типов" class="middle"> Для всех типов</label><br>
		<!-- product-skin-type --><label class="m1"><input type="checkbox" name="skin_type" value="{#skin-type}" class="middle"{#skin-type-checked}> {#skin-type}</label><br><!-- product-skin-type -->
		</div>
	</div><br>
	<div class="update"><span class="iblock top width-75">Возраст:</span>
		<div class="iblock top">
		<!-- product-age --><label><input type="checkbox" name="age" value="{#age-text}" class="middle"{#age-checked}> {#age-text}</label><br><!-- product-age -->
		</div>
	</div><br>
	<div class="update"><span class="iblock top width-75">&nbsp;</span>
		<div class="iblock top">
		<!-- product-special --><label><input type="checkbox" name="special" value="{#special-text}" class="middle"{#special-checked}> {#special-text}</label><br><!-- product-special -->
		</div>
	</div><br>
	<div class="update">
		<div class="iblock top">
		<input type="button" name="update_utime" value="Обновить дату" class="middle" id="utime"><span class="iblock middle m1 bold green" style="display:none">OK!</span><br>
		</div>
	</div><br>
	<div class="update">
		<div class="iblock top">
		<!-- product-outofp-cb --><label><input type="checkbox" name="outofp" value="1" class="middle"{#outofp-checked}> Снят с производства</label><br><!-- product-outofp-cb -->
		</div>
	</div>
	<div>
		<select name="status[{#id}]" title="Статус товара" class="input update-status" style="width:60px">
		{#admin-product-status}
		</select>
	</div>
	<script>
	$('#admin-section-toggle').click(function(e) {
		e.preventDefault();
		$('#admin-section').slideToggle('fast');
	});
	$('#utime').click(function() {
		var $el = $(this);
		$.post('/product/{#url_name}', {'action':'updateUtime'}, function(response) {
			if(response == 'ok') {
				$el.next('span').fadeIn('fast');
				delay(function(){$el.next('span').fadeOut('slow');}, 1500);
			}
			else alert(response);
		});
	});
	$('.max-bonus').change(function() {
		var $el = $(this);
		var name = $el.attr('name');
		var value = $el.val();
		value = parseInt(value);
		if(isNaN(value)) {
			alert('Только числа от 0 до 100!');
			return false;
		}
		var data = {};
		data[name] = value;
		$.post('/admin/products', data, function(response) {
			if(response == 'ok') $el.blink();
			else alert(response);
		});
	});
	$('.update [type="checkbox"]').not('[name="skin_type"]:first').click(function() {
		var $cb = $(this);
		var outofp = $cb.attr('name') == 'outofp';
		var value = outofp ? ($cb.is(':checked') ? 1 : 0) : $cb.val();
		var action = outofp ? 'outofp' : 'updateFilter';
		$.post('/product/{#url_name}', {'action':action, 'value':value}, function(response) {
			if(response == 'ok') $cb.parent().blink();
			else alert(response);
		});
	});
	var $skin_types = $('.update.skin-types [type="checkbox"]');
	var $skin_types_all = $skin_types.eq(0);
	var $skin_types_list = $skin_types.not(':first');
	var $skin_types_unchecked = $skin_types_list.not(':checked');
	if(!$skin_types_unchecked.length) $skin_types_all.check();
	$skin_types_all.click(function() {
		var check = $(this).is(':checked') ? 1 : 0;
		if(check) $skin_types_list.check();
		else $skin_types_list.uncheck();
		$.post('/product/{#url_name}', {'action':'updateSkinTypes', 'value':check}, function(response) {
			if(response == 'ok') {
				$skin_types_all.parent().blink();
			}
			else alert(response);
		});
	});
	$skin_types_list.click(function() {
		if(!$(this).is(':checked')) $skin_types_all.uncheck();
	});

	$('document').ready(function() {
		$('.delete-review').click(function(e) {
			e.preventDefault();
			var $el = $(this);
			if(!confirm('Отключить отзыв?')) return false;
			$.get($el.attr('href'), function(response) {
				if(response == 'ok') $el.parent().parent().slideUp();
				else alert(response);
			});
		});
	});
	$('.update-status').change(function() {
		var $el = $(this);
		var name = $el.attr('name');
		var value = $el.val();
		var data = {};
		data[name] = value;
		$.post('/admin/products', data, function(response) {
			if(response == 'ok') $el.blink();
			else alert(response);
		});
	});
	</script>
	</div>
	<!-- product-admin-section -->
</div>
<div class="right-column">
<div class="product-head">
	<div class="title"><h1>{#short_text} {#manufacturer} {#name}</h1></div>
	<div class="review-total">
		<div>Оценка покупателей {#product-rating} <span class="pointer dotted scrollTo" href="#review-summary">{#review-count}&nbsp;{#review-word}</span></div>
		<!-- product-meta-rating -->
		<span itemscope itemtype="http://data-vocabulary.org/Review-aggregate">
			<meta itemprop="rating" content="{#rating-avg}" />
			<meta itemprop="votes" content="{#review-count}" />
		</span>
		<!-- product-meta-rating -->
	</div>
	<!-- product-outofp --><span class="iblock bold fright">Снято с производства</span><!-- product-outofp -->
</div>
<form method="post" action="/add2cart/{#id}" id="form-add2cart">
<!-- product-options -->
<ul class="options">
	<!-- product-option --><li data-oid="{#option-id}" class="option{#option-class}" title="{#option-name}"><img src="{#option-image}" alt="{#option-name}" class="option-img"></li>
	<!-- product-option -->
</ul>
<input type="hidden" name="oid" value="{#add2cart-option}" id="oid-input">
<!-- product-options -->
<table class="wide product-body">
<tr>
	<td class="half-left">
		<!-- product-buy-option --><div class="option-name">{#option-name}</div><!-- product-buy-option -->
		<div class="mb20 attributes">
			<div id="volume" class="{#volume-class}">Объем <span>{#volume}</span>мл</div>
			<div id="weight" class="{#weight-class}">Вес <span>{#weight}</span>гр</div>
			<div id="spf" class="{#spf-class}">SPF <span>{#spf}</span></div>
		</div>
	</td>
	<td class="half-right">
		<div id="artikul"><span class="iblock width-75">Артикул:</span> <span class="value">{#artikul}</span></div>
		<!-- product-manufacturer --><div id="brand"><span class="iblock width-75">Бренд:</span> <a href="{#brand-href}">{#manufacturer}</a></div><!-- product-manufacturer -->
		<input type="hidden" name="product_id" value="{#id}">
	</td>
</tr>
<tr>
	<td class="bottom">
	<div class="prices" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
		<meta itemprop="currency" content="RUB" />
		<div class="price-old {#price-old-class}" id="price-old"><div><span>{#price_old}</span> р.</div></div>
		<div class="nowrap" id="price"><span itemprop="price">{#price}</span> р.</div>
	</div>
	</td>
	<td class="bottom"><span class="iblock {#stock-color}" id="stock-text" style="min-width:98px;">{#stock-text}</span></td>
</tr>
<tr>
	<td class="bottom" height="60"><input type="submit" value="В КОРЗИНУ" class="button add-to-cart{#add2cart-disabled}"></td>
	<td class="bottom"><a href="#" class="button add2wishlist" data-id="{#id}" data-oid="{#add2cart-option}" rel="nofollow">В ИЗБРАННОЕ</a></td>
</tr>
</table>
</form>
<!-- product-description-form --><p><a href="#" class="dashed" id="product-description-a">Редактировать описание</a></p>
<form method="post" action="/admin/products/{#id}" class="mb20" id="product-description-form" style="display:none">
<textarea name="text" class="input" rows="10" cols="80">{#text}</textarea>
<br>
<p><input type="submit" value="Сохранить"> {#loadgif}</p>
</form>
<script type="text/javascript" src="/ui/js/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/ui/js/ckeditor/adapters/jquery.js"></script>
<script>
$('document').ready(function() {
	var $form = $('#product-description-form');
	var $loadgif = $form.find('.loadgif');
	var h = $('#product-description').height() + 70;
	$form.find('textarea').ckeditor({height:h});
	$form.ajaxForm({
		beforeSubmit: function() {
			$loadgif.show();
		},
		success: function(data) {
			$loadgif.hide();
			if(data == 'ok') location.reload();
			else alert(data);
		}
	});
});
$('#product-description-a').click(function(e) {
	e.preventDefault();
	$('#product-description-form').toggle();
	$('#product-description').toggle();
});
</script>
<!-- product-description-form -->
<div class="mb20" id="product-description" itemprop="description">{#text}</div>
</div><!-- .right -->

<!-- product-description-img --><p class="center"><img src="{#description-img}" alt="" class="description-img"></p><!-- product-description-img -->

<!-- product-rel-list -->
<div class="clear divider"></div>
<div class="center"><h3>В этой же серии</h3></div>
<div id="product-rel">
<!-- product-rel -->
<div class="product product-rel selected" data-id="{#id}" data-price="{#price}">
<div class="imagebox">
<a href="{#product-href}"><img src="{#product-img}" alt="{#name}" width="100" height="100"></a>
<!-- product-rel-plus --><div class="plus">+</div><!-- product-rel-plus -->
<div class="checkbox checked"></div>
</div>
<div class="name"><a href="{#product-href}">{#name}</a></div>
<div class="short-description">{#short_text}</div>
</div>
<!-- product-rel -->
<div class="clear"></div>
<table class="wide mb20">
<tr>
<td class="top"><span id="rel-delivery-text"></span></td>
<td class="width-250">
<span class="pink">Ваша цена:</span>
<div id="product-rel-sum">= <span>{#product-rel-sum}</span>&nbsp;р.</div>
<input type="button" value="В КОРЗИНУ" class="button add-to-cart" id="add-rel">
</td>
</tr>
</table>
</div>
<!-- product-rel-list -->

<div class="clear divider"></div>

<div class="recommended">
<div class="rr-widget" 
     data-rr-widget-product-id="{#rr-product-id}"
     data-rr-widget-id="53a6baec1e994424a0765d41"
     data-rr-widget-width="100%"></div>
</div>

<!-- viewed-products -->
<div class="recommended">
<div class="center"><h3>Вы недавно смотрели</h3></div>
<div class="m0a" style="width:900px;height:300px">
{#viewed-product}
</div>
</div>
<!-- viewed-products -->

<div id="review-list-wrapper">
<!-- review-list -->
<div class="clear divider"></div>
<div class="mb20" id="review-summary">
	<p class="bold">Средний рейтинг:</p>
	<div class="rating-big middle">
		<div class="value"><span class="value-{#rating-value}"></span></div>
	</div>
	<div class="iblock middle">
		<span class="bold m1">"{#rating-avg}"</span> на основании {#review-count} отзывов
	</div>
	<br><br>
	<p><span class="bold">{#recommend-rate}%</span> покупателей рекомендуют этот товар</p>
	<p>Успели купить? <a href="#review-form" class="m3 review-form-opener">Оставьте отзыв</a></p>
</div>
<div class="mb20" id="review-stats">
	<p class="bold">Распределение оценок:</p>
	<!-- review-stats-row -->
	<div class="review-stats-row">
		<div class="rating iblock middle"><span class="value-{#row-key}"></span></div>
		<div class="rating-bar"><span style="width:{#bar-width}px"></span></div>
		<span class="iblock middle">({#row-count})</span>
	</div>
	<!-- review-stats-row -->
</div>
<div class="clear"></div>
<div class="bold">Отзывы о товаре</div>
<div class="clear divider"></div>
<div id="review-list">
<!-- review -->
<div class="review">
<div class="head">
<span class="bold">{#author}</span><br>
{#rating}<br>
{#cdate}
<!-- admin-review-delete --><br><a href="/admin/reviews/{#review-id}?action=delete" class="red delete-review">Удалить</a><!-- admin-review-delete -->
</div>
<div class="body">
{#content}
<!-- review-recommend --><div class="bold review-recommend"><span class="recommend-icon"></span> Я рекомендую этот товар другим!</div><!-- review-recommend -->
</div>
</div>
<!-- review -->
</div>
<!-- review-list -->
<a href="#review-form" class="s3 review-form-opener">Написать отзыв</a>
<!-- review-form -->
<div style="display:none">
<form id="review-form" method="post" action="/product/{#url_name}">
<div class="title">{#name}</div>
<div class="title">{#short_text}</div>
<div class="divider"></div>
<div class="s2">Комментарий:</div>
<textarea name="content" rows="6" class="input width-400" required></textarea>
<div class="elastic">
<div class="iblock bottom">
<div class="s4">Оцените товар:</div>
<label class="atwix-star" data-value="1"></label>
<label class="atwix-star" data-value="2"></label>
<label class="atwix-star" data-value="3"></label>
<label class="atwix-star" data-value="4"></label>
<label class="atwix-star" data-value="5"></label>
<input type="hidden" name="rating" value="" required>
</div>
<div class="iblock fright">
<div class="s4">Рекомендуете ли Вы этот товар другим покупателям?</div>
<p>
<label class="button recommend active"><input type="radio" name="recommend" value="1" checked="true">Да</label>
<label class="button recommend"><input type="radio" name="recommend" value="0">Нет</label>
</p>
<div class="s4">Ваше Имя*:</div>
<input type="text" name="author" class="input width-200 author" value="{#firstname}" required>
<input type="submit" value="" class="button send m4">
</div>
</div>
<input type="hidden" name="action" value="addReview">
<input type="hidden" name="robot" value="">
</form>
</div>
<script>
$('#review-form').ajaxForm({
	dataType: 'json',
	beforeSubmit: function() {
		$('#review-form [type="submit"]').disable();
	},
	success: function(response) {
		alert(response.msg);
		if(response.status == 'ok') {
			$('#review-form textarea').text('');
			$.colorbox.close();
			dataLayer.push({'event':'GAevent', 'eventCategory':'feedback', 'eventAction':'comment_form', 'eventLabel':'send'});
		}
		else {
			$('#review-form [type="submit"]').enable();
		}
	}
});
$(".atwix-star").click(function (e) {
	e.preventDefault();
	$(".atwix-star").removeClass("active");
	$(this).addClass("active");
	prev = true;
	$(".atwix-star").each(function () {
		if (prev) {
			if (!$(this).hasClass("active"))
				$(this).addClass("active");
			else {
				prev = false;
			}
		} else {
			$(this).removeClass("active");
		}
	});
	var value = $(this).data('value');
	$('[name="rating"]').val(value);
});
$('.button.recommend').click(function(e) {
	e.preventDefault();
	$('.button.recommend.active').removeClass('active').children().removeAttr('checked');
	$(this).addClass('active').children().attr("checked", "true");
});
</script>
<!-- review-form -->
<!-- review-form-disabled -->
<div style="display:none">
<div class="center" id="review-form">
Отзывы могут оставлять только авторизованные пользователи.<br>
<a href="/account">Войти</a> на сайт или <a href="/account/new" class="yandex-goal" data-goal="USER_REGISTER">зарегистрироваться</a>.
</div>
</div>
<!-- review-form-disabled -->
</div>
</div><!-- .product-info -->

<script type="text/javascript">

var product_options = {#product-options-data};
var product_quantity = {#product-quantity};
var selected_option_id = {#selected-option-id};

function switchOptionView(oid) {
	if(!product_options || !(oid in product_options)) return false;
	selected_option_id = oid;
	var option = product_options[oid];
	$('input[name="quantity"]').attr('max', option.available).val(1);
	$('#price span').text(option.price);
	$('.option-name').text(option.name);
	$('#big_img').attr('src', option.big_img);
	if(option.volume) {
		$('#volume span').text(option.volume);
		$('#volume').removeClass('hidden');
	}
	else $('#volume').addClass('hidden');
	if(option.weight) {
		$('#weight span').text(option.weight);
		$('#weight').removeClass('hidden');
	}
	else $('#weight').addClass('hidden');
	if(option.spf) {
		$('#spf span').text(option.spf);
		$('#spf').removeClass('hidden');
	}
	else $('#spf').addClass('hidden');
	if(option.price_old) {
		$('#price-old span').text(option.price_old);
		$('#price-old').removeClass('hidden');
	}
	else {
		$('.prices .price-old').addClass('hidden');
	}
	if(option.artikul) {
		$('#artikul .value').text(option.artikul);
		$('#artikul').removeClass('hidden');
	}
	else {
		$('#artikul').addClass('hidden');
	}
	// switch submit button
	if(option.available > 0) {
		$('.add-to-cart').enable().removeClass('disabled');
		if(option.available > 100) instock_text = 'В наличии много';
		else if(option.available > 30) instock_text = 'Есть в наличии';
		else if(option.available > 7) instock_text = 'В наличии мало';
		else instock_text = 'Осталась 1 штука';
		$('#stock-text').removeClass('red').addClass('green').text(instock_text);
	}
	else {
		$('.add-to-cart').disable().addClass('disabled');
		$('#stock-text').text('Нет в наличии').removeClass('green').addClass('red');
	}
}

var $option_list = $('.options');
var $option_selected = $('.options').find('.selected');

$('.option').click(function() {
	var $li = $(this);
	// if($li.hasClass('disabled')) return false;
	var data = $li.data();
	var img_src = $li.find('img').attr('src');
	$('.option').removeClass('selected');
	$li.addClass('selected');
	$('.selected-option').attr('src', img_src);
	$('#oid-input').val(data.oid);
	$('.image-big').data('oid', data.oid);
	$('.add2wishlist').data('oid', data.oid);
	switchOptionView(data.oid);
});

// run once on load
switchOptionView(selected_option_id);

var $form = $('#form-add2cart');
var $loadgif = $form.find('.loadgif');
var $submit = $form.find('[type="submit"]');
$form.ajaxForm({
	dataType: 'json',
	beforeSubmit: function() {
		$loadgif.show();
		$submit.disable();
	},
	success: function(cart) {
		$loadgif.hide();
		$submit.enable();
		refresh_cart(cart);
		<!-- retail-rocket-add2cart-form -->
		var rr_pid = $form.find('[name="product_id"]').val();
		var oid = $form.find('[name="oid"]').val();
		if(!!oid) {
			rr_pid += '00' + oid;
		}
		try { rrApi.addToBasket(rr_pid) } catch(e) {}
		<!-- retail-rocket-add2cart-form -->
	}
});

$('.add2wishlist').click(function(e) {
	e.preventDefault();
	<!-- yandex-goal-wishlist -->yaCounter22486162.reachGoal('ADD_TO_WISHLIST');<!-- yandex-goal-wishlist -->
	var data = $(this).data();
	var url = '/wishlist-add/'+data.id+'/'+data.oid;
	var in_stock = 1;
	if(data.oid > 0 && data.oid in product_options) {
		in_stock = product_options[data.oid].quantity > 0 ? 1 : 0;
	}
	else {
		in_stock = product_quantity > 0 ? 1 : 0;
	}
	url += '?in_stock=' + in_stock;
	$.colorbox({
		href: url,
		initialWidth: 200,
		initialHeight: 100
	});
});

$('.thumb').click(function(e) {
	e.preventDefault();
	var $el = $(this);
	var src = $('img', $el).attr('src');
	src = src.replace('/thumbs', '');
	$('#big_img').attr('src', src);
});

var rel_select;

function _rel_select() {
	rel_select = {'sum':0,'ids':[]};
	$('.product-rel.selected').each(function() {
		rel_select.sum += $(this).data('price');
		rel_select.ids.push($(this).data('id'));
	});
	var rel_delivery_text = '';
	if(rel_select.sum >= 5000) rel_delivery_text = '+ бесплатная доставка по Москве и России';
	else if(rel_select.sum >= 4000) rel_delivery_text = '+ бесплатная доставка по Москве';
	$('#rel-delivery-text').text(rel_delivery_text);
}

_rel_select();

$('.product-rel .checkbox').click(function() {
	$(this).toggleClass('checked').parent().parent().toggleClass('selected');
	_rel_select();
	$('#product-rel-sum span').text(rel_select.sum);
	if(rel_select.ids.length) $('#add-rel').removeClass('disabled').enable();
	else $('#add-rel').addClass('disabled').disable();
});

$('#add-rel').click(function() {
	if($(this).is(':disabled')) return false;
	$.post('/addrel', rel_select, function(cart) {
		refresh_cart(cart);
	}, 'json');
});

$(document).ready(function() {
	$(".review-form-opener").colorbox({inline:true, width:"50%"});
	
	setTimeout(function() {
		$.post('/product_view', {'product_id':{#product-id}});
	}, 3500);
});

<!-- retail-rocket-product -->
rrApiOnReady.push(function() {
	try{ rrApi.view('{#rr-product-id}'); } catch(e) {}
});
<!-- retail-rocket-product -->

</script>
