<link rel="stylesheet" type="text/css" href="../ui/css/main.css" >

<!-- document-title -->Корейская косметика в Москве, интернет-магазин, доставка по всей России, оплата при получении<!-- document-title -->
<!-- document_meta_description -->Корейская косметика известных брендов в интернет-магазине Yamibox.ru. Широкий ассортимент, новинки, доставка по всей России. Телефон: +7 495 662-49-90<!-- document_meta_description -->
<!-- document_meta_keywords -->интернет магазин корейской косметики, корейская косметика, купить, цена, в Москве, косметика из Кореи, Yamibox, Ямибокс<!-- document_meta_keywords -->

<!-- catalog -->
<div class="catalog">
<div class="left-column">
{#catalog-left-column}
</div>
<div class="right-column">
{#catalog-title}
<div class="seo">
{#category-seo}
</div>
<div class="catalog-head">
	Сортировка:
	<select name="sort">
	{#sort-option}
	</select>
	<label><input type="checkbox" id="outofstock"{#outofstock-checked}> Не в наличии (показывать все товары)</label>
</div>
{#brand-info}
{#catalog-error}
{#catalog-products}
<div class="clear">
{#paginator}
</div>
</div>
</div>
<script>
$('select[name="sort"], select[name="brand"]').change(function() {
	redirect($(this).val());
});
$('#outofstock').click(function() {
	if($(this).is(':checked')) {
		$.cookie('outofstock', true);
	}
	else {
		$.removeCookie('outofstock');
	}
	var url = removeParam('p', document.location.href);
	redirect(url);
});
<!-- retail-rocket-category -->
rrApiOnReady.push(function() {
	try { rrApi.categoryView({#category-id}); } catch(e) {}
})
<!-- retail-rocket-category -->
</script>
<!-- catalog -->

<!-- product -->
<div class="product{#product-class}">
<div class="imagebox">
<a href="{#product-href}"><img src="{#product-img}" alt="{#name}" width="100" height="100"></a>
<!-- product-outofp-sticker --><div class="outofp-sticker" title="Продукт снят с производства"></div><!-- product-outofp-sticker -->
{#product-rating}
<!-- product-spf --><div class="spf">SPF{#spf}</div><!-- product-spf -->
</div>
<div class="name"><a href="{#product-href}">{#manufacturer} {#name}</a></div>
<div class="short-description">{#short_text}</div>
<div class="buyzone">
<!-- price-old --><div class="price-old"><span>{#price_old}&nbsp;р.</span></div><!-- price-old -->
<div class="price">{#price}&nbsp;р.</div>
<!-- product-add2cart --><a class="button add2cart" href="{#add2cart-href}" rel="nofollow"{#add2cart-attr}>&nbsp;</a><!-- product-add2cart -->
<!-- product-outofstock-text --><div class="iblock outofstock">Нет в<br>наличии</div><!-- product-outofstock-text -->
</div>
<!-- product-option-available --><a href="{#product-href}" class="pink more-options">Больше выбор</a><!-- product-option-available -->
</div>
<!-- product -->

<!-- margintop -->
<div class="product margintop">
<h3>Предложение дня</h3>
<div class="imagebox">
<a href="{#product-href}"><img src="{#product-img}" alt="{#name}" width="200" height="200"></a>
</div>
<div class="name"><a href="{#product-href}">{#name}</a></div>
<div class="short-description">{#short_text}</div>
<div class="buyzone">
{#price-old}
<div class="price">{#price}&nbsp;р.</div>
{#product-add2cart}
</div>
</div>
<!-- margintop -->

<!-- product-tile -->
<div class="product-tile">
<a href="{#product-href}">
<span class="name">{#name}</span>
<img src="{#product-img}" alt="{#name}" width="100" height="100">
<span class="price">{#price} р.</span>
</a>
</div>
<!-- product-tile -->

<!-- categories -->
<nav class="categories">
<!-- categories-level1 -->
<div class="level1">
{#categories-level1-content}
	<!-- categories-level2 -->
	<div class="level2">
	{#categories-level2-content}
		<!-- categories-level3 -->
		<div class="level3">
		{#categories-level3-content}
		</div>
		<!-- categories-level3 -->
	</div>
	<!-- categories-level2 -->
</div>
<!-- categories-level1 -->
</nav>
<!-- categories -->

<!-- catalog-categories -->
<nav class="mb20 catalog-categories">
<div class="title">Категории</div>
<ul>
<!-- catalog-category --><li class="{#li-class}"><a href="{#href}" class="{#class}">{#name}</a></li><!-- catalog-category -->
</ul>
</nav>
<!-- catalog-categories -->

<!-- catalog-menu -->
<nav class="catalog-menu">
<!-- catalog-menu-1 -->
<div class="level1">
{#catalog-menu-1-content}
	<!-- catalog-menu-2 -->
	<div class="level2">
	{#catalog-menu-2-content}
		<!-- catalog-menu-3 -->
		<div class="level3">
		{#catalog-menu-3-content}
		</div>
		<!-- catalog-menu-3 -->
	</div>
	<!-- catalog-menu-2 -->
</div>
<!-- catalog-menu-1 -->
<div class="level1">
	<a class="a-level1{#yamibox-page-is-current}" href="/product/yamibox">Коробочка Yamibox</a>
</div>
<div class="level1">
	<a class="a-level1{#menu-discounts-is-current}" href="/catalog/discounts">Скидки</a>
</div>
</nav>
<!-- catalog-menu -->

<!-- menubar -->
<nav id="menubar">
<!-- menubar-level1 -->
<div class="level1">
	{#menubar-level1-content}
	<!-- menubar-level2 -->
	<div class="dropdown{#dropdown-class}">
		<div class="level2">
			{#menubar-level2-content}
			<!-- menubar-level3 -->
			<div class="level3">
				{#menubar-level3-content}
			</div>
			<!-- menubar-level3 -->
		</div>
	</div>
	<!-- menubar-level2 -->
</div>
<!-- menubar-level1 -->
<div class="level1">
	<a class="a-level1{#yamibox-page-is-current}" href="/product/yamibox">Коробочка Yamibox</a>
</div>
</nav>
<!-- menubar -->

<!-- catalog-filters -->
<div class="mb20 catalog-filters">
<div class="title">Фильтр</div>
<!-- catalog-filter -->
<div class="filter"><span class="iblock width-125 m1">{#filter-text}</span> <a href="{#filter-href}" style="color:#ec5384">x</a></div>
<!-- catalog-filter -->
<div class="filter"><span class="iblock width-125 m1"></span> <a href="{#filter-clear-href}" class="dashed" style="color:#ec5384">убрать все</a></div>
</div>
<!-- catalog-filters -->

<!-- catalog-filters-menu -->
<div class="mb20 catalog-filters">
<!-- filters-menu-age --><div class="title">Возраст</div>
{#age-filter}<br><!-- filters-menu-age -->
<!-- filters-menu-skin --><div class="title">Тип кожи</div>
{#skin-filter}<br><!-- filters-menu-skin -->
<!-- filters-menu-condition --><div class="title">Состояние кожи</div>
{#condition-filter}<br><!-- filters-menu-condition -->
<!-- filters-menu-brand --><div class="title">Бренд</div>
{#brand-filter}<br><!-- filters-menu-brand -->
<!-- filters-menu-spf --><div class="title">Солнцезащитный фактор</div>
{#spf-filter}<br><!-- filters-menu-spf -->
{#special-filter}
</div>

<!-- catalog-filters-menu -->

<!-- filter-link --><div class="filter"><a href="{#filter-href}" class="m1">{#filter-text}</a></div><!-- filter-link -->

<!-- rating -->
<div class="rating iblock middle"><span class="value-{#rating-value}"></span></div>
<!-- rating -->

<!-- order-info -->
<div id="order-info">

<table class="fleft width-500">
<tr>
<td>Дата и время создания</td>
<td>{#cdate}</td>
</tr>
<tr>
<td>Накопительная скидка</td>
<td>-{#cumulative} р.</td>
</tr>
<tr>
<td>Использовано бонусов</td>
<td>-{#bonus} р.</td>
</tr>
<tr>
<td>Скидка по купону</td>
<td>-{#coupon} р.</td>
</tr>
<tr>
<td>Стоимость товаров</td>
<td>{#total_sum} р.</td>
</tr>
<tr>
<td>Адрес доставки</td>
<td>{#address}</td>
</tr>
<tr>
<td>Способ доставки</td>
<td>{#delivery_info}</td>
</tr>
<!-- order-info-pr --><tr>
<td>Идентификатор отправления</td>
<td><span class="bold">{#pr_id}</span><br>
<a href="http://www.russianpost.ru/tracking20/" target="_blank">Отследить посылку</a></td>
</tr><!-- order-info-pr -->
<tr>
<td>Комментарий</td>
<td>{#comment}</td>
</tr>
<tr>
<td>Доставка</td>
<td>{#delivery_price} р.</td>
</tr>
<tr>
<td class="bold">К оплате:</td>
<td class="bold">{#order-sum} р.</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td class="middle">Способ оплаты</td>
<td><span class="iblock middle">{#ptype}</span>
<div class="iblock middle">{#robox-payment}</div></td>
</tr>
<tr>
<td>Статус оплаты</td>
<td>{#paid-text}</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>Email</td>
<td>{#email}</td>
</tr>
<tr>
<td>Телефон</td>
<td>{#phone}</td>
</tr>
</table>

<div class="fleft width-150">
<h3>Статус заказа</h3>
<div class="status-list">
<!-- order-info-status -->
<div class="status">
<div class="icon-status {#status-check}"></div> <div class="iblock middle">{#status-text}</div>
</div>
<!-- order-info-status -->
<div class="hr" style="margin:5px 0"></div>
{#order-info-status-re}
</div>
</div>

<div class="clear"></div>
<div class="hr"></div>

<h3>Информация о доставке</h3>
<table>
<tr>
<td>Адрес доставки</td>
<td>{#address}</td>
</tr>
<tr>
<td>Способ доставки</td>
<td>{#delivery_info}</td>
</tr>
<tr>
<td>Номер отправления</td>
<td>{#tracking_id}<!-- order-tracking-link --> (<a href="{#tracking_url}" target="_blank">отследить отправление</a>)<!-- order-tracking-link --></td>
</tr>
<tr>
<td>Телефон горячей линии</td>
<td>{#delivery-phone}</td>
</tr>
<tr>
<td>Дополнительно</td>
<td>{#delivery-contact}</td>
</tr>
</table>

<div id="tracking-widget" class="m20"></div>

<div class="hr"></div>

<h3>Состав заказа</h3>
<table>
<tr>
<td>Штрихкод</td>
<td>Наименование</td>
<td class="right">Цена</td>
<td class="right">Кол-во</td>
<td class="right">Сумма</td>
</tr>
<!-- order-info-product -->
<tr>
<td>{#barcode}</td>
<td><a href="/product/{#url_name}" target="_blank">{#name}</a></td>
<td class="right">{#price} р.</td>
<td class="right">{#quantity}</td>
<td class="right">{#product-sum} р.</td>
</tr>
<!-- order-info-product -->
</table>

<div class="hr"></div>

<div class="right">
<p>За дополнительной информацией Вы можете обратиться в Службу по работе с покупателями:</p>
<p><a href="tel:+74956624990">+7 495 662-49-90</a></p>
</div>
</div>
<script type="text/javascript">
$.get('/order-info/{#uid}?action=tracking-widget', function(response) {
	if(response == 'no') return false;
	$('#tracking-widget').html(response);
});
<!-- retail-rocket-order -->
rrApiOnReady.push(function() {
	try {
		rrApi.order({
			transaction: {#order-id},
			items: {#rr-order-items}
		});
	} catch(e) {}
});
rrApiOnReady.push(function () {
	rrApi.setEmail('{#email}');
});
<!-- retail-rocket-order -->
</script>
<!-- order-info -->

<!-- pr-tracking -->
<h3>Статус отправления ПР</h3>
<table>
<tr>
<td>Дата</td>
<td>Местоположение</td>
<td>Статус</td>
</tr>
<!-- pr-tracking-record -->
<tr>
<td>{#date}</td>
<td>{#location}</td>
<td>{#status}</td>
</tr>
<!-- pr-tracking-record -->
</table>
<!-- pr-tracking -->

<!-- robox-payment -->
<script type="text/javascript" src="https://auth.robokassa.ru/Merchant/PaymentForm/FormS.js?MerchantLogin={#robox-login}&amp;OutSum={#robox-sum}&amp;InvoiceID={#invId}&amp;Description={#robox-description}&amp;Culture=ru&amp;Encoding=utf-8&amp;SignatureValue={#robox-crc}"></script>
<!-- robox-payment -->


<!-- robox-payment-link --><a href="http://auth.robokassa.ru/Merchant/Index.aspx?MerchantLogin={#robox-login}&amp;OutSum={#robox-sum}&amp;InvoiceID={#invId}&amp;Description={#robox-description}&amp;Culture=ru&amp;Encoding=utf-8&amp;SignatureValue={#robox-crc}" class="robox-payment-link">Перейти к оплате</a><!-- robox-payment-link -->

<!-- brand-skin79 -->
<div class="center brand-info">
<h2>Skin79</h2>
<p>Skin79 всегда оправдывает ожидания клиентов, идя в ногу со временем, используя новейшие научные достижения косметической сферы. Натуральные ингредиенты с самого начала являлись важной составляющей разработок компании. В течение многих лет экстракты различных растений отбирались и тестировались для того, чтобы принести максимальную пользу коже, сделать ее здоровой и красивой.<br>
Мы ценим природу и окружающую среду.</p>
</div>
<!-- brand-skin79 -->

<!-- brand-tony-moly -->
<div class="center brand-info">
<h2>TonyMoly</h2>
<p>TonyMoly – южнокорейский косметический бренд, был основан в октябре 2006 года. С первого же дня началась активная борьба за лидерство в косметической индустрии. За последнее десятилетие азиатский косметический рынок испытывает небывалый подъем и огромную популярность среди потребителей не только азиатского региона, но в таких странах как США, Австралия, Новой Зеландии и в ряде европейских стран. В условиях жесткой конкуренции производители используют 100% натуральные органические ингредиенты, растительные экстракты и новейшие нанотехнологии.<br>
Продукция не тестируется на животных!</p>
</div>
<!-- brand-tony-moly -->

<!-- brand-holika-holika -->
<div class="center brand-info">
<h2>Holika Holika</h2>
<p>Holika Holika - это магия в чистом виде. Волшебство продукции Holika Holika заключено в ее превосходном качестве и экологичности, подтвержденной Министерством Окружающей Среды Республики Корея. Высокий уровень исполнения, уникальный дизайн упаковки, удовлетворение вкусов и индивидуальных потребностей каждого клиента составляют философию торговой марки.</p>
</div>
<!-- brand-holika-holika -->

<!-- brand-etude-house -->
<div class="center brand-info">
<h2>Etude House</h2>
<p>Основанный в 1995, корейский бренд Etude House производит высококачественные продукты декоративной косметики и ухода за кожей. Созданный для молодой аудитории, бренд предлагает широкую цветовую палитру и причудливую упаковку, которые призывают к кокетливому и романтичному характеру молодой девушки. Etude House очень популярен в Азии и странах Тихоокеанского бассейна.</p>
</div>
<!-- brand-etude-house -->

<!-- brand-mizon -->
<div class="center brand-info">
<h2>Mizon</h2>
<p>Стремясь сделать вашу кожу здоровой, Mizon использует в производстве своих косметических средств самые передовые сертифицированные биотехнологии, которые восстанавливают жизненные силы и поддерживают молодость кожи.</p>
</div>
<!-- brand-mizon -->

<!-- brand-haken -->
<div class="center brand-info">
<h2>Haken</h2>
<p></p>
</div>
<!-- brand-haken -->

<!-- robox-payment-success -->
<p class="alert success">
<!-- payment-success -->Принята оплата заказа №{#order-id} на сумму {#payment-sum} р.<br><!-- payment-success -->
<!-- payment-ignore -->Заказ №{#order-id} на сумму {#payment-sum} р. уже оплачен<br><!-- payment-ignore -->
Спасибо за покупку!
</p>
<!-- robox-payment-lk --><p>Информация о вашем заказе <a href="/account/orders">в личном кабинете</a></p><!-- robox-payment-lk -->
<p><a href="{#site-url}">На главную</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/catalog">Перейти в каталог товаров</a></p>
<!-- robox-payment-success -->


<!-- robox-payment-fail -->
<p class="alert error">
Оплата заказа №{#order-id} прервана.
</p>
<p class="center">{#robox-payment}</p>
{#robox-payment-lk}
<p><a href="{#site-url}">На главную</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/catalog">Перейти в каталог товаров</a></p>
<!-- robox-payment-fail -->


<!-- delivery-select -->
<table id="ms-delivery-select">
<tr>
<td colspan="4" class="bold">Доставка курьером до двери</td>
</tr>
{#delivery-select-todoor}
<tr>
<td colspan="4" class="bold">Самовывоз из Пункта выдачи</td>
</tr>
{#delivery-select-pickup}
<tr>
<td colspan="4" class="bold">Почта России</td>
</tr>
{#delivery-select-pr}
</table>
<script>
$('#ms-delivery-select .delivery').click(function() {
	var did = $(this).data('did');
	$dtype_select.data('did', did).trigger('change');
});
</script>
<!-- delivery-select -->

<!-- delivery-select-row -->
<tr class="delivery" id="delivery-{#local_id}" data-did="{#local_id}">
<td>{#delivery_name}</td>
<td>{#address}</td>
<td>{#cost_with_rules}&nbsp;р.</td>
<td>{#days}&nbsp;дн.</td>
</tr>
<!-- delivery-select-row -->

