<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<url>
<loc>http://yamibox.ru/</loc>
<changefreq>daily</changefreq>
<priority>1.0</priority>
</url>
<url>
<loc>http://yamibox.ru/page/about</loc>
<changefreq>weekly</changefreq>
<priority>0.6</priority>
</url>
<url>
<loc>http://yamibox.ru/page/yamibox</loc>
<changefreq>weekly</changefreq>
<priority>0.6</priority>
</url>
<url>
<loc>http://yamibox.ru/page/subscription</loc>
<changefreq>weekly</changefreq>
<priority>0.6</priority>
</url>
<url>
<loc>http://yamibox.ru/page/kontakty</loc>
<changefreq>weekly</changefreq>
<priority>0.6</priority>
</url>
<url>
<loc>http://yamibox.ru/page/faq</loc>
<changefreq>weekly</changefreq>
<priority>0.6</priority>
</url>
<url>
<loc>http://yamibox.ru/page/oplata</loc>
<changefreq>weekly</changefreq>
<priority>0.6</priority>
</url>
<url>
<loc>http://yamibox.ru/page/dostavka</loc>
<changefreq>weekly</changefreq>
<priority>0.6</priority>
</url>
<url>
<loc>http://yamibox.ru/page/konfidentsialnost</loc>
<changefreq>weekly</changefreq>
<priority>0.6</priority>
</url>
<url>
<loc>http://yamibox.ru/page/official</loc>
<changefreq>weekly</changefreq>
<priority>0.6</priority>
</url>
<url>
<loc>http://yamibox.ru/page/sistema-ballov-yamibonusy</loc>
<changefreq>weekly</changefreq>
<priority>0.6</priority>
</url>
<url>
<loc>http://yamibox.ru/yamiblog</loc>
<changefreq>weekly</changefreq>
<priority>0.6</priority>
</url>
<!-- sitemap-yamiblog-post --><url>
<loc>http://yamibox.ru/yamiblog/{#title_url}</loc>
<changefreq>weekly</changefreq>
<priority>0.5</priority>
</url><!-- sitemap-yamiblog-post -->
<!-- sitemap-delivery-city --><url>
<loc>http://yamibox.ru/page/dostavka/{#city-url}</loc>
<changefreq>weekly</changefreq>
<priority>0.9</priority>
</url><!-- sitemap-delivery-city -->
<url>
<loc>http://yamibox.ru/catalog</loc>
<changefreq>weekly</changefreq>
<priority>0.8</priority>
</url>
<url>
<loc>http://yamibox.ru/catalog?filter=41</loc>
<changefreq>weekly</changefreq>
<priority>0.9</priority>
</url>
<!-- sitemap-brand --><url>
<loc>http://yamibox.ru/catalog?brand={#brand-url}&amp;p=all</loc>
<changefreq>weekly</changefreq>
<priority>0.8</priority>
</url><!-- sitemap-brand -->
<url>
<loc>http://yamibox.ru/catalog?p=all</loc>
<changefreq>daily</changefreq>
<priority>0.8</priority>
</url>
<!-- sitemap-catalog-category --><url>
<loc>http://yamibox.ru/catalog{#cat-url}</loc>
<changefreq>weekly</changefreq>
<priority>0.9</priority>
</url><!-- sitemap-catalog-category -->
<!-- sitemap-catalog-page --><url>
<loc>http://yamibox.ru/catalog?p={#pnum}</loc>
<changefreq>weekly</changefreq>
<priority>0.7</priority>
</url><!-- sitemap-catalog-page -->
<!-- sitemap-catalog-product --><url>
<loc>http://yamibox.ru/product/{#product-url-name}</loc>
<changefreq>weekly</changefreq>
<priority>0.8</priority>
</url><!-- sitemap-catalog-product -->
</urlset>