<?xml version="1.0"?>
<request>
	<function>add_delivery</function>
	<api_id>9cbc7cb73ac8c61402c442589437f79e</api_id>
	<deliveries>
		<delivery>
			<project_key></project_key>
			<code></code>
			<delivery_date>{#delivery-date}</delivery_date>
			<picking_date>{#order-date}</picking_date>
			<date_transfer_to_store>{#order-date}</date_transfer_to_store>
			<from_city>405065</from_city>
			<to_city>{#city}</to_city>
			<time_from>{#time_from}</time_from>
			<time_to>{#time_to}</time_to>
			<order_id>{#order-id}</order_id>
			<metro>{#metro}</metro>
			<address>{#address}</address>
			<address_index>{#zipcode}</address_index>
			<contact_person>{#firstname} {#lastname}</contact_person>
			<phone>{#phone}</phone>
			<phone_sms>{#phone}</phone_sms>
			<price>{#price}</price>
			<ocen_price>{#order-sum}</ocen_price>
			<additional_info>{#comment}</additional_info>
			<site_name>yamibox.ru</site_name>
			<pickup_place>{#pickup-place}</pickup_place>
			<zabor_places_code></zabor_places_code>
			<add_product_from_disct>0</add_product_from_disct>
			<number_of_place>1</number_of_place>
			<delivery_speed>normal</delivery_speed>
			<shop_logistics_cheque>0</shop_logistics_cheque>
			<delivery_partner>{#delivery_partner}</delivery_partner>
			<barcodes><!-- sl-order-product-barcode -->
				<barcode>{#barcode}</barcode><!-- sl-order-product-barcode -->
			</barcodes>
			<partial_ransom></partial_ransom>
			<delivery_price_for_customer>{#delivery_price}</delivery_price_for_customer>
			<return_shipping_documents></return_shipping_documents>
			<use_from_canceled>0</use_from_canceled>
			<products><!-- sl-order-product -->
				<product>
					<articul>{#barcode}</articul>
					<name>{#product-name}</name>
					<quantity>{#product-quantity}</quantity>
					<item_price>{#product-price}</item_price>
				</product><!-- sl-order-product -->
			</products>
		</delivery>
	</deliveries>
</request>