<?xml version="1.0"?>
<request>
	<function>add_post_delivery</function>
	<api_id>9cbc7cb73ac8c61402c442589437f79e</api_id>
	<deliveries>
		<delivery>
			<code></code>
			<date_transfer_to_store>{#order-date}</date_transfer_to_store>
			<order_id>{#order-id}</order_id>
			<zip>{#zipcode}</zip>
			<region>{#region}</region>
			<district>{#district}</district>
			<city>{#city}</city>
			<address>{#address}</address>
			<person>{#firstname} {#lastname}</person>
			<nested_type>{#pr_type}</nested_type>
			<valuably>{#order-sum}</valuably>
			<cash_on_delivery>{#price}</cash_on_delivery>
			<comments>{#comment}</comments>
			<post_service>Почта</post_service>
			<phone>{#phone}</phone>
			<email>{#email}</email>   
			<add_product_from_disct>0</add_product_from_disct>
			<package_type>0</package_type> 
			<site_name>Yamibox.Ru</site_name> 
			<user_barcode></user_barcode>
			<products><!-- sl-order-product -->
				<product>
					<articul>{#barcode}</articul>
					<name>{#product-name}</name>
					<quantity>{#product-quantity}</quantity>
					<item_price>{#product-price}</item_price>
				</product><!-- sl-order-product -->
			</products>
		</delivery>
	</deliveries>
</request>