/* #ec5384 - theme color */

@media print {
	.header, .submenu, .page-title, .footer, pre {
		display: none;
	}
	.page-break {
		display: block;
		page-break-before: always;
	}
}

html {
	background: white;
}
body {
	margin: 0 auto;
	max-width: 1600px;
}
.container {
	width: auto !important;
	margin: 20px;
}
.header {
	border-bottom: solid 1px #777;
	margin-bottom: 20px;
}
.header .menu {
	padding: 10px;
	overflow: auto;
}
.header .menu a {
	display: block;
	float: left;
	margin: 0 5px 5px 0;
	padding: 5px 8px;
	color: white;
	background: #ec5384;
}
.footer {
	min-height: 100px;
}

.atable td {
	padding: 5px;
	border: solid 1px #ccc;
	vertical-align: top;
}
.admin-products .imagebox {
	width: 60px;
	height: 60px;
}
.admin-products thead {
	background: #eee;
}

.admin-product-options .imagebox {
	width: 30px;
	height: 30px;
}
.admin-products .input.width-50 {
	width: 40px;
}
.admin-products .admin-product-options {
	background: #efe;
}

.left-column {
	max-width: 20%;
	min-width: 15%;
}
.right-column {
	max-width: 85%;
	min-width: 80%;
	margin-left: 0px;
	overflow: visible;
}

.product-categories {
	padding: 10px;
}

.client-details td {
	vertical-align: middle;
	border-color: black;
}

select[name="status"] option[value="0"] {
	background: #f66;
}
select[name="status"] option[value="1"] {
	background: #f69;
}
select[name="status"] option[value="2"] {
	background: #fc9;
}
select[name="status"] option[value="3"] {
	background: #ff6;
}
select[name="status"] option[value="4"] {
	background: #6c6;
}
select[name="status"] option[value="5"] {
	background: #999;
}
select[name="status"] option[value="6"] {
	background: #def;
}
select[name="status"] option[value="7"] {
	background: white;
}
select[name="status"] option[value="8"] {
	background: #6c6;
}
select[name="status"] option[value="9"] {
	background: #999;
}
select[name="status"] option[value="10"] {
	background: #f69;
}
select[name="status"] option[value="11"] {
	background: #aaf;
}
select[name="status"] option[value="12"] {
	background: #ff669a;
}

select[name="cstatus"] option[value="1"] {
	background: #f66;
}
select[name="cstatus"] option[value="2"] {
	background: #aaf;
}
select[name="cstatus"] option[value="3"] {
	background: #6c6;
}

select[name="paid"] option[value="0"] {
	background: #f66;
}
select[name="paid"] option[value="1"] {
	background: #6c6;
}

#admin-content {
	min-height: 300px;
}


.order-list {
	width: 99%;
}
.order-list thead td {
	border: none;
	padding: 5px;
	background: none;
	font-size: 100%;
}
.order-list .wb-new {
	background: #efe;
}

.order-list .replace {
	margin-right: 20px;
}

.replacement {
	border: solid 1px white;
}
.replacement.selected {
	border-color: #ec5384;
}

.noitem {
	display: inline-block;
	padding: 2px 5px;
}
.noitem.checked {
	background: #ec5384;
	color: white;
}

#admin-sl-send-order, #admin-create-pp-order, #admin-dguru-send-order {
	padding: 8px 16px;
	font-size: 14px;
	background: #abc;
	color: black;
	border: solid 1px black;
	border-radius: 3px;
	margin-right: 15px;
	text-decoration: none;
}
#admin-create-pp-order {
	background: lightblue;
}
#admin-dguru-send-order {
	background: lightgreen;
}
#admin-sl-send-order:hover {
	background: #def;
}
#admin-create-pp-order:hover {
	background: cyan;
}
#admin-dguru-send-order:hover {
	background: yellow;
}

.product-filters {
	background: #efe;
	border: solid 1px #ccc;
}
.product-filters label {
	vertical-align: middle;
}
.product-filters .range {
	margin-bottom: 2px;
}

#admin-clients-filter {
	border: solid 1px #ccc;
	padding: 10px 5px;
}

.status-fieldset, .paid-fieldset, .dtype-fieldset {
	border: none;
}
.status-fieldset {
	-webkit-columns: auto 2;
	-khtml-columns: auto 2;
	-moz-columns: auto 2;
	-ms-columns: auto 2;
	-o-columns: auto 2;
	columns: auto 2;
}
.status-fieldset label, .paid-fieldset label, .dtype-fieldset label {
	display: block;
	width: 120px;
}

#order-stats-filter {
	border: solid 1px #ccc;
	margin-bottom: 20px;
	padding: 10px;
}

.order-stats tr:nth-child(odd) {
	background-color: #ddd;
}

#cboxOverlay {
	background: none;
}

#product-action-form {
	
}
#product-action-form .update {
	padding: 5px;
	margin: 5px;
	border: solid 1px #ccc;
}

.product-filters-compact {
	max-height: 80px;
	-webkit-columns: auto 3;
	-moz-columns: auto 3;
	-ms-columns: auto 3;
	-o-columns: auto 3;
	columns: auto 3;
	-webkit-column-gap: 0;
	-moz-column-gap: 0;
	-ms-column-gap: 0;
	-o-column-gap: 0;
	column-gap: 0;
}
.product-filters-compact label {
	white-space:nowrap;
	display: block;
	width: 60px;
	margin: 0 !important;
	padding: 0 !important;
}

.admin-product-options .product-filters-compact {
	-webkit-columns: auto 3;
	-moz-columns: auto 3;
	-ms-columns: auto 3;
	-o-columns: auto 3;
	columns: auto 3;
	-webkit-column-gap: 0;
	-moz-column-gap: 0;
	-ms-column-gap: 0;
	-o-column-gap: 0;
	column-gap: 0;
}
.admin-product-options .product-filters-compact label {
	white-space:nowrap;
	display: block;
	width: 45px;
	margin: 0 !important;
	padding: 0 !important;
}

#product-editor-filters {
	
}

#group-filters {
	-webkit-columns: auto 3;
	-moz-columns: auto 3;
	-ms-columns: auto 3;
	-o-columns: auto 3;
	columns: auto 3;
	-webkit-column-gap: 0;
	-moz-column-gap: 0;
	-ms-column-gap: 0;
	-o-column-gap: 0;
	column-gap: 0;
	width: 240px;
}
#group-filters label {
	white-space:nowrap;
	display: block;
	width: 60px;
	margin: 0 !important;
	padding: 0 !important;
}

.filters-subgroup {
	display: none;
	position: absolute;
	width: inherit;
	background: #def;
	border: solid 1px #777;
	padding: 3px;
}
.filters-subgroup label {
	display: inline-block;
	width: 55px;
}

.filters-subgroup:hover, .product-filters-compact:hover + .filters-subgroup {
	display: block;
}

.product-editor-img {
	border: solid 1px #ccc;
	
}
.product-editor-img .delete {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	color: white;
	font-size: 18px;
	font-weight: bold;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
	background: red;
}
.product-editor-img .delete:hover {
	background: black;
}
.product-editor-img:hover {
	border-color: red;
}
.product-editor-img:hover .delete {
	display: inline-block;
}

.cashbox-day td {
	vertical-align: top;
}
.cashbox-day .day {
	margin-bottom: 20px;
}
.cashbox-day .hr {
	margin-bottom: 20px;
	border-top: solid 1px #ccc;
}
.cashbox-day .day td {
	padding: 5px 30px 5px 8px;
}
.cashbox-day .records td {
	padding: 3px 5px;
}

.collecting-modal {
	display: none;
	position: fixed;
	left: -2000px;
	top: -2000px;
	padding: 10px;
	background: white;
	border: solid 1px black;
	font-size: 72px;
}
.collecting-orders {
	margin-top: 40px;
}
.collected-indicator {
	display: block;
	width: 12px;
	height: 12px;
}
.collected-indicator.green {
	background-color: #090;
}
.collected-indicator.red {
	background-color: red;
}

#admin-pnl td {
	height: 1em;
	min-width: 1em;
	line-height: 1em;
	text-align: right;
	white-space: nowrap;
}
#admin-pnl td:first-child {
	text-align: left;
	white-space: normal;
}
.pnl-orders-tr {
	background-color: #CFE2F3;
}
.pnl-income-tr {
	background-color: #D9EAD3;
}
.pnl-expense-tr {
	background-color: #F4CCCC;
}
.pnl-expected-tr {
	background-color: #D9EAD3;
}
.pnl-real-tr {
	background-color: #F4CCCC;
}

.supplier-bills td {
	height: 1em;
	min-width: 1em;
	line-height: 1em;
	text-align: right;
	vertical-align: middle;
	white-space: nowrap;
}
.sum_debt_total {
	display: inline-block;
	padding: 6px 10px;
}
.deferred {
	background: #def;
}
.debt {
	background: #fcc;
}
