@font-face {
	name: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: '/ui/font/open_sans_regular.ttf';
}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {
    display: block;
}
.hidden, [hidden] {
    display: none !important;
}
.invisible {
	visibility: hidden;
}

*, :focus {
	outline: none;
}
ol, ul {
	padding-left:1em;
}
li {
	margin:1em;
	margin-left:2em;
}
a:link {
	color: #e52451;
	text-decoration: none;
}
a:visited {
	color: #e52451;
}
a:hover {
	text-decoration: underline;
}
p {
	margin: 0 auto 1em;
}
img {
	border: none;
}
small, .small {
	font-size:10px;
}
h1,h2,h3,h4,h5,h6 {
	color:#333333;
	font-weight:normal;
	margin-bottom:1em;
	margin-top: 0;
}
h1 {
    font-size: 2.2em;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1em;
}
h5 {
    font-size: 0.90em;
}
h6 {
    font-size: 0.80em;
}
.s1 {
    font-size: 1.1em;
}
.s2 {
    font-size: 1.2em;
}
.s3 {
    font-size: 1.3em;
}
.s4 {
    font-size: 1.4em;
}
.s5 {
    font-size: 1.5em;
}
.s6 {
    font-size: 1.6em;
}
.sm1 {
	font-size: 11px;
}
.sm2 {
	font-size: 10px;
}
.sm3 {
	font-size: 8px;
}
.open-sans {
	font-family: 'Open Sans', sans-serif;
}
pre {
	word-wrap: break-word;
	padding: 1em;
}
select {
	padding:1px;
}
.m0 {
	margin: 0;
}
.m0a {
	margin: 0 auto;
}
.m20 {
	margin: 20px;
}
.m20a {
	margin:20px auto;
}
.mb20 {
	margin-bottom:20px;
}
.clear {
	display:block;
	position:relative;
	clear:both;
}
.line {
	height:1em;
}
.red {
	color:red;
}
.blood {
	color:#900;
}
.green {
	color:#090;
}
.blue {
	color:blue;
}
.grey {
	color:#666;
}
.black {
	color:black;
}
.white {
	color:white;
}
.cgrey {
	color:#aaa;
}
.pink {
	color: #e52451;
}

.dashed {
	border-bottom: dashed 1px;
	text-decoration:none !important;
}
.dotted {
	border-bottom: dotted 1px;
	text-decoration:none !important;
}

.alert {
	text-align:center;
	padding:1em;
	margin:1em 4px;
	border-radius: 3px;
	font-weight: bold;
	box-shadow: 0px 1px 4px #999;
}
.success {
	background:white;
	color:#090;
}
.notice {
	background:#def;
}
.warning {
	background:#ffd;
}
.error {
	background:#fed;
	color:red;
}

.bold {
	font-weight:bold;
}
.italic {
	font-style:italic;
}

.container {
	width:980px;
	margin:0 auto;
}
.block {
	display:block;
}
.iblock {
	display:inline-block;
}
.absolute {
	position: absolute;
}
.relative {
	position:relative;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td {
	padding:0;
}
.wide {
	width:100%;
}
.elastic {
	height:auto;
	overflow:auto;
}
.table {
	display: table;
}
.table-1 td {
	padding: 5px;
	border: solid 1px #ccc;
}
.table-2 td {
	padding: 3px 5px;
}
.table-3 td {
	padding: 5px 8px;
	border: solid 1px #ccc;
}
.table-4 td {
	padding: 10px;
}
.table-5 td {
	padding: 10px;
	border: solid 1px;
}

.cell {
	display: table-cell;
	padding: 0px;
}

.left {
	text-align:left !important;
}
.center {
	text-align:center !important;
}
.right {
	text-align:right !important;
}
.top {
	vertical-align:top !important;
}
.middle {
	vertical-align:middle !important;
}
.bottom {
	vertical-align:bottom !important;
}

.pad-bottom {
	padding-bottom:20px !important;
}
.pad-top {
	padding-top:20px !important;
}
.pad-right {
	padding-right:20px !important;
}
.pad-left {
	padding-left:20px !important;
}

.nowrap {
	white-space:nowrap;
}

.width-25 {
	width: 25px;
}
.width-50 {
	width:50px;
}
.width-75 {
	width:75px;
}
.width-100{
	width:100px;
}
.width-125 {
	width:125px;
}
.width-150 {
	width:150px;
}
.width-175 {
	width:175px;
}
.width-200 {
	width:200px;
}
.width-225 {
	width:225px;
}
.width-250 {
	width:250px;
}
.width-275 {
	width:275px;
}
.width-300 {
	width:300px;
}
.width-350 {
	width:350px;
}
.width-400 {
	width:400px;
}
.width-450 {
	width:450px;
}
.width-500 {
	width:500px;
}
.width-550 {
	width: 550px;
}

.pointer {
	cursor: pointer;
}

html, body {
	margin: 0;
	padding: 0;
}
html {
	background: url('/ui/img/back.jpg?spring') repeat;
}
body {
	font-family: Arial,Verdana,Helvetica,sans-serif;
	font-size:12px;
	overflow:auto;
}
header {
	display:block;
	width: 980px;
	margin: 0 auto;
	padding: 0 10px 5px;
	background: white;
	z-index: 999;
}
.breadcrumbs {
	font: 12px 'Open Sans', sans-serif;
	margin-bottom: 10px;
}
.breadcrumbs .active {
	color: #777;
}
#catalog-menu, .features {
	width: 1000px;
	margin: 0 auto;
}
#catalog-menu {
	background: url('/ui/img/menubar.png') repeat-x;
	height: 36px;
}
.features {
	height: 1em !important;
	background: white;
	padding: 10px 0;
}
.features a {
	color: black;
	text-decoration: underline;
}

.page-title h1 {
	font-size: 16px;
	margin-bottom: 16px;
	color: #e52451;
}
.logo {
	height: 70px;
}
.logo img {
	vertical-align: middle;
}

.header-top {
	height: 70px;
	z-index: 100;
}
.header-top .cart, .header-top .login {
	height: 38px;
	margin: 16px 10px 0 0;
	padding-right: 10px;
	border-right: solid 1px #c8c8c8;
	padding-top: 10px;
}
.header-top .cart .button {
	margin-right: 10px;
	width: 44px;
	height: 38px;
	background: url('../img/basket.png') no-repeat left top;
}
.header-top .telephone {
	font-size: 16px;
	line-height: 24px;
	margin: 12px 0 5px;
	text-align: right;
}

.catalog-menu {
	display: table;
	width: 100%;
	height: 100%;
}
.catalog-menu .level1 {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border-right: inset 1px brown;
}
.catalog-menu .level1:last-child {
	border: none;
}
.catalog-menu .a-level1 {
	font-size: 14px;
	color: white;
	display: block;
	height: 36px;
	line-height: 36px;
	padding: 0 5px;
}
.catalog-menu .a-level1.current {
	background: url('/ui/img/menubar-active.png') repeat-x;
}
.catalog-menu .a-level2.current, .catalog-menu .a-level3.current {
	color: black;
}
.catalog-menu .level2 {
	display:none;
	position: absolute;
	/* background: #fce9ef; */
	background: white;
	padding: 10px 15px;
	text-align: left;
	min-width: 100px;
	min-height: 100px;
	border:solid 1px #e52451;
	border-top: none;
	border-radius: 0 0 3px 3px;
	z-index: 1000;
}
.catalog-menu .level1:hover .level2, .catalog-menu .level2:hover {
	display: block;
}
.catalog-menu .level2 a {
	display: inline-block;
	margin-bottom: 4px;
	font-size: 12px;
}
.catalog-menu .a-level3 {
	margin-left: 15px;
}
.categories .level2, .categories .level3 {
	margin-left: 10px;
}

.imagebox {
	display:block;
	width:190px;
	height:190px;
	text-align:center;
	margin:0 auto;
	overflow:hidden;
}
.imagebox * {
	display:inline-block;
	vertical-align:middle;
	max-width: 100%;
	max-height: 100%;
}
.imagebox span {
	display:inline-block;
	height:100%;
	margin-left:-1px;
	width:1px;
}
.imagebox img {
	max-width:100%;
	max-height:100%;
}

.input {
	border: solid 1px #ccc;
	padding: 3px 5px;
}

.left-column {
	width:220px;
	float:left;
	min-height:100%;
	_height:100%;
}
.right-column {
	width:720px;
	margin-left: 20px;
	float:left;
	min-height:700px;
}

.paginator {
	text-align:center;
}
.paginator a , .paginator span {
	display:inline-block;
	min-width:1em;
	margin:0 2px 0;
	padding:2px 4px 2px;
	color: white;
	text-decoration:none;
	font: 16px Arial, sans-serif;
	background: #e52451;
	text-align: center;
}
.paginator a:hover {
	background:#931a57;
}
.paginator .current {
	color:white;
	background:black;
}

.del {
	text-decoration:line-through;
	color:#666;
}

.m1 {
	margin-left:1em;
}
.m2 {
	margin-left:2em;
}
.m3 {
	margin-left:3em;
}
.m4 {
	margin-left:4em;
}
.m5 {
	margin-left:5em;
}
.m6 {
	margin-left:6em;
}
.m7 {
	margin-left:7em;
}
.m8 {
	margin-left:8em;
}
.m10 {
	margin-left:10px;
}
.m15 {
	margin-left:15px;
}
.m20 {
	margin-left:20px;
}

.fleft {
	float:left;
}
.fright {
	float:right;
}

.brand-info {
	border: solid 1px #ccc;
	padding: 10px;
	margin-bottom: 20px;
	background: #efefff;
	border-radius: 12px;
}

.price {
	font-size: 20px;
	font-weight: 600;
}
.price-old {
	font-size: 18px;
	color: #e52451;
	text-decoration: line-through;
}
.price-old span {
	color: #666;
}

.product-info .price-old div {
	color: #666;
}

.button {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	text-decoration: none !important;
	cursor: pointer;
	border: none;
}
.button.add2cart {
	width: 50px;
	height: 25px;
	background: url('../img/cart.png') no-repeat left top;
}
.button.add2cart:hover {
	background-position: -50px;
}
.button.add2cart:active {
	background-position: -100px;
}
.button.buy {
	width: 148px;
	height: 27px;
	background: url('../img/buy-add2cart.png') no-repeat left top;
}
.button.buynow {
	width: 148px;
	height: 27px;
	background: url('../img/buy-oneclick.png') no-repeat left top;
}
.button.apply-promocode {
	width: 148px;
	height: 27px;
	background: url('/ui/img/promo-button.png') no-repeat left top;
}
.button.apply-bonus {
	width: 148px;
	height: 27px;
	background: url('/ui/img/pay-bonus-button.png') no-repeat left top;
}
.button.order {
	width: 241px;
	height: 38px;
	background: url('/ui/img/order-button.png') no-repeat left top;
}
.button.order-confirm {
	width: 241px;
	height: 38px;
	background: url('/ui/img/confirm-button.png') no-repeat left top;
}
.button.send {
	width: 148px;
	height: 27px;
	background: url('/ui/img/send-button.png') no-repeat left top;
}
.button.add-to-cart {
	width: 190px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	text-transform: uppercase;
	background: #E52451;
	color: white;
}
.button.add2wishlist {
	background: white;
	width: 188px;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	text-transform: uppercase;
	background: white;
	color: #777;
	border: solid 2px #777;
}
.button.delivery-calc {
	width: 241px;
	height: 38px;
	background: url('/ui/img/deliv_calc.png') no-repeat left top;
}
.button.oneclick {
	width: 148px;
	height: 27px;
	background: url('/ui/img/buy-oneclick.png') no-repeat left top;
}
.button.oneclick-confirm {
	width: 148px;
	height: 27px;
	background: url('/ui/img/buy-oneclick-confirm.png') no-repeat left top;
}
.button.buy:hover, .button.buynow:hover, .button.apply-promocode:hover, .button.order:hover, .button.apply-bonus:hover, .button.order-confirm:hover, .button.send:hover, .button.oneclick:hover, .button.oneclick-confirm:hover, .button.add2wishlist:hover {
	background-position: center -27px;
}
.button.buy:active, .button.buynow:active, .button.apply-promocode:active, .button.order:active, .button.apply-bonus:active, .button.order-confirm:active, .button.send:active, .button.oneclick:active, .button.oneclick-confirm:active, .button.add2wishlist:active {
	background-position: center -54px;
}
.button.order:hover, .button.order-confirm:hover, .button.delivery-calc:hover {
	background-position: center -39px;
}
.button.order:active, .button.order-confirm:active, .button.delivery-calc:active {
	background-position: center -78px;
}
.button.confirm, .button.cancel {
	display: inline-block;
	width: 41px;
	height: 41px;
	background: url('/ui/img/availability.png') no-repeat;
}
.button.confirm {
	background-position: 0px;
}
.button.cancel {
	background-position: -41px;
}

.catalog {
	overflow: auto;
}
.catalog-head {
	margin-bottom: 20px;
}
.catalog .page-title {
	text-align: center;
}

.catalog-filters .filter {
	line-height: 18px;
}

.catalog-categories {
	color: #e52451;
}
.catalog-categories ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.catalog-categories li {
	margin: 0 0 0 1em;
	padding: 0px;
	list-style: none;
	line-height: 18px;
}
.catalog-categories .title, .catalog .left-column .title {
	font-size: 14px;
	color: #e52451;
	margin-bottom: 5px;
}
.catalog .left-column a {
	color: #333;
}
.catalog .left-column a:hover, .catalog .left-column a.active {
	color: #e52451;
}
.catalog-categories .level1 a {
	font-size: 14px;
	color: #e52451;
}
.catalog-categories .level2 {
	margin-left: 2em;
}
.catalog-categories .level3 {
	margin-left: 20px;
}
.catalog-categories .active a {
	color: #e52451;
}

.product {
	width: 150px;
	height: 300px;
	padding: 0 15px;
	float: left;
}
.product .imagebox {
	width: 150px;
	height: 150px;
	position: relative;
	margin-bottom: 10px;
}
.product .imagebox  img {
	width: 150px;
	height: 150px;
}
.product .outofp-sticker, .product-info .outofp-sticker {
	display: inline-block;
	vertical-align: middle;
	width: 41px;
	height: 41px;
	background: url('/ui/img/out-of-p.png') no-repeat;
}
.product .outofp-sticker {
	position: absolute;
	right: 0;
	top : 0;
}
.product-info .outofp-sticker {
	margin-left: 20px;
}
.product .rating {
	position: absolute;
	text-align: left;
	left: 0;
	bottom: 0;
}
.product .spf {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 11px;
	line-height: 11px;
	font-size: 11px;
	padding: 2px;
	text-align: right;
	border-radius: 3px;
	background: #fefefe;
}
.product .name {
	height: 2.5em;
	margin-bottom: 5px;
	overflow: hidden;
}
.product .name a {
	color: #333;
	font-size: 12px;
}
.product .name a:hover {
	color: #e52451;
}
.short-description {
	font-size: 11px;
	color: #666;
	height: 2.5em;
	overflow: hidden;
	margin-bottom: 5px;
}
.product .buyzone {
	height: 25px;
	position: relative;
	text-align: right;
	line-height: 25px;
}
.product .add2cart {
	float: right;
}
.product .price {
	display: inline-block;
	font-size: 16px;
	color: #e52451;
	vertical-align:middle;
}
.product .price-old {
	display: inline-block;
	font-size: 12px;
	vertical-align: middle;
}
.product .outofstock {
	width: 50px;
	height: 25px;
	text-align: center;
	font-size: 10px;
	vertical-align:middle;
	color: #666;
}
.product-rel {
	height: 240px;
	-webkit-opacity:.50;
	-moz-opacity:.50;
	-o-opacity:.50;
	opacity: .50;
}
.product-rel .imagebox {
	overflow: visible;
}
.product-rel:hover, .product-rel.selected {
	-webkit-opacity:1;
	-moz-opacity:1;
	-o-opacity:1;
	opacity: 1;
}
.product-rel .plus {
	display: none;
}
.product-rel.selected .plus {
	display: block;
}
.product-rel .checkbox {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 22px;
	height: 22px;
	border: solid 3px #e52451;
	text-align: center;
	cursor: pointer;
}
.product-rel .checkbox.checked {
	background: url('/ui/img/cb.png') no-repeat center center;
}
.product-rel .plus {
	width: 40px;
	height: 40px;
	font-size: 40px;
	line-height: 40px;
	position: absolute;
	top: 50%;
	margin-left: -40px;
}
#product-rel {
	padding-left: 40px;
}
#product-rel-sum {
	margin: 10px 0;
	font-size: 20px;
}

.info-tile {
	height: 100px;
	padding: 0 10px;
}
.info-tile .imagebox {
	width: 60px;
	height: 60px;
	float: left;
}
.info-tile .summary {
	margin-left: 70px;
}

.columns-3 .column {
	width: 326px;
	float:left;
}
.columns-3 .column.central, .columns-4 .column.central {
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
}
.columns-3 .label, .columns-4 .label {
	display: block;
	position: relative;
	text-align: center;
}
.columns-4 .column {
	width: 244px;
	float: left;
}
.column.bright {
	border-right: solid 1px #ccc;
}
.column .product {
	float: none;
	margin: 0 auto;
}

#main {
	background: white;
	margin: 0 auto;
	overflow: auto;
	width: 980px;
	padding: 10px 10px 30px;
	min-height: 500px;
	_height: 500px;
}
#main.wide {
	width:1080px;
	padding: 20px 60px;
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
}


.product-info {
	overflow: auto;
	margin-bottom: 20px;
	font-family: 'Open Sans';
}
.product-info .title h1 {
	font: 18px 'Open Sans';
	line-height: 24px;
	margin-bottom: 12px;
}
.product-info h3 {
	font-size: 18px;
	color: #e52451;
}
.product-info .review-total {
	line-height: 18px;
}
.product-info > .left-column {
	width: 552px;
}
.product-info > .right-column {
	width: 508px;
	min-height: 300px;
}
.product-info .left-column .imagebox {
	border: 1px solid #e5e5e5;
	width:550px;
	height:550px;
	margin-bottom: 20px;
}
.product-info .image-additional {
	width: 100%;
	clear: both;
	height: 102px;
	margin-bottom: 20px;
}
.product-info .thumb {
	width: 100px;
	height: 100px;
	border: 1px solid white;
	margin-right: 10px;
}
.product-info .thumb img {
	width: 100px;
	height: 100px;
}
.product-info .thumb:last-child {
	margin: 0;
}
.product-info .thumb:hover {
	border-color: #e5e5e5;
}
.product-info .image-additional a {
	float: left;
	display: block;
}
.product-head {
	margin-bottom: 20px;
	overflow: auto;
}
.product-body {
	overflow: auto;
	margin-bottom: 20px;
}

.product-info .options, .product-info .option {
	list-style: none;
	display: block;
}
.product-info .options {
	padding: 0;
	overflow: auto;
}
.product-info .option {
	float: left;
	width: 50px;
	height: 50px;
	margin: 5px 10px 5px 0;
	border: solid 1px white;
	cursor: pointer;
}
.product-info .option:hover {
	border-color: #ccc;
}
.product-info .option.selected {
	border-color: red;
}
.product-info .option-img {
	width: 50px;
	height: 50px;
}
.product-info .option.disabled img {
	opacity: .25; /* standard: ff gt 1.5, opera, safari */
	-ms-filter:"alpha(opacity=50)"; /* ie 8 */
	filter:alpha(opacity=50); /* ie lt 7 */
	-webkit-opacity:.25;
	-khtml-opacity:.50; /* safari 1.x */
	-moz-opacity:.50; /* ff lt 1.5, netscape */
	-o-opacity:.50;
}

.product-info .review-total {
	float:left;
}
.product-info .review-total a {
	color: #666;
	font-size: 12px;
	text-decoration: underline;
}
.product-info .half-left {
	width: 220px;
	line-height: 1.2em;
	vertical-align: top;
}
.product-info .half-right {
	line-height: 1.2em;
	vertical-align: top;
}
.product-info .buy-text {
	margin-bottom: 10px;
	font-size: 12px;
}
#product-description {
	font-size: 14px;
}
.product-info .description-img {
	max-width: 508px;
	*width: 508px;
	height: auto;
}
#review-summary, #review-stats {
	float: left;
}
#review-summary {
	width: 400px;
}
#review-stats {
	width: 450px;
	margin-left: 50px;
}
.review-stats-row {
	margin-bottom: 3px;
}
.rating-bar {
	display: inline-block;
	vertical-align: middle;
	width: 300px;
	height: 16px;
	background: #ccc;
	border-radius: 3px;
}
.rating-bar span {
	display: block;
	height: 100%;
	background: #e74c3c;
	border-radius: 3px;
}
#review-list-wrapper  {
	margin: 0 auto 20px;
	width: 900px;
}
#review-list .review {
	margin: 0 auto 10px;
	padding: 10px 0;
	border-bottom: solid 1px #ccc;
	overflow: auto;
}
#review-list .review .head {
	width: 180px;
	float: left;
}
#review-list .review .body {
	width: 720px;
	float: left;
}
.review-recommend {
	margin-top: 1em;
	margin-left: -24px;
}
.recommend-icon {
	display: inline-block;
	vertical-align: bottom;
	width: 17px;
	height: 17px;
	background: url('/ui/img/recommend.png') no-repeat;
	margin-right: 5px;
}
.recommended {
	overflow: auto;
	padding-left: 40px;
}
.product-info #price {
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	color: black;
}
.product-info #stock-text.green {
	color: #1AA678;
}
.product-info .buttons .outofstock {
	font-size: 16px;
	color: red;
	display: none;
}
.product-info .links a {
	display: inline-block;
	margin: 0 10px;
}
.product-info .delivery .button {
	margin-right: 10px;
}
.youtube-title {
	font-size: 16px;
	margin-bottom: 10px;
}

#review-form {
	width: 600px;
	margin: 20px auto;
}
#review-form textarea {
	border: solid 1px #aaa;
	border-radius: 5px;
	padding: 10px;
	margin: 5px 0 10px;
	width: 580px;
}
#review-form .author {
	border: solid 1px #aaa;
	border-radius: 4px;
	padding: 5px 8px;
}
#review-form .title {
	margin-bottom: 5px;
	font-size: 20px;
}
.button.recommend {
	font-size: 16px;
	color: black;
	padding: 3px 10px;
	border: solid 1px #aaa;
	border-radius: 5px;
	text-decoration: none;
}
.button.recommend.active {
	background: #71CD72;
	color: white;
	border-color: black;
}
.button.recommend input {
	display: none;
}

.divider {
	margin: 10px 0;
	border-bottom: solid 1px #ccc;
}

.cycle-slideshow {
	margin: 0 !important;
}

.slider-arrow-left, .slider-arrow-right {
	display: block;
	width: 22px;
	cursor: pointer;
}
.slider-arrow-left {
	background: url('/ui/img/slider-arrow-left.png') no-repeat left center;
}
.slider-arrow-right {
	background: url('/ui/img/slider-arrow-right.png') no-repeat left center;
}
.slider-arrow-left:hover, .slider-arrow-right:hover {
	background-position: -22px center;
}

#intro-catalog .cycle-slideshow {
	width: 900px;
	float: left;
}
#intro-catalog .slider-arrow-left, #intro-catalog .slider-arrow-right {
	width: 20px;
	height: 600px;
	margin: 0 9px;
}
#intro-catalog .slide {
	height: 600px;
	margin: 0;
}

.related-products-title {
	font: 18px fregat;
	border-bottom: solid 1px #aaa;
	margin-bottom: 15px;
}
.tabs {
	border-bottom: solid 1px #e52451;
	margin-bottom: 10px;
}
.tabs a, .tabs span {
	display:inline-block;
	width: auto;
	padding: 10px;
	margin-right: 5px;
	color: white;
	font: 18px fregat, sans-serif;
	text-decoration: none;
	text-align:center;
	border:solid 1px #e52451;
	border-bottom:none;
	background: -webkit-linear-gradient(#e52451, #AD0924);
	background: -moz-linear-gradient(#e52451, #AD0924);
	background: -ms-linear-gradient(#e52451, #AD0924);
	background: -o-linear-gradient(#e52451, #AD0924);
	background: linear-gradient(#e52451, #AD0924);
}
.tabs a.active, .tabs span.active {
	background: white;
	color: #e52451;
	border-bottom: solid 1px white;
	margin-bottom: -1px;
}
.tab-content {
	overflow:auto;
	display: none;
}
.tab-content.active {
	display: block;
}

.rating {
	display:inline-block;
	width: 70px;
	height: 14px;
	background: url('../img/rating-heart.png') repeat-x bottom left;
	text-align: left !important;
}
.rating span {
	display: block;
	height: 14px;
	background: url('../img/rating-heart.png') repeat-x top left;
}
.rating .value {
	display: block;
}
.rating .value-0 {
	width: 0px;
}
.rating .value-1 {
	width: 14px;
}
.rating .value-2 {
	width: 28px;
}
.rating .value-3 {
	width: 42px;
}
.rating .value-4 {
	width: 56px;
}
.rating .value-5 {
	width: 70px;
}

.rating-big {
	display:inline-block;
	width: 120px;
	height: 24px;
	background: url('../img/rating-heart-big.png') repeat-x bottom left;
	text-align: left !important;
}
.rating-big span {
	display: block;
	height: 24px;
	background: url('../img/rating-heart-big.png') repeat-x top left;
}
.rating-big .value {
	display: block;
}
.rating-big .value-0 {
	width: 0px;
}
.rating-big .value-1 {
	width: 24px;
}
.rating-big .value-2 {
	width: 48px;
}
.rating-big .value-3 {
	width: 72px;
}
.rating-big .value-4 {
	width: 96px;
}
.rating-big .value-5 {
	width: 120px;
}

.intro-section-wrapper {
	position: relative;
	border-bottom: solid 1px #ccc;
	overflow:hidden;
}
.intro-section-bg {
	width:100%;
	height:auto;
	margin-bottom:-4px;
}
.intro-section {
	width:980px;
	margin: 0 auto;
}
.intro-section > div {
	background: rgba(255,255,255,0.75);
	position: absolute;
	top: 0px;
	z-index: 1;
	width:400px;
	padding:20px;
	height:100%;
}
.intro-section h1 {
	font-family: fregat;
	font-size: 32px;
	line-height: 40px;
}
.intro-section .btn-intro {
	display:inline-block;
	width: 150px;
	height: 30px;
	line-height:30px;
	text-align:center;
	background: #e52451;
	color: white;
	font-size: 18px;
}

.intro-catalog .slide {
	width: 900px;
}

#intro-slider-wrapper {
	height: 310px;
	padding: 0 10px;
	background: white;
}
#intro-slider {
	float: left;
	width: 780px;
	height: 310px;
	position: relative;
	overflow: hidden;
}
#intro-slider .label {
	width: 150px;
	display:inline-block;
	text-align: center;
	font-size: 11px;
	padding-bottom: 3px;
	cursor: pointer;
}
#intro-slider .label.active {
	color: #e52451;
}
#intro-slider .controls {
	position: relative;
	height: 25px;
	padding: 5px 0;
	width: 100%;
	margin-top: -35px;
	z-index:200;
}
#intro-slider .prev, #intro-slider .next {
	position: absolute;
  	z-index:201;
  	width:50px;
  	height:25px;
	cursor: pointer;
	background-position: top left;
	background-repeat: no-repeat;
}
#intro-slider .prev {
 	left: 40px;
	top: 0;
	background-image: url('../img/banner-arrow-left.png');
}
#intro-slider .next {
 	right: 40px;
	top: 0;
  	background-image: url('../img/banner-arrow-right.png');
}
#intro-slider .prev:hover, #intro-slider .next:hover {
	background-position: bottom left;
}
#intro-slider .cycle-pager {
	margin: 0 auto;
	max-width: 400px;
	text-align: center;
}
#intro-slider .cycle-pager a {
	display: inline-block;
	width: 17px;
	height: 17px;
	background: url('/ui/img/banner-dots.png') no-repeat;
	background-position: top left;
}
#intro-slider a.cycle-pager-active {
	background-position: bottom left;
}
.promo-300 img {
	display:block;
}
.promo-slider-right {
	width: 200px;
}
.promo-slider-right img {
	display: block;
	width: 200px;
	height: 155px;
}
.advantage-slider-menu {
	width: 220px;
	height: 29px;
	margin: 25px 0 0 0;
}
.advantage-slider-menu .cycle-slideshow {
	width: 176px;
	float: left;
}
.advantage-slider-menu .advantage-slide-small {
	width: 176px;
	height: 29px;
}
.advantage-slider-menu .advantage-slide-small img {
	margin-right: 10px;
}
.advantage-slider-menu .slider-arrow-left, .advantage-slider-menu .slider-arrow-right {
	width: 22px;
	height: 100%;
}
.advantage-slider {
	width: 550px;
	height: 500px;
	z-index: 1000;
}
.advantage-slider .slider-arrow-left, .advantage-slider .slider-arrow-right {
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 1001;
}
.advantage-slider .slider-arrow-right {
	right: 0;
}

footer {
	background: #464646 url('/ui/img/footer-bottom-bg.png');
  	color: white;
	padding-bottom:20px;
}
footer a {
	color: #999 !important;
}
footer a:hover {
	color: white !important;
}
.footer-top {
	background: #464646 url('/ui/img/footer-top-bg.png');
}
#brands {
	margin: 40px auto;
}
#brands .brand-logo {
	width: 240px;
	height: 130px;
}
#brands .brand-logo:hover {
	box-shadow: 0 0 1px 2px #ccc;
}
footer .container {
  	padding: 15px 0;
}
footer nav {
	display: block;
	width: 750px;
	margin: 20px auto;
	overflow: auto;
}
footer nav .column {
	width: 150px;
	float: left;
}
#footer-social {
 	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: solid 2px #999;
}
#footer-social td {
	width: 20%;
}
#footer-social a {
	display: inline-block;
	width: 160px;
}
#footer-social a img {
 	vertical-align: top;
  	float:left;
  	margin-right:5px;
}

.blog-list article {
	margin: 20px;
	padding-bottom: 20px;
	border-bottom: solid 1px #ccc;
}
.blog-list .imagebox {
	width: 200px;
	height: 200px;
}
.blog-list .preview {
	width: 720px;
	margin-left: 20px;
}
.blog-item-detailed {
	margin: 20px;
}
.blog-item-detailed .imagebox {
	margin: 0 15px 15px 0;
}
.static-page .imagebox {
	margin: 0 15px 15px 0;
}

.cart-list thead td {
	text-align: center;
	font-size: 14px;
	color: #656565;
}
.cart-list tbody {
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
}
.cart-list td {
	padding: 5px 10px;
}
.cart-list .imagebox {
	width: 100px;
	height: 100px;
}
.cart-list .name {
	font-size: 14px;
	color: #656565;
	text-decoration: underline;
}
.cart-list .short-description {
	font-size: 11px;
	color: #656565;
}
.cart-list .price-old span {
	color: #aaa;
}
.cart-list .number-input {
	font-size: 16px;
	padding: 3px 5px;
	border: solid 1px #999;
}
.cart-list .totals {
	font-size: 18px;
}
.cart-list .input-promo {
	border: solid 1px #ccc;
	width: 220px;
	font-size: 14px;
	padding: 3px;
	margin-right: 10px;
}
.cart-list .remove {
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}

.cart-offer thead {
	background: #c6e3a0;
}
.cart-offer thead.checked {
	background: #329700;
}
.cart-offer thead.checked .offer-title {
	color: white;
}
.cart-offer thead td {
	text-align: left;
	font-size: normal;
	color: black;
}
.cart-offer tbody {
	border: none;
}
.cart-offer .offer-title {
	font-size: 16px;
}

#oneclick-form {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index: 1000;
	display: none;
}
#oneclick-form .bg {
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.3;
}
#oneclick-form .wrapper {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index: 1001;
}
#oneclick-form .modal {
	background: white;
	box-shadow: 0 4px 8px #333;
}
.modal {
	width: 380px;
	border-radius: 4px;
}
.modal td {
	padding: 5px 8px;
}
.modal thead td {
	background-color: #333;
	color: white;
	padding: 10px;
	font-size: 14px;
}
.modal .close {
	display: inline-block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: #777;
	line-height: 20px;
	text-align: center;
	font-weight: bold;
}


#search-form input {
	padding: 3px 5px 3px;
	border: solid 1px #ccc;
	margin: 0;
	float:left;
}
#search-form .submit {
	background: #e52451;
	border-color: #e52451;
	color: white;
}
#search-form .search {
	border-right: none;
}

.userform {
	width: 360px;
	margin: 0 auto;
	padding: 20px;
	border: solid 1px #eee;
}

.cart-modal {
	padding: 20px;
}
.cart-modal .text {
	font: 18px fregat;
	text-align: center;
}
.cart-modal .cart-link {
	font-size: 16px;
	margin-bottom: 1em;
}

#order-form {
	border-top: solid 1px #ccc;
	padding-top: 20px;
}
#order-form .left-column {
	width: 600px;
	padding-left: 10px;
	margin-right: 19px;
	border-right: dashed 1px #ccc;
}
#order-form .right-column {
	width: 340px;
	padding-right: 10px;
	min-height: 0 !important;
	margin: 0;
}
#order-form table {
	margin-bottom: 20px;
}
#order-form table td {
	padding: 5px 8px;
	vertical-align: top;
}
#order-form .input.city {
	max-width: 182px;
	background: white;
}
#order-form .input.region {
	max-width: 182px;
	background: white;
}
#order-form .input.city.loading {
	background: white url('/ui/img/loadgif.gif') no-repeat 440px center;
}
#order-form input[type="radio"] {
	margin-right: 10px;
}
#order-form h3 {
	color: #e52451;
	font-size: 14px;
}
#oneclick-form-container {
	padding: 25px 20px;
	border: solid 1px #ccc;
	border-radius: 3px;
	background: #fdeef3;
	margin: 35px auto 30px;
}
#order-form .imagebox {
	width: 60px;
	height: 60px;
}
#order-form .price {
	font-size: 12px;
	word-wrap: nowrap;
}
#order-form .ptype-select {
	list-style: none;
	padding: 0;
	margin-bottom: 40px;
}
#order-form .ptype-select li {
	margin: 10px;
}
#order-form .ptype-select img {
	vertical-align: middle;
}
#order-form .totals {
	font-size: 14px;
	color: #656565;
}
#order-form .disabled {
	color: #ccc;
}
#dtype-1 span {
	border-bottom: dashed 1px #e52451;
	cursor: pointer;
}

#delivery-address-form td {
	vertical-align: middle !important;
}

.kladr-error {
    color: #cb3e27;
}

#kladr_autocomplete ul {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    border: 1px solid #c4c4c4;
    background-color: white;
    z-index: 9999;
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 200px;
    max-height: 420px;
    color: #313131;
}

#kladr_autocomplete li {
    display: list-item;
    list-style-type: none;
    margin: 0;
    padding: 8px 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#kladr_autocomplete li + li {
    border-top: 1px solid #ededed;
}

#kladr_autocomplete li:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

#kladr_autocomplete li.active {
    background-color: #e9e9e9;
}

#kladr_autocomplete a {
    text-decoration: none;
}

#kladr_autocomplete strong {
    color: #038ebd;
}

#kladr_autocomplete .spinner {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    background: transparent url("/ui/img/spinner.png") center center no-repeat;
    z-index: 9999;
}

.popup {
	top: -30px;
	right: -220px;
	padding: 5px;
	background: #ffd;
	box-shadow: 0 0 1px 2px #aaa;
	border-radius: 3px;
	display: none;
}

.account-page .left-column {
	width: 180px;
	height: 400px;
	border-right: solid 1px #ccc;
}
.account-page .right-column {
	width: 760px;
}
.account-menu, .account-menu li {
	margin: 0 0 5px 0;
	list-style: none;
}
.account-menu .title {
	font-size: 16px;
	margin-bottom: 10px;
	color: #e52451;
}
.account-menu a {
	margin-left: 20px;
	color: black;
	font-size: 14px;
	margin-bottom: 5px;
}
.wishlist .imagebox {
	width: 60px;
	height: 60px;
}

.bonus-circle {
	width: 150px;
	height: 150px;
	margin-bottom: 20px;
	line-height: 150px;
	text-align: center;
	vertical-align: middle;
	font-size: 48px;
	background: #FF5187;
	color: white;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	border: solid 2px #ee4076;
}


/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/*
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#fff;}
#colorbox{outline:0;}
    #cboxContent{margin-top:32px; overflow:visible; background:#fff;border:solid 1px #777;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{background:#fff; padding:1px;}
        #cboxLoadingGraphic{background:url('/ui/img/loading.gif') no-repeat center center;}
        #cboxLoadingOverlay{background:#fff;}
        #cboxTitle{position:absolute; top:-22px; left:0; color:#000;}
        #cboxCurrent{position:absolute; top:-22px; right:205px; text-indent:-9999px;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; text-indent:-9999px; width:20px; height:20px; position:absolute; top:-21px; background:url('/ui/img/controls.png') no-repeat 0 0;}

        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxPrevious{background-position:0px 0px; right:44px;}
        #cboxPrevious:hover{background-position:0px -25px;}
        #cboxNext{background-position:-25px 0px; right:22px;}
        #cboxNext:hover{background-position:-25px -25px;}
        #cboxClose{background-position:-50px 0px; right:0;}
        #cboxClose:hover{background-position:-50px -25px;}
        .cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
        .cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
        .cboxSlideshow_on #cboxSlideshow:hover{background-position:-100px -25px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
        .cboxSlideshow_off #cboxSlideshow:hover{background-position:-75px -25px;}
#vk_like {
	display:inline-block;
}

.paid, .not-paid {
	padding: 3px 5px;
}
.paid {
	background: #bfebbe;
}
.not-paid {
	background: #fcd;
}

.msw-geo-logo, .cw-poweredby {
	display: none !important;
}
#ms_deliverytype_todoor, #ms_deliverytype_pickup {
	color: #e52451;
}
#ms_deliverytype_todoor.cw-active, #ms_deliverytype_pickup.cw-active {
	font-weight: bold;
}
#mswidget .cw-container {
	width: 100%;
}
#ms-error {
	margin: 10px 20px 0 0;
}
#a0d04139f58dbd4a0bb6bfc981cef57f.ms-widget-container {
	z-index: 9999 !important;
}

#free-shipping {
	padding: 10px;
	border: solid 1px #e9e9e9;
	border-radius: 5px;
	font: 12px Tahoma;
	margin-top: 10px;
}

.waybill td {
	border-color: black;
}

/* Retail Rocket product widget */
.no_nav_list {
	padding: 0 !important;
}

.deliveries {
	margin: 0 auto 30px;
}
.deliveries td {
	vertical-align: top;
}
.deliveries .column {
	width: 50%;
	padding: 0 10px;
}
.deliveries .delivery-title {
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 15px;
}
.deliveries .delivery-row {
	margin-bottom: 1em;
}
.deliveries .delivery-row .iblock {
	vertical-align: top;
}

.delivery-city-list {
	width: 700px;
	margin: 0 auto 40px;
}
.delivery-city-list td {
	width: 20%;
	padding: 3px 5px;
	vertical-align: top;
}
.icon {
	display: inline-block;
	vertical-align:middle;
}
.icon-todoor, .icon-pickup, .icon-pr {
	width: 24px;
	height: 24px;
	background: url('/ui/img/deliv_icons.png') no-repeat;
}
.icon-todoor {
	background-position: left center;
}
.icon-pickup {
	background-position: center center;
}
.icon-pr {
	background-position: right center;
}

#dtype-select {
	display: inline-block;
	width: 440px;
	padding: 5px;
	background: white url('/ui/img/select-arrow.png') no-repeat center right;
	border: solid 1px #aaa;
	border-radius: 2px;
	height: 1em;
	overflow: hidden;
	vertical-align: middle;
}
#ms-delivery-container {
	position: absolute;
	max-height: 300px;
	min-width: 450px;
	overflow-y: scroll;
	background: white;
	border: solid 1px #ccc;
	z-index: 9999;
	background: white;
}
#ms-delivery-select {
	width: 100%;
	margin: 0 !important;
}
#ms-delivery-select .delivery {
	cursor: pointer;
}
#ms-delivery-select .delivery:hover {
	background: #e52451;
}

#order-info h3 {
	color: #e52451;
	margin-bottom: 10px;
}
#order-info .hr {
	margin: 20px auto;
	border-bottom: solid 1px #ccc;
}
#order-info td {
	vertical-align: top;
	padding: 5px 8px;
}
#order-info .status {
	padding: 3px 5px;
}
#tracking-widget {
	max-width: 600px;
}
#tracking-widget table {
	margin-top: 10px;
}
#tracking-widget td {
	border: solid 1px gray;
	padding: 5px 8px !important;
}
.icon-status {
	display: inline-block;
	vertical-align: middle;
	width: 22px;
	height: 22px;
	background: url('/ui/img/ms-icons.png?1') no-repeat -311px 0;
}
.icon-status.check {
	background-position: -333px 0;
}
.icon-status.cancel {
	background-position: -333px -22px;
}

.delivery-provider {
	padding: 10px;
	border: solid 1px #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	cursor: pointer;
	position: relative;
}
.delivery-provider .check {
	display: none;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 20px;
	height: 20px;
	background: url('/ui/img/check.png');
}
.delivery-provider.selected {
	border: solid 2px #e52451;
}
.delivery-provider.selected .check {
	display: block;
}
.delivery-section {
	padding-left: 20px;
}

.icon.delivery {
	display: inline-block;
	vertical-align: middle;
	height: 20px;
	width: auto;
}
.icon.delivery img {
	height: 100%;
	width: auto;
}

.delivery-variant {
	margin: 0 20px 10px 0;
	padding: 5px 10px;
	border: solid 1px #aaa;
	border-radius: 3px;
	min-height: 1em;
}
.delivery-variant.selected {
	border: solid 2px #e52451;
}
.delivery-variant .content {
	display: none;
	margin: 10px 0;
}

#yamimap {
	display: none;
	height: 400px;
}
#yamimap .point-pick {
	display: inline-block;
	background: #e52451;
	padding: 1px 5px;
	border-radius: 3px;
	color: white;
	margin-top: 5px;
}
#delivery-variant-info {
	margin: 20px 10px 20px 0;
	font-size: 14px;
}
.yamimap-placemark {
	position: relative;
}
.yamimap-delivery-icon {
	position: absolute;
	top: -12px;
	left: -12px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: solid 1px #e52451;
}

.yamimap-delivery-icon.delivery-1 {
	background: white url('/ui/img/dservice/axiomus.png') no-repeat center center;
}
.yamimap-delivery-icon.delivery-2 {
	background: white url('/ui/img/dservice/maxima.png') no-repeat center center;
}
.yamimap-delivery-icon.delivery-3 {
	background: white url('/ui/img/dservice/b2cpl.png') no-repeat center center;
}
.yamimap-delivery-icon.delivery-4 {
	background: white url('/ui/img/dservice/boxberry.png') no-repeat center center;
}
.yamimap-delivery-icon.delivery-5 {
	background: white url('/ui/img/dservice/pickpoint.png') no-repeat center center;
}
.yamimap-delivery-icon.delivery-6 {
	background: white url('/ui/img/dservice/qiwipost.png') no-repeat center center;
}
.yamimap-delivery-icon.delivery-7 {
	background: white url('/ui/img/dservice/cse.png') no-repeat center center;
}
.yamimap-delivery-icon.delivery-8 {
	background: white url('/ui/img/dservice/pr.png') no-repeat center center;
}
.yamimap-delivery-icon.delivery-9 {
	background: white url('/ui/img/dservice/sdek.png') no-repeat center center;
}
.yamimap-delivery-icon.delivery-10 {
	background: white url('/ui/img/dservice/yamibox.png') no-repeat center center;
}

.yamimap-delivery-icon.delivery-13 {
	background: white url('/ui/img/dservice/dpd.png') no-repeat center center;
}
.yamimap-delivery-icon.delivery-14 {
	background: white url('/ui/img/dservice/td.png') no-repeat center center;
}
.yamimap-delivery-icon.delivery-16, .yamimap-delivery-icon.delivery-17 {
	background: white url('/ui/img/dservice/part.png') no-repeat center center;
}
.yamimap-delivery-icon.delivery-18 {
	background: white url('/ui/img/dservice/ok.png') no-repeat center center;
}
.yamimap-delivery-icon.delivery-19 {
	background: white url('/ui/img/dservice/sl.png') no-repeat center center;
}

.atwix-star input{display: none;}
.atwix-star {
    background: url("/ui/img/rating-heart-big.png") 0px 24px;
    width: 24px;
    height: 24px;
    display: inline-block;
}
.atwix-star.active{
    background: url("/ui/img/rating-heart-big.png") 0px 0px;
}
.atwix-star.hovered{
    background: url("/ui/img/rating-heart-big.png") 0px 0px;
}

#delivery-pickup-select {
	max-width: 450px;
}

.cart-widget {
	background: white;
	position: fixed;
	right: 40px;
	bottom: 0px;
	z-index: 9999;
}
.cart-widget-min {
	position: relative;
	cursor: pointer;
	padding: 10px 20px 10px 35px;
	background: url('/ui/img/basket-small.png') no-repeat 5px center;
	border: solid 2px #e52451;
	border-bottom: none;
	border-radius: 4px 4px 0 0;
}
.cart-widget-close {
	display: none;
	position: absolute;
	width: 16px;
	height: 16px;
	right: 8px;
	top: 8px;
	background: url('/ui/img/close.png') no-repeat;
}
.cart-widget-list {
	width: 400px;
	max-height: 410px;
	*height: 410px;
	padding: 5px;
	overflow: auto;
	border-left: solid 2px #e52451;
	border-right: solid 2px #e52451;
}
.cart-widget-item  {
	position: relative;
	padding: 5px;
	margin-bottom: 3px;
	border: solid 1px #ccc;
}
.cart-widget-item .imagebox {
	display: inline-block;
	width: 50px;
	height: 50px;
}
.cart-widget-item .text, .cart-widget-item .remove, .cart-widget-item .price {
	position: absolute;
}
.cart-widget-item .text {
	left: 60px;
	top: 5px;
	width: 300px;
}
.cart-widget-item .remove {
	right: 2px;
	top: 2px;
	font: bold 12px Arial, Helvetica, sans-serif;
	padding: 3px;
	cursor: pointer;
}
.cart-widget-item .price {
	right: 5px;
	bottom: 5px;
	font-size: 16px;
}
.cart-widget-footer {
	padding: 10px;
	border-left: solid 2px #e52451;
	border-right: solid 2px #e52451;
	text-align: right;
}
.cart-widget-footer .button {
	background: #e74c3c;
	padding: 5px 8px;
	font-size: 16px;
	color: white;
	text-decoration: none;
}
.cart-widget-footer .button:hover {
	background: #e52451;
}

.promo-brands {
	background: white;
	padding: 0 10px;
}
.promo-brands a {
	display: inline-block;
	width: 120px;
	height: 65px;
	vertical-align: bottom;
}
.promo-brands .all {
	width: auto;
	height: auto;
	margin: 0 0 10px 10px;
}

.podbirator {
	width: 840px;
	height: 160px;
	margin: 20px auto;
}
.podbirator-product {
	width: 100px;
	height: 160px;
	margin: 0 10px;
	float: left;
}
.podbirator-product img {
	width: 100px;
	height: 100px;
}

#freshwidget-button a {
	font-size: 16px;
	padding: 12px 20px;
}
