*{
	font-size:100%;
	line-height:1.4em;
	margin:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
th,td {
	padding:0;
	text-align:left;
	vertical-align:top;
	border-collapse:collapse;
	border-spacing:0;
}
p {
	margin-bottom:1em;
}
input,textarea,select {
	font:normal 100% Arial,sans-serif;
	vertical-align:middle;
}
a {
	color:#06c;
	text-decoration:underline;
}
img {
	border:0;
	vertical-align:middle;
	max-width:100%;
}
input[type="checkbox"] {
	margin:0;
	padding:0;
	vertical-align:middle;
}
label {
	vertical-align:middle;
}
i {
	color:#666;
	font-style:normal;
}
.clear {
	clear:both;
	display:block;
}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {
    display: block;
}
.hidden, [hidden] {
    display: none !important;
}

.nowrap {
	white-space:nowrap;
}

*, :focus {
	outline: none;
}
ol, ul {
	padding-left:1em;
}
li {
	margin:1em;
	margin-left:2em;
}
p {
	margin: 0 auto 1em;
}
img {
	border: none;
}
small, .small {
	font-size:10px;
}
h1,h2,h3,h4,h5,h6 {
	color:#333333;
	font-weight:normal;
	margin-bottom:1em;
	margin-top: 0;
}
h1 {
    font-size: 18px;
}
h2 {
    font-size: 16px;
}
h3 {
    font-size: 14px;
}
h4 {
    font-size: 12px;
}
h5 {
    font-size: 11px;
}
h6 {
    font-size: 10px;
}
pre {
	word-wrap: break-word;
	padding: 1em;
}
select {
	padding:1px;
}
input:not([type]), input[type="color"], input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"] {
	padding: 1px 3px;
}

.fit {
	max-width: 99%;
}
.wide {
	width: 100%;
}
.w50 {
	width:50px;
}
.w75 {
	width:75px;
}
.w100{
	width:100px;
}
.w125 {
	width:125px;
}
.w150 {
	width:150px;
}
.w175 {
	width:175px;
}
.w200 {
	width:200px;
}
.w225 {
	width:225px;
}
.w250 {
	width:250px;
}
.w275 {
	width:275px;
}
.w300 {
	width:300px;
}
.w350 {
	width:350px;
}
.w400 {
	width:400px;
}
.m0a {
	margin: 0 auto;
}
.m20a {
	margin:20px auto;
}
.mb20 {
	margin-bottom:20px;
}
.clear {
	display:block;
	position:relative;
	clear:both;
}
.line {
	height:1em;
}
.red {
	color:red;
}
.blood {
	color:#900;
}
.green {
	color:#090;
}
.blue {
	color:blue;
}
.grey {
	color:#666;
}
.black {
	color:black;
}
.white {
	color:white;
}
.cgrey {
	color:#aaa;
}
.pink {
	color: #ec5384;
}

.dashed {
	border-bottom: dashed 1px;
	text-decoration:none !important;
}
.alert {
	text-align:center;
	padding:1em;
	margin:1em 4px;
	border-radius: 3px;
	font-weight: bold;
	box-shadow: 0px 1px 4px #999;
}
.success {
	background:white;
	color:#090;
}
.notice {
	background:#def;
}
.warning {
	background:#ffd;
}
.error {
	background:#fed;
	color:red;
}
.bold {
	font-weight:bold;
}
.italic {
	font-style:italic;
}
.container {
	padding: 5px;
}
.block {
	display:block;
}
.iblock {
	display:inline-block;
}
.absolute {
	position: absolute;
}
.relative {
	position:relative;
}
.middle {
	vertical-align: middle;
}
.fleft {
	float: left;
}
.fright {
	float: right;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font: 12px Arial;
}
header, footer {
	padding: 5px;
}
header {
	border-bottom: solid 1px black;
	margin-bottom: 5px;
	box-shadow: 0 2px 3px #ccc;
}
header h1 {
	font-size: 16px;
	margin: 0;
	margin-left: 10px;
}
#main {
	min-height: 400px;
	overflow: auto;
}
footer {
	background: #666;
}
footer a {
	color: white;
}

.status {
	font-size: 11px;
	width: 70px;
	text-align: center;
	padding: 1px 3px;
	border-radius: 3px;
}
.status-0 {
	background: #f66;
}
.status-1 {
	background: #f69;
}
.status-2 {
	background: #fc9;
}
.status-3 {
	background: #ff6;
}
.status-4 {
	background: #6c6;
}
.status-5 {
	background: #999;
}
.status-6 {
	background: #def;
}
.status-7 {
	background: white;
}

.paid-0 {
	background: #f66;
}
.paid-1 {
	background: #6c6;
}

.cstatus-1 {
	background: #f66;
}
.cstatus-2 {
	background: #aaf;
}
.cstatus-3 {
	background: #6c6;
}

.header {
	margin-bottom: 5px;
	padding: 5px;
}
.order {
	display: block;
	padding: 5px;
	min-height: 40px;
	border: solid 1px #777;
	border-left: none;
	border-right: none;
	margin-bottom: 3px;
	background:#eee;
	cursor: pointer;
}
.order .id {
	font-size: 16px;
	width: 40px;
	margin-right: 35px;
}
.order .firstname {
	color: #333;
}
.order .sum {
	font-size: 16px;
	color: darkblue;
}

.ms-create {
	padding: 5px;
	background: orange;
	color: white;
	text-decoration: none;
}

#order td {
	padding-right: 5px;
	padding-bottom: 3px;
}
#order select[name="status"], #order select[name="paid"], #order select[name="cstatus"] {
	font-size: 16px;
}
#order .client td {
	padding: 0 5px 3px 0;
	line-height: 150%;
	vertical-align: middle;
}
#order .client {
	background: #def;
}
#order .delivery {
	background: #edf;
}
#order .comment {
	background: #fed;
}
#order .products {
	background: #fed;
}

#loadgif {
	height: 40px;
	background: url('/ui/img/loading.gif') no-repeat center center;
}
