html {
	
}
header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 90px;
	padding: 0;
}
header .cell {
	vertical-align: middle;
}
.logo {
	height: 40px;
}
.logo img {
	margin: 5px;
	height: 40px;
}
.telephone {
	font-size: 18px;
	line-height: 24px;
	color: #333;
}
header .cart-count {
	left: 100%;
	top: 4px;
	padding: 2px 3px;
	background: #E52451;
	color: white;
	font-size: 11px;
	line-height: 11px;
	min-width: 10px;
	text-align: center;
}
#search-form .search {
	padding: 5px;
	border: solid 2px #E52451;
	margin-top: 5px;
	width: 330px;
}

.balloon {
	display: none;
	position: absolute;
	background: white;
	padding: 15px;
	border: solid 1px #E52451;
	border-radius: 3px;
}
.balloon:after, .balloon:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.balloon:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
.balloon:before {
	border-color: rgba(229, 36, 81, 0);
	border-bottom-color: #E52451;
	border-width: 11px;
	margin-left: -11px;
}
.callback-balloon {
	top: 54px;
	left: 15px;
}
.delivery-balloon {
	width: 380px;
	top: 54px;
	left: -10px;
}
.delivery-balloon:after, .delivery-balloon:before {
	left: 18%;
}

#form-callback input[type="text"] {
	width: 180px;
	padding: 3px 5px;
	border: solid 1px #777;
	margin-bottom: 10px;
}
#form-callback input[type="submit"] {
	width: 100%;
	padding: 5px;
	color: white;
	background: #E52451;
	border-radius: 3px;
	border: none;
}

.icon-smile, .icon-delivery, .icon-star, .icon-cart {
	width: 24px;
	height: 24px;
}
.icon-smile {
	background: url('/ui/img/icon-smile.png') no-repeat;
}
.icon-delivery {
	background: url('/ui/img/icon-delivery.png') no-repeat;
}
.icon-star {
	background: url('/ui/img/icon-star.png') no-repeat;
}
.icon-cart {
	background: url('/ui/img/icon-cart.png') no-repeat;
}

.container {
	width: 1180px;
}
#catalog-menu {
	width: 100%;
	height: 40px;
	background: #E52451;
	box-shadow: 0 3px 4px #333;
	z-index: 999;
}
#menubar {
	display: table;
	width: 100%;
	height: 100%;
}
#menubar .level1 {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border: none;
}
#menubar .a-level1 {
	font-size: 16px;
	font-weight: thin;
	color: white;
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0 5px;
	border: none;
}
#menubar .dropdown {
	display:none;
	position: absolute;
	background: white;
	padding: 0;
	text-align: left;
	width: 440px;
	min-height: 320px;
	border: none;
	box-shadow: 1px 3px 3px #333;
	z-index: 1000;
}
#menubar .dropdown a {
	color: black;
}
#menubar .dropdown a:hover {
	color: #E52451;
	text-decoration: none;
	font-weight: bold;
}
#menubar .dropdown.wide {
	width: 660px;
}
#menubar .dropdown.wide .level3 {
	width: 470px;
}
#menubar .level1:hover .dropdown, #menubar .dropdown:hover {
	display: block;
}
#menubar .level2 {
	width: 200px;
}
#menubar .a-level2 {
	display: block;
	width: 185px;
	height: 30px;
	line-height: 30px;
	margin: 0;
	padding: 0 0 0 15px;
	font-size: 12px;
	background: white url('/ui/img/menu-beam.png') no-repeat bottom left;
}
#menubar .level3 {
	display: none;
	position: absolute;
	left: 180px;
	width: 250px;
	height: 100%;
	padding-left: 10px;
	top: 0px;
	line-height: 30px;
}
#menubar .level3-title {
	font-size: 16px;
	font-weight: bold;
	color: #E52451;
}
#menubar .a-level2:hover + .level3, #menubar .level3:hover {
	display: block;
}
#menubar .a-level3 {
	
}
#menubar .margintop {
	position: absolute;
	right: 0px;
	top: 0;
	width: 200px;
	height: 100%;
	background: white;
	padding: 0 20px;
	border-left: solid 1px #ccc;
}

#promo-big {
	height: 460px;
	background: white;
}

#intro-seo {
	width:650px;
	margin:20px auto 0;
}
#intro-seo h2 {
	font-size: 12px;
	color: #333;
	text-transform: uppercase;
}

#main {
	border-right: solid 1px #ccc;
	border-left: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	width: 1180px;
	padding: 0;
	margin-top: 90px;
}
#main .rr-widget {
	margin-top: 20px;
}

footer {
	width: 960px;
	margin: 20px auto;
	background: white;
	color: #777;
}
footer .social {
	height: 25px;
	margin-top: 15px;
}
footer .social a {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-left: 25px;
}
footer .social img {
	width: 25px;
	height: 25px;
}

footer a, footer a:hover {
	color: black !important;
}
footer nav h3 {
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 5px;
}
footer nav {
	line-height: 18px;
}

footer .subscription {
	height: 140px;
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	margin: 20px 0;
}
footer .subscription .cell {
	vertical-align: middle;
}
footer .goodnews {
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 16px;
}
footer .str2 {
	font-style: italic;
	font-size: 14px;
}
#form-subscription input {
	float: right;
	font-size: 14px;
	line-height: 14px;
}
#form-subscription input[type="email"] {
	border: solid 1px #777;
	padding: 8px 10px;
	width: 270px;
}
#form-subscription .loading {
	background: white url('/ui/img/loadgif.gif') no-repeat right 10px center;
}
#form-subscription input[type="submit"] {
	padding: 10px 15px;
	background: #E52451;
	color: white;
	border: none;
	margin-left: 10px;
}


